{% extends "./nunjucks/layout.njk" %}
{% from "nunjucks/returns/macros/return-header.njk" import returnHeader %}
{% from "nunjucks/returns/macros/return-declaration.njk" import returnDeclaration %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {{ returnHeader(data, documentHeader, showMeta) }}
      </div>
    </div>

      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Nil return</h2>
        {{ returnDeclaration(isAdmin) }}
        {{ formRender(form) }}
      </div>
  </main>
</div>
{% endblock %}
