{% extends "./nunjucks/layout.njk" %}
{% from "panel/macro.njk" import govukPanel %}

{% block content %}

{% set titleHtml %}
<p class="panel-body-title--white-text">
  Return submitted
</p>
{% endset %}

{% set html %}
<p class="panel-body--white-text">
  Licence number <strong>{{ return.licenceNumber }}</strong><br /></br/>
  Site description <strong>{{ return.metadata.description }}</strong><br /></br/>
  Purpose <strong>{{ return.metadata.purposes[0].tertiary.description }}</strong>
</p>
{% endset %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
      titleHtml: titleHtml,
      html: html
    }) }}

    <p class="govuk-body govuk-!-margin-bottom-9">
      <a href="{{ returnUrl }}">View this return</a>
    </p>
  </div>
</div>
{% endblock %}
