

<section class="govuk-!-margin-bottom-9">
  <h2 class="govuk-heading-l" id="issuesTitle">
    {% if totals.ready == 1 %}
      1 licence is ready for billing
    {% else %}
      {{ totals.ready }} licences are ready for billing
    {% endif %}
  </h2>

  {{ twoPartTariffLicencesTable(licences, false) }}
</section>



