{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% extends "./nunjucks/layout.njk" %}
{% from "forms/index.njk" import formRender,
formErrorSummary %}
{% from "title.njk" import title %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ title(pageTitle, caption)}}

      {{ govukSummaryList(answers | checkAnswers) }}

      {% if startDateIsBeforeSrocStart and isTwoPartTariff %}
      {{ govukInsetText({
          text: 'To affect the charge, this agreement must be applied to a charge element.'
      })}}

      {% elif not startDateIsBeforeSrocStart %}

      {{ govukInsetText({
        text: 'To affect the charge, this agreement must be applied to a charge category.'
      })}}
      {% endif %}


      {{ formRender(form) }}
    </div>
  </div>
{% endblock %}
