{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% extends "./nunjucks/layout.njk" %}
{% from "forms/index.njk" import formRender,
formErrorSummary %}
{% from "title.njk" import title %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ formErrorSummary(form) }}

      {{ title(pageTitle, caption)}}

      {% set insetText %}
      <p class="govuk-body">This agreement will start on
        <strong>{{ startDate | date }}</strong>.
      </p>

      {% if isLicenceStartDate %}
        <p class="govuk-body">This is the licence start date</p>
      {% endif %}

      {% if isFinancialYearStartDate %}
        <p>This is the start of the new financial year.</p>
      {% endif %}

      {% endset %}

      {{ govukInsetText({ html : insetText }) }}

      {{ formRender(form) }}
    </div>
  </div>
{% endblock %}