{% extends "./nunjucks/layout.njk" %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "nunjucks/view-licences/macros/verifications-alert.njk" import verificationsAlert %}
{% from "badge.njk" import badge %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <!-- page heading -->
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">{{ licenceTitle }}</span>
        Charge version {{ chargeVersion.versionNumber }}
      </h1>

      {% if chargeVersion.status !== 'superseded' %}
        <div class="govuk-!-margin-bottom-6">
          {{ badge(chargeVersion | chargeVersionBadge) }}
        </div>
      {% endif %}

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Last billed</dt>
          <dd class="govuk-summary-list__value">
            {{ chargeVersion.billedUptoDate | date }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Effective {{ 'period' if chargeVersion.dateRange.endDate else 'from' }}
          </dt>
          <dd class="govuk-summary-list__value">
            {{ chargeVersion.dateRange.startDate | date }}
            {% if chargeVersion.dateRange.endDate %}
              to {{ chargeVersion.dateRange.endDate | date }}
            {% endif %}
          </dd>
        </div>
      </dl>

      {% for chargeElement in chargeVersion.chargeElements %}
        <h2 class="govuk-heading-l">{{ chargeElement.purposeUse.name }}</h2>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Description</dt>
            <dd class="govuk-summary-list__value">
              {{ chargeElement.description | titleCase }}
            </dd>
          </div>

          {% if chargeElement.billableAnnualQuantity !== null %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Billable quantity</dt>
              <dd class="govuk-summary-list__value">
                {{ chargeElement.billableAnnualQuantity }} megalitres per year
              </dd>
            </div>
          {% endif %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Authorised quantity</dt>
            <dd class="govuk-summary-list__value">
              {{ chargeElement.authorisedAnnualQuantity }} megalitres per year
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Abstraction period</dt>
            <dd class="govuk-summary-list__value">
              {{ chargeElement | chargeElementAbstractionPeriod }}
            </dd>
          </div>

          {% if chargeElement.timeLimitedPeriod %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Time limited {{ 'period' if chargeElement.timeLimitedPeriod.endDate else 'start date' }}
            </dt>
            <dd class="govuk-summary-list__value">
              {{ chargeElement.timeLimitedPeriod.startDate | date }}
              {% if chargeElement.timeLimitedPeriod.endDate %}
                to {{ chargeElement.timeLimitedPeriod.endDate | date }}
              {% endif %}
            </dd>
          </div>
          {% endif %}

        </dl>

        <h3 class="govuk-heading-m">Factors</h3>

        {% if chargeElement.factorsOverridden %}
          {{ badge('Overridden')}}
        {% endif %}

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Loss</dt>
            <dd class="govuk-summary-list__value">
              {{ chargeElement.loss | sentenceCase }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Season</dt>
            <dd class="govuk-summary-list__value">
              {{ chargeElement.season | sentenceCase }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Source</dt>
            <dd class="govuk-summary-list__value">
              {{ chargeElement.source | sentenceCase }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">EUIC source</dt>
            <dd class="govuk-summary-list__value">
              {{ chargeElement.eiucSource | sentenceCase }}
            </dd>
          </div>
        </dl>

        {% if chargeElement.agreements.length %}
          <h3 class="govuk-heading-m">{{ 'Agreement' | pluralize(chargeElement.agreements) }}</h3>

          <dl class="govuk-summary-list">
            {% for chargeAgreement in chargeElement.agreements %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">{{ chargeAgreement.description }}</dt>
                <dd class="govuk-summary-list__value">
                  {{ chargeAgreement.startDate | date }}
                  {{ 'to' if chargeAgreement.endDate else 'ongoing' }}
                  {{ chargeAgreement.endDate | date }}
                </dd>
              </div>
            {% endfor %}
          </dl>
        {% endif %}
        <br />
      {% endfor %}
    </div>
  </div>
{% endblock %}
