{{> styles}}
<main id="content" tabindex="-1">
  {{>element-phase-tag}}{{>element-main-nav}}



  <div class="grid-row">
    <div class="column-two-thirds">


      {{#if notMatched }}
      <h1 class="heading-large">Due returns could not be found for some licences:</h1>

        <ul class="list list-bullet text">
          {{#each notMatched }}<li>{{ this }}</li>{{/each}}
        </ul>

      {{else}}
        <h1 class="heading-large">{{ pageTitle }}</h1>
      {{/if}}


      {{# if licenceNumbers.length }}
      <div class="notice medium-space">
                <i class="icon icon-important">
                  <span class="visually-hidden">Warning</span>
                </i>
                <strong class="bold-small">
                  You are about to send paper return forms to the licence holders for the following licences by post.
                </strong>
              </div>

              <ul class="list list-bullet text">
                {{#each licenceNumbers }}<li>{{ this }}</li>{{/each}}
              </ul>

        {{>form form }}

      {{/if}}

    </div>
  </div>
</main>



{{> footerjs}}


{{> debug}}
