{% from "radios/macro.njk" import govukRadios %}
{% from "./text.njk" import formTextWidget %}

{% macro formRadioWidget(field, form) %}

  {% set options = field | mapFormRadioField %}

  {% for choice in field.options.choices %}
    {% set outerLoop = loop %}
    {% for item in choice.fields %}
      {% set html %}
        {{ formTextWidget(item, form) }}
      {% endset %}
      {% set options = options | setConditionalRadioField(outerLoop.index0, html) %}
    {% endfor %}
  {% endfor %}

  {{ govukRadios(options) }}

{% endmacro %}
