{
  "ignorePatterns": ["test/"],
  "extends":[
    "standard",
    "plugin:cypress/recommended",
    "plugin:sonarjs/recommended"
  ],
  "rules":{
    "sonarjs/no-duplicate-string": "off",
    "semi":[
      2,
      "always"
    ],
    "array-bracket-spacing": [
      "error",
      "never"
    ]
  },
  "plugins":[
    "cypress",
    "sonarjs"
  ]
}
