{
  "extends":[
    "standard",
    "plugin:cypress/recommended"
  ],
  "rules":{
    "semi":[
      2,
      "always"
    ],
    "array-bracket-spacing": [
      "error",
      "never"
    ]
  },
  "plugins":[
    "cypress"
  ]
}
