{{> styles}}
<main id="content">
  {{>element-phase-tag}}
  <nav>
    <div class="breadcrumbs">
      {{>element-header-links}}
      <ol>
        <li>Abstraction Reform</li>
      </ol>
    </div>
  </nav>
  <a class="link-back" href="/licences">Back</a>


  <h1 class="heading-large">{{ pageTitle }}</h1>
  <br><br>
  "permissions":
  {{stringify @root.permissions}}

todo:

1. fetch licence licenceZero
2. parse data structure
3. add validation/data specification

</main>
{{> footerjs}}

{{> debug}}
