{{> styles}}
<main id="content" tabindex="-1">
  {{>element-phase-tag}}
  {{>element-main-nav}}

  <a class="link-back" href="/admin/abstraction-reform">Back</a>

  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-xlarge">
          <span class="heading-secondary">Review licence data</span>
          {{ licence.licence_data_value.LIC_NO }}
      </h1>

      <h2 class="heading-medium" id="licence">Licence Data</h2>

      <a href="/admin/abstraction-reform/licence/{{ documentId }}/edit/licence/{{ data.licence.base.ID }}#{{ @key }}">Edit licence data</a>

      <table>
        <thead>
          <tr>
            <th>NALD Field</th>
            <th>NALD data</th>
            <th>New Value</th>
          </tr>
        </thead>
        <tbody>
        {{#each data.licence.base }}
        <tr>
          <th>{{ @key }}</th>
          <td>{{ this }}</td>
          <td>
            {{#notEqual this (lookup ../data.licence.reform @key )}}
              {{lookup ../data.licence.reform @key }}
            {{/notEqual}}
          </td>
        </tr>
        {{/each}}
        </tbody>
      </table>

      <br />
      <br />
      <br />

      {{#each data.purposes as |purpose| }}

      <h2 id="purpose-{{ purpose.base.ID }}" class="heading-medium">Purpose</h2>

      <a href="/admin/abstraction-reform/licence/{{ ../documentId }}/edit/purpose/{{ purpose.base.ID }}">Edit this purpose</a>

      <table>
        <thead>
          <tr>
            <th>NALD Field</th>
            <th>NALD data</th>
            <th>New Value</th>
          </tr>
        </thead>
        <tbody>
        {{#each purpose.base }}
        <tr>
          <th>{{ @key }}</th>
          <td>{{ this }}</td>
          <td>{{#notEqual this (lookup purpose.reform @key )}}
            {{lookup purpose.reform @key }}
              {{/notEqual}}
          </td>
        </tr>
        {{/each}}
        </tbody>
      </table>

      <br />

      {{/each}}

    </div>
  </div>
</main>
