{{> styles}}

<style type="text/css">
table thead th {
   width: 33%;
   vertical-align: top;
}
table tbody td, table tbody th {
  vertical-align: top;
}
{{#if highlightNald}}
.td.td--nald {
  background: #add8e6;
}
{{/if}}
{{#if highlightAr}}
.td.td--ar {
  background: #add8e6;
}
{{/if}}
</style>

<main id="content" tabindex="-1">
  {{>element-phase-tag}}
  {{>element-main-nav}}

  <a class="link-back" href="/admin/abstraction-reform">Back</a>

  {{# if errors }}
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

        <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
          You need to select a status
        </h2>

        <ul class="error-summary-list">
          <li><a href="#radio-1">Select a status</a></li>
        </ul>

      </div>
    </div>
  </div>
  {{/if}}


  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-xlarge">
          <span class="heading-secondary">Review licence data</span>
          {{ licence.licence_data_value.LIC_NO }}
          <span class="heading-small spaceless" style="display: block; margin-top: 0;">
              Last edited {{ formatISODate lastEdit.timestamp }}
          </span>
      </h1>



      {{# if data.notes }}
      <details role="group" >
        <summary role="button" aria-controls="details-content-0" aria-expanded="true"><span class="summary">Notes about these edits</span></summary>

        {{# each data.notes }}
          <div class="panel panel-border-wide" id="details-content-0" aria-hidden="false">
            <p>
              {{ notes }}
            </p>
            <h2 class="heading-small spaceless">{{ user.email }}, {{ formatISODate timestamp }}</h2>
          </div>
        {{/each}}
        </details>

        <br />
        <br />
      {{/if}}


      <h2 class="heading-medium" id="licence">Licence data</h2>

      {{#if canEdit }}
      <a href="/admin/abstraction-reform/licence/{{ documentId }}/edit/licence/{{ data.licence.base.ID }}">Edit licence data</a>
      {{/if}}
      <br />
      <br />

      <table>
        <thead>
          <tr>
            <th>NALD field</th>
            <th>NALD data</th>
            <th>New value</th>
          </tr>
        </thead>
        <tbody>
        {{#each data.licence.base }}
        <tr>
          <th>{{ @key }}</th>
          <td class="td td--nald">{{ this }}</td>
          <td class="td td--ar">
            {{#notEqual this (lookup ../data.licence.reform @key )}}
              {{lookup ../data.licence.reform @key }}
            {{/notEqual}}
          </td>
        </tr>
        {{/each}}
        </tbody>
      </table>

      <br />
      <br />
      <br />
      <br />

      {{#each data.purposes as |purpose| }}

      <h2 id="purpose-{{ purpose.base.ID }}" class="heading-medium">Purpose</h2>

      {{#if ../canEdit }}
      <a href="/admin/abstraction-reform/licence/{{ ../documentId }}/edit/purpose/{{ purpose.base.ID }}">Edit this purpose</a>
      {{/if}}

      <br />
      <br />

      <table>
        <thead>
          <tr>
            <th>NALD field</th>
            <th>NALD data</th>
            <th>New value</th>
          </tr>
        </thead>
        <tbody>
        {{#each purpose.base }}
        <tr>
          <th>{{ @key }}</th>
          <td class="td td--nald">{{ this }}</td>
          <td class="td td--ar">{{#notEqual this (lookup purpose.reform @key )}}
            {{lookup purpose.reform @key }}
              {{/notEqual}}
          </td>
        </tr>
        {{/each}}
        </tbody>
      </table>

      <br />
      <br />
      <br />
      <br />

      {{/each}}





      {{#each data.points as |point| }}

      <h2 id="point-{{ point.base.ID }}" class="heading-medium">Point</h2>

      {{#if ../canEdit }}
      <a href="/admin/abstraction-reform/licence/{{ ../documentId }}/edit/point/{{ point.base.ID }}">Edit this point</a>
      {{/if}}

      <br />
      <br />

      <table>
        <thead>
          <tr>
            <th>NALD field</th>
            <th>NALD data</th>
            <th>New value</th>
          </tr>
        </thead>
        <tbody>
        {{#each point.base }}
        <tr>
          <th>{{ @key }}</th>
          <td class="td td--nald">{{ this }}</td>
          <td class="td td--ar">{{#notEqual this (lookup point.reform @key )}}
            {{lookup point.reform @key }}
              {{/notEqual}}
          </td>
        </tr>
        {{/each}}
        </tbody>
      </table>

      <br />
      <br />
      <br />
      <br />

      {{/each}}

      {{#each data.conditions as |condition| }}

      <h2 id="condition-{{ condition.base.ID }}" class="heading-medium">Condition</h2>


      {{#if ../canEdit }}
      <a href="/admin/abstraction-reform/licence/{{ ../documentId }}/edit/condition/{{ condition.base.ID }}">Edit this condition</a>
      {{/if}}

      <table>
        <thead>
          <tr>
            <th>NALD field</th>
            <th>NALD data</th>
            <th>New value</th>
          </tr>
        </thead>
        <tbody>
        {{#each condition.base }}
        <tr>
          <th>{{ @key }}</th>
          <td class="td td--nald">{{ this }}</td>
          <td class="td td--ar">{{#notEqual this (lookup condition.reform @key )}}
            {{lookup condition.reform @key }}
              {{/notEqual}}
          </td>
        </tr>
        {{/each}}
        </tbody>
      </table>

      <br />
      <br />
      <br />
      <br />

      {{/each}}
    </div>
  </div>

  <div class="grid-row">
    <div class="column-full">


      {{#if canApprove }}
      <h2 class="heading-large">Workflow</h2>

      <!-- Submit for review -->
      <form method="POST" action="/admin/abstraction-reform/licence/{{ documentId }}/status">
        <input name="csrf_token" type="hidden" value="{{ csrfToken }}" />
        <div class="form-group">
          <label class="form-label" for="notes">
            Notes about these changes (optional)
          </label>
          <textarea class="form-control form-control-3-4" name="notes" id="notes" rows="5">{{ payload.notes }}</textarea>
        </div>

        <div class="form-group">
          <fieldset>

            <legend>
              <h1 class="heading-medium">Do you approve these edits?</h1>
            </legend>

            <div class="multiple-choice">
              <input id="radio-1" type="radio" name="status" value="In progress">
              <label for="radio-1">No</label>
            </div>
            <div class="multiple-choice">
              <input id="radio-2" type="radio" name="status" value="Approved">
              <label for="radio-2">Approved</label>
            </div>
            <div class="multiple-choice">
              <input id="radio-2" type="radio" name="status" value="Licence review">
              <label for="radio-2">Mark for full licence review</label>
            </div>
          </fieldset>
        </div>


        <button type="submit" class="button">Save decision</button>
      </form>
      {{ else }}
        {{# if canSubmit }}
        <h2 class="heading-large">Workflow</h2>

        <!-- Submit for review -->
        <form method="POST" action="/admin/abstraction-reform/licence/{{ documentId }}/status">
          <input name="csrf_token" type="hidden" value="{{ csrfToken }}" />
          <div class="form-group">
            <label class="form-label" for="notes">
              Notes about these changes (optional)
            </label>
            <textarea class="form-control form-control-3-4" name="notes" id="notes" rows="5"></textarea>
          </div>
          <input name="status" value="In review" type="hidden" />
          <button type="submit" class="button">Submit for approval</button>
        </form>
        {{/if}}
      {{/if}}







    </div>
  </div>
</main>
