{% extends "./nunjucks/layout.njk" %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ title(pageTitle, caption) }}
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">Registrations</h2>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <span class="govuk-caption-l">Total</span>
        <h3 class="govuk-heading-l">{{ registrations.totals.allTime }}</h3>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <span class="govuk-caption-l">Total year to date</span>
        <h3 class="govuk-heading-l">{{ registrations.totals.ytd }}</h3>
      </div>
    </div>
    <table class="govuk-table">
        <caption class="govuk-table__caption">Registrations by month</caption>
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">
                  Date
                </th>
                <th class="govuk-table__header govuk-table__header--numeric govuk-!-width-one-third" scope="col">
                  Number of external registrations
                </th>
                <th class="govuk-table__header govuk-table__header--numeric govuk-!-width-one-third" scope="col">
                  Number of internal registrations
                </th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for month in registrations.monthly %}
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">{{ month.month + ' ' + month.year }}</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">{{ month.external }}</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">{{ month.internal }}</td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">Accounts given delegated access</h2>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <span class="govuk-caption-l">Total</span>
        <h3 class="govuk-heading-l">{{ delegatedAccess.totals.allTime }}</h3>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <span class="govuk-caption-l">Total year to date</span>
        <h3 class="govuk-heading-l">{{ delegatedAccess.totals.ytd }}</h3>
      </div>
    </div>
    <table class="govuk-table">
      <caption class="govuk-table__caption">Account access requests given by month</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Date</th>
          <th class="govuk-table__header govuk-table__header--numeric govuk-!-width-one-third" scope="col">
            Number of account access requests given
          </th>
          <th class="govuk-table__header govuk-table__header--numeric govuk-!-width-one-third" scope="col">
            % change on previous month
          </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for month in delegatedAccess.monthly %}
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">{{ month.month + ' ' + month.year }}</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">{{ month.total }}</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">{{ month.change | fixed(2) }}%</td>
          </tr>
        {% endfor %}    
      </tbody>
    </table>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">Returns</h2>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <span class="govuk-caption-l">Total</span>
        <h3 class="govuk-heading-l">{{ returnsMonthly.totals.allTime }}</h3>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <span class="govuk-caption-l">Total year to date</span>
        <h3 class="govuk-heading-l">{{ returnsMonthly.totals.ytd }}</h3>
      </div>
    </div>
    <table class="govuk-table">
      <caption class="govuk-table__caption">Returns recorded on the service by month</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header govuk-!-width-one-third" scope="col">Date</th>    
          <th class="govuk-table__header govuk-table__header--numeric govuk-!-width-one-third" scope="col">Number recorded</th>    
          <th class="govuk-table__header govuk-table__header--numeric govuk-!-width-one-third" scope="col">Number of paper forms requested</th>    
        </tr>
      </thead>
      <tbody class="govuk-table__body">
      {% for month in returnsMonthly.monthly %}
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">{{ month.month + ' ' + month.currentYear }}</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">{{ month.return }}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">{{ month.request }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break">


    {% for cycle in returnCycles %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Returns cycle ending {{ cycle.endDate | date }}</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header govuk-!-width-one-third" scope="col"></th>    
              <th class="govuk-table__header govuk-table__header--numeric govuk-!-width-one-quarter" scope="col">Digital</th>    
              <th class="govuk-table__header govuk-table__header--numeric govuk-!-width-one-quarter" scope="col">Non-digital</th>   
              <th class="govuk-table__header govuk-table__header--numeric govuk-!-width-one-quarter" scope="col">All channels</th>  
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__header govuk-!-width-one-third" scope="row">Completed on time</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                {{ cycle.completedDigitalOnTimeCount | number }}
                ({{ cycle.completedDigitalOnTimeCount | percentage(cycle.totalExcludingVoid) }})
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                {{ cycle.completedNonDigitalOnTimeCount | number }}
                ({{ cycle.completedNonDigitalOnTimeCount | percentage(cycle.totalExcludingVoid) }})
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                {{ cycle.completedOnTimeCount | number }}
                ({{ cycle.completedOnTimeCount | percentage(cycle.totalExcludingVoid) }})
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header govuk-!-width-one-third" scope="row">Completed late</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                {{ cycle.completedDigitalLateCount | number }}
                ({{ cycle.completedDigitalLateCount | percentage(cycle.totalExcludingVoid) }})
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                {{ cycle.completedNonDigitalLateCount | number }}
                ({{ cycle.completedNonDigitalLateCount | percentage(cycle.totalExcludingVoid) }})
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                {{ cycle.completedLateCount | number }}
                ({{ cycle.completedLateCount | percentage(cycle.totalExcludingVoid) }})
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header govuk-!-width-one-third" scope="row">Total completed</th>
              <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold">
                {{ cycle.completedDigitalCount | number }}
                ({{ cycle.completedDigitalCount | percentage(cycle.totalExcludingVoid) }})
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold">
                {{ cycle.completedNonDigitalCount | number }}
                ({{ cycle.completedNonDigitalCount | percentage(cycle.totalExcludingVoid) }})
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold">
                {{ cycle.completedCount | number }}
                ({{ cycle.completedCount | percentage(cycle.totalExcludingVoid) }})
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header govuk-!-width-one-third" scope="row">Received not keyed</th>
              <td class="govuk-table__cell govuk-table__cell--numeric" colspan="3">
                {{ cycle.receivedCount | number }}
                ({{ cycle.receivedCount | percentage(cycle.totalExcludingVoid) }})
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header govuk-!-width-one-third" scope="row">Due</th>
              <td class="govuk-table__cell govuk-table__cell--numeric" colspan="3">
                {{ cycle.dueCount | number }}
                ({{ cycle.dueCount | percentage(cycle.totalExcludingVoid) }})
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header govuk-!-width-one-third" scope="row">Total</th>
              <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold" colspan="3">
                {{ cycle.totalExcludingVoid | number }}
              </td>
            </tr>
          </tbody>
        </table>


        <p>
          Digital take-up {{ cycle.completedDigitalCount | percentage(cycle.completedCount) }}
        </p>
  
      </div>
    </div>
    {% endfor %}

 

  
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">Name added or changed on a licence</h2>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <span class="govuk-caption-l">Total</span>
        <h3 class="govuk-heading-l">{{ licenceNames.totals.allTime }}</h3>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <span class="govuk-caption-l">Total year to date</span>
        <h3 class="govuk-heading-l">{{ licenceNames.totals.ytd }}</h3>
      </div>
    </div>
    <table class="govuk-table">  
      <caption class="govuk-table__caption">Licence names added or changed by month</caption>  
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">    
          <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Date</th>    
          <th class="govuk-table__header govuk-table__header--numeric" scope="col">Number of licences with names added</th>    
          <th class="govuk-table__header govuk-table__header--numeric" scope="col">% change on previous month</th>    
          <th class="govuk-table__header govuk-table__header--numeric" scope="col">Number of licence with names changed</th>    
          <th class="govuk-table__header govuk-table__header--numeric" scope="col">% change on previous month</th>    
        </tr>
      </thead>  
      <tbody class="govuk-table__body">
      {% for month in licenceNames.monthly %}    
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">{{ month.month + ' ' + month.year }}</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">{{ month.named }}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">{{ month.namedChange | fixed(2) }}%</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">{{ month.renamed }}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">{{ month.renamedChange | fixed(2) }}%</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
