.badge {

  min-width: 4rem;
  line-height: 2.25rem;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  font-size: 16px;
  padding: 3px 5px 0 5px;
  background: $grey-4;
  letter-spacing: 1px;
  color: $page-colour;
  
  &--error {
    background: $error-colour;
  }

  &--success {
    background: $button-colour;
  }

  &--warning {
    background: #f47738;
  }

  &--caps {
    text-transform: uppercase;
  }

  &--no-wrap {
    white-space: nowrap;
  }
}
