.badge {
  min-width: 4rem;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  padding: 5px 7px 1px 7px;
  vertical-align: middle;

  color: #005ea5;
  border: 1px solid #005ea5;
  border-radius: 2px;

  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.badge--error {
  border: 1px solid $error-colour;
  color: $error-colour;
}

.badge--success {
  border: 1px solid $button-colour;
  color: $button-colour;
}

.badge--completed {
  border: 1px solid $link-colour;
  color: $link-colour;
}

.badge--due {
  border: 1px solid #df3034;
  color: #df3034;
}

.badge--void {
  border: 1px solid #b10e1e;
  color: #b10e1e;
}

.badge--info {
  border: 1px solid #6f777b;
  color: #6f777b;
}

.badge--no-wrap {
  white-space: nowrap;
}
