.badge {

  min-width: 4rem;
  line-height: 2.25rem;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  font-size: 16px;
  padding: 3px 5px 0 5px;
  background: $grey-4;
  letter-spacing: 1px;
  color: $page-colour;

}

.badge--error {
  background: $error-colour;
}

.badge--success {
  background: $button-colour;
}

.badge--completed {
  background: $link-colour;
}

.badge--void {
  background: #b10e1e;
}

.badge--info {
  background: #6f777b;
}

.badge--caps {
  text-transform: uppercase;
}

.badge--no-wrap {
  white-space: nowrap;
}
