/**
 * Data row element - used in abstraction conditions view.
 */
.data-row-group:last-child {
  border-bottom: 1px solid $border-colour;
}

.data-row {

  padding: 0.5em 0;
  border-top: 1px solid $panel-colour;

  details {
    summary {
      margin-bottom: 0;
    }
    &>div {
      margin-top: 0.5em;
    }
  }

  &--section {
    border-color: $border-colour;
  }

  &--no-top-border {
    border-top: 0;
  }

  @media screen and (min-width: 641px) {
    display: flex;
  }

  // Abstraction point heading
  h3.heading-small {
    margin: 0;
  }

  &__param {
    font-weight: bold;

    @media screen and (min-width: 641px) {
        flex: 0 0 22%;
        font-weight: normal;
        padding-right: 11%;
    }
  }

  &__value {
    @media screen and (min-width: 641px) {
        flex: 0 0 67%;
    }
  }

  &--heading {
    border: none;
    .data-row__param {
      font-weight: bold;
    }
  }
}

/* Sub-list in data-table */
.sub-list {
  width: 100%;
  margin-bottom: 0.5em;

  &--no-bottom-border {
    @media screen and (min-width: 641px) {
      margin-bottom: -1px;
    }

    li:last-child {
      padding-bottom: 0;
      border-bottom: 0;
    }
  }

  li {
    display: block;
    padding: 0.5em 0 0.4em 0;
    margin: 0;
    border-bottom: 1px solid $panel-colour;

    &:first-child {
      @media screen and (min-width: 641px) {
        padding-top: 0;
      }
    }
  }
}

.greyline {
  border-bottom: 1px solid #bfc1c3;
}
