
/* returns form fields */
.form-control--small {
  @media screen and (min-width: 641px) {
    width: 20rem;
  }
}

.form-control--reading {
  text-align: right;
  font-family: monospace;

  @media screen and (min-width: 641px) {
    width: 24rem;
  }
}

.form-date {
  overflow: hidden;
}

.date-fill-buttons {
  float: left;
  padding-top: 32px;
  display: flex;
}

.date-fill-buttons__button {
  // Hidden by default, will be shown if the user has JS enabled.
  display: none;
  border: none;
  color: blue;
  cursor: pointer;
  text-decoration: underline;
  @include bold-19;
  background: none;
  padding-right: 16px;
}
