.form {
  &--well {
    border: 1px solid $border-colour;
    background: $highlight-colour;
    padding: 28px;
    margin-bottom: 3em;

    position: relative;
  }

  &-cancel {

    margin: 1em 0 0 0;

    @media screen and (min-width: 641px) {
      display: inline-block;
      float: right;
      margin-top: 0.5em;
    }
  }
}
