
// subnav container
.navbar {
  border-bottom: 1px solid #bfc1c3;
}

// subnav list
.navbar__list-items li {
  font-weight: 700;
  margin-bottom: 0;
  // display: inline-block;
}

.navlink {
  display: inline-block;
}

// active link for subnav
.navbar .navbar__list-items li a {
  margin-right: 15px;
  color: #0b0c0c;
  display: inline-block;
  text-decoration: none;
  box-shadow: inset 0px -5px 0px 0px rgba(0,0,0,0);
  padding: 15px 5px 10px 5px;
}

.navbar .navbar__list-items li.active a {
  box-shadow: inset 0px -5px 0px 0px #005ea5;
  padding: 15px 5px 10px 5px;
}

// active link for subnav
.navbar .navbar__list-items li.active {
  color: #0b0c0c;
}

.navbar .navbar__list-items li.active a {
  color: #005ea5;
}

.navbar .navbar__list-items {
  position:relative;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.navbar ul li{
  display: inline-block;
}
