.notification-report-table {
  td,th {
    vertical-align: top;
  }
}

.notification-report-reference {
  margin-top: 0;
  padding-top: 8px;
  color: #6f777b;
}

.notification-report-date {
  margin-top: 0;
  padding-top: 8px;
}
