.notification-preview {
  background-color: $govuk-blue;
  color: $page-colour;
  padding: 30px;
  word-wrap: break-word;

  h1 {
    font-size: 1.15em;
    font-weight: bold;
  }

  h1 + h1 {
    margin-top: 16px;
  }

  li {
    list-style: disc;
    margin-left: 1em;
    padding-left: 1em;

  }

  a {
    color: #fff;
  }

  blockquote {
    padding-left: 1em;
    border-left: 10px solid #BFC1C3;
  }

  strong {
    font-weight: bold;
  }
}


.govuk-box-highlight {
  &--accessible {
    background: #208070;
  }
}
