// Table styles
table {
  .numeric {
    text-align: right;
  }

  td {
    &--centred {
      text-align: center;
    }
  }

  tfoot {
    &.totals {
      th, td {
        font-weight: bold;
      }
    }
  }


}



// Flextable
.table {
  padding-bottom: 15px;
  @media (min-width: 768px) {
    display: table;
    width: 100%;
  }
}

.table-row {

  margin-bottom: 30px;
  @media (min-width: 768px) {
    display: table-row;
  }

  // If JS is enabled, user can click entire table row to view licence
  // Hint to user this is possible by displaying hover state on table row
  .js-enabled &.clickable {
    &:hover {
      cursor: pointer;
      background: $highlight-colour;
    }
  }

}

.table-head {
  display: none;
  @media (min-width: 768px) {
    display: table-row;
  }
}

.table-cell {
  font-size: inherit;

  border-bottom: 1px solid #bfc1c3;
  padding: 15px;
  padding-left: 0;


  @media (min-width: 768px) {
    display: table-cell;
    vertical-align: middle;
  }

  &--date {
    @media (min-width: 768px) {
      min-width: 170px;
    }
  }
}

.table-cell .multiple-choice {
  white-space:nowrap;
  float: none;
  overflow: auto;
}


.context {
  color: $grey-1;
  display: block;
  display: auto;
  @media (min-width: 768px) {
    display: none;
  }
}

.full {
  width: 100%;
}
