{% macro userDetails(user) %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-caption-l">{{ "Internal" if user.isInternal else "External" }}</div>
      <h1 class="govuk-heading-l govuk-!-margin-0 break-word">{{user.userName}}</h1>
    </div>
  </div>

  <p class="heading-small">
    {% if user.lastLogin %}
    Last signed in {{user.lastLogin | date('D MMMM YYYY, HH:MM')}}
    {% else %}
      Never signed in
    {% endif %}
  </p>


  {% if user.isLocked  %}
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        User account is locked
      </strong>
    </div>
  {% endif %}
{% endmacro %}
