{% from "./company-verifications.njk" import companyVerifications %}
{% from "./company-licences.njk" import companyLicences %}

{% macro userCompanies(companies, user, unlinkLicencePathTail) %}
  {% for company in companies %}
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <h2 class="govuk-heading-l govuk-!-margin-0">{{ company.name }}</h2>
    <p class="govuk-body govuk-!-font-size-24">
      {{ company.userRoles | mostSignificantEntityRole }}
    </p>
    {{ companyVerifications(company.outstandingVerifications) }}

    {% set userCanUnlinkLicences = (('unlink_licences' in user.scope) and ('primary_user' in company.userRoles)) %}
    {{ companyLicences(company.registeredLicences, userCanUnlinkLicences, unlinkLicencePathTail) }}
  {% endfor %}
{% endmacro %}
