{% from "inset-text/macro.njk" import govukInsetText %}
{% from "details/macro.njk" import govukDetails %}

{% from "nunjucks/macros/contact-details.njk" import contactDetails %}

{% from "nunjucks/view-licences/macros/amounts.njk" import amounts %}
{% from "nunjucks/view-licences/macros/conditions.njk" import conditions %}
{% from "nunjucks/view-licences/macros/periods.njk" import periods %}
{% from "nunjucks/view-licences/macros/points.njk" import points %}
{% from "nunjucks/view-licences/macros/purposes.njk" import purposes %}
{% from "nunjucks/view-licences/macros/sources-of-supply.njk" import sourcesOfSupply %}
{% from "nunjucks/view-licences/macros/gauging-stations.njk" import gaugingStations %}

<h2 class="govuk-heading-m">Summary</h2>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Licence name
    </dt>
    <dd class="govuk-summary-list__value">
      {{ licence.documentName or 'No name chosen' }}

      {% if not isInternal %}
      <br />
      <a href="/licences/{{ documentId }}/rename">
        {{ 'Rename' if licence.documentName else 'Name' }} this licence
      </a>
      {% endif %}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Licence holder
    </dt>
    <dd class="govuk-summary-list__value">
      {{ licence.licenceHolderFullName }}
      <br />
      <a href="{{ '/admin' if isInternal }}/licences/{{ documentId }}/contact">
        View licence contact details
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Effective from
    </dt>
    <dd class="govuk-summary-list__value">
      {{ licence.effectiveDate | date }}
    </dd>
  </div>
  {% if licenceNumber.expiryDate %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      End date
    </dt>
    <dd class="govuk-summary-list__value">
      {{ licence.expiryDate | date }}
    </dd>
  </div>
  {% endif %}

  {{ sourcesOfSupply(licence.sourcesOfSupply) }}
  {{ purposes(licence.uniquePurposeNames) }}

  {% set link %}
  <a href="{{ '/admin' if isInternal }}/licences/{{ documentId }}/purposes">
  View details of your
  {{ 'purpose' | pluralize(licence.uniquePurposeNames) }},
  {{ 'period' | pluralize(licence.abstractionPeriods) }}
  and amounts
  </a>
  {% endset %}

  {{ periods(licence.abstractionPeriods, link) }}

  {% set link %}
  <a href="{{ '/admin' if isInternal }}/licences/{{ documentId }}/points">
    View details of your abstraction {{ 'point' | pluralize(licence.points) }}
  </a>
  {% endset %}

  {{ points(licence.points, link) }}

  {% set link %}
  <a href="{{ '/admin' if isInternal }}/licences/{{ documentId }}/conditions">
    View details of your abstraction {{ 'condition' | pluralize(licence.conditions) }}
  </a>
  {% endset %}

  {% set baseUrl %}{{ '/admin' if isInternal }}/licences/{{ documentId }}{% endset %}
  {{ gaugingStations(licence.gaugingStations, baseUrl) }}
  {{ conditions(licence.conditions, link) }}
  {{ amounts(licence.aggregateQuantity) }}
</dl>

<div class="govuk-grid-row">

  <!-- Disclaimer -->
  <div class="govuk-grid-column-two-thirds">
    {{ govukInsetText({
      text: "The information included in this service does not replace or
      affect the legal (paper) copy of the licence issued to you. The
      information must be used for reference only. You must refer to and
      comply with the licence issued to you as a paper copy when you make
      decisions about abstracting or impounding water."
    }) }}

    {% set html %}
    <p>
      To help us improve our new service, please let us know if you find
      any errors in the licence information we are showing you. You can
      contact us by:
    </p>
    {{ contactDetails() }}
    {% endset %}

    {{ govukDetails({
      summaryText: "Is your licence information correct?",
      html: html
    }) }}
  </div>

</div>
