{% extends "./nunjucks/layout.njk" %}

{% macro statusRow(headerText, value) %}
   <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">{{ headerText }}</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">{{ value }}</td>
   </tr>
{% endmacro %}

{% block content %}

   <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

         <h1 class="govuk-heading-l">Service status</h1>

         <h2 class="govuk-heading-m">Import</h2>
         <table class="govuk-table">
            <tr class="govuk-table__row">
               <th class="govuk-table__header" scope="row">Import task name</th>
               <th class="govuk-table__header" scope="row">Success rate (last 3 days)</th>
               <th class="govuk-table__header" scope="row">Active</th>
               <th class="govuk-table__header" scope="row">Last updated</th>
               <th class="govuk-table__header" scope="row">Last checked</th>
            </tr>
            {% for item in import.jobs.summary %}
                {% if item.lastUpdated %}
                    <tr class="govuk-table__row">
                       <td class="govuk-table__cell govuk-table__cell">{{ item.displayName }}</td>
                       <td class="govuk-table__cell govuk-table__cell">{{ (((item.completedCount / (+item.failedCount + +item.completedCount)))*100).toFixed(0) }}%</td>
                       <td class="govuk-table__cell govuk-table__cell">{{ 'Yes' if item.isActive == 'true' else 'No' }}</td>
                       <td class="govuk-table__cell govuk-table__cell">{{ item.lastUpdated | date("LLL") }}</td>
                       <td class="govuk-table__cell govuk-table__cell">{{ item.dateUpdated | date("LLL") }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
         </table>

         <h2 class="govuk-heading-m">Virus scanner</h2>
         <table class="govuk-table">
            {{ statusRow('Status', virusScanner) }}
         </table>

         <h2 class="govuk-heading-m">Cache connectivity</h2>
         <table class="govuk-table">
            {{ statusRow('Status', cacheConnection) }}
         </table>

         <h2 class="govuk-heading-m">Service versions</h2>
         <table class="govuk-table">
            {{ statusRow('Water service', versions.waterService) }}
            {{ statusRow('IDM', versions.idm) }}
            {{ statusRow('CRM', versions.crm) }}
            {{ statusRow('Permit', versions.permit) }}
            {{ statusRow('Returns', versions.returns) }}
            {{ statusRow('Import', versions.import) }}
         </table>
      </div>
   </div>

{% endblock %}
