{% extends "./nunjucks/layout.njk" %}

{% macro statusRow(headerText, value) %}
   <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">{{ headerText }}</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">{{ value }}</td>
   </tr>
{% endmacro %}

{% block content %}

   <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

         <h1 class="govuk-heading-l">Service status</h1>

         <h2 class="govuk-heading-m">IDM</h2>
         <table class="govuk-table">
            {{ statusRow('IDM users', idm.users) }}
            {{ statusRow('Internal registrations not completed', idm.internalRegistrationsCompleted) }}
            {{ statusRow('Internal registrations not completed', idm.internalRegistrationsNotCompleted) }}
            {{ statusRow('External registrations completed', idm.externalRegistrationsCompleted) }}
            {{ statusRow('External registrations not completed', idm.externalRegistrationsNotCompleted) }}
         </table>

         <h2 class="govuk-heading-m">CRM</h2>
         <table class="govuk-table">
            {{ statusRow('Documents', crm.documents) }}
            {{ statusRow('Renamed licences', crm.renamedLicences) }}
            {{ statusRow('Users with multiple verifications', crm.usersWithMultipleVerifications) }}
            {{ statusRow('Verifications completed last month', crm.verificationsCompletedLastMonth) }}
            {{ statusRow('Verifications started this month', crm.verificationsStartedThisMonth) }}
            {{ statusRow('Verifications completed this month', crm.verificationsCompletedThisMonth) }}
            {{ statusRow('Additional access grantees', crm.additionalAccessGrantees) }}
            {{ statusRow('Verifications started last month', crm.verificationsStartedLastMonth) }}
            {{ statusRow('Verifications', crm.verifications) }}
         </table>

         <h2 class="govuk-heading-m">Permit Repo</h2>
         <table class="govuk-table">
            {{ statusRow('Permits', permitRepo.permits) }}
         </table>

         <h2 class="govuk-heading-m">Import</h2>
         <table class="govuk-table">
            <tr class="govuk-table__row">
               <th class="govuk-table__header" scope="row">Name</th>
               <th class="govuk-table__header" scope="row">State</th>
               <th class="govuk-table__header" scope="row">Count</th>
            </tr>
            {% for item in import.jobs.summary %}
            <tr class="govuk-table__row">
               <td class="govuk-table__cell govuk-table__cell">{{ item.name }}</td>
               <td class="govuk-table__cell govuk-table__cell">{{ item.state }}</td>
               <td class="govuk-table__cell govuk-table__cell--numeric">{{ item.count }}</td>
            </tr>
            {% endfor %}
         </table>

         <h2 class="govuk-heading-m">Virus scanner</h2>
         <table class="govuk-table">
            {{ statusRow('Status', virusScanner) }}
         </table>

         <h2 class="govuk-heading-m">Service versions</h2>
         <table class="govuk-table">
            {{ statusRow('Water service', versions.waterService) }}
            {{ statusRow('IDM', versions.idm) }}
            {{ statusRow('CRM', versions.crm) }}
            {{ statusRow('Permit', versions.permit) }}
            {{ statusRow('Returns', versions.returns) }}
            {{ statusRow('Import', versions.import) }}
         </table>
      </div>
   </div>

{% endblock %}
