{% extends "./nunjucks/layout.njk" %}
{% from "forms/index.njk" import formRender,
formErrorSummary %}
{% from "title.njk" import title %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "crm/company.njk" import company %}
{% from "crm/address.njk" import address %}
{% from "forms/index.njk" import formRender %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {{ title(pageTitle) }}

      {% for licence in licences %}

        {% for document in licence.documents %}

          <h2 class="govuk-heading-m">Licence
            {{ licence.licenceNumber }}</h2>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Licence holder
              </dt>
              <dd class="govuk-summary-list__value">
                {{ company(document.licenceHolderRole.company) }}
              </dd>
              <dd class="govuk-summary-list__actions"></dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Returns reference number
              </dt>
              <dd class="govuk-summary-list__value">
                {% if document.returns.length === 0 %}
                  <p>None selected</p>
                {% else %}
                  {% for return in document.returns %}
                    Due
                    {{ return.due | date }}
                  {% endfor %}
                  {% endif%}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden">
                      returns</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Address
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ address(document.selectedRole.address) }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden">
                      address</span>
                  </a>
                </dd>
              </div>
            </dl>

          {% endfor %}

        {% endfor %}

        {{ formRender(form)}}
      </div>
    </div>
  {% endblock %}