{% extends "./nunjucks/layout.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
  titleText: pageTitle,
  html: "They should arrive within the next five days"
}) }}

      <p><a href="/notifications/report">See report for notices</a></p>

    </div>
  </div>
{% endblock %}
