{% extends "./nunjucks/layout.njk" %}
{% from "forms/index.njk" import formRender, formErrorSummary %}
{% from "title.njk" import title %}
{% from "components/warning-text/macro.njk" import govukWarningText %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if notMatched %}
        {{ title('Due returns could not be found for some licences:') }}
        <ul class="govuk-list govuk-list--bullet">
          {% for item in notMatched %}
          <li>{{ item }}</li>
          {% endfor %}
        </ul>
      {% else %}
        {{ title(pageTitle) }}
      {% endif  %}

      {% if uniqueLicences.length %}


      {{ govukWarningText({
        text: "You are about to send paper return forms for the following licences.",
        iconFallbackText: "Warning"
      }) }}


        <ul class="govuk-list govuk-list--bullet">
          {% for item in uniqueLicences %}
            <li>
              {{ item.licence_ref }}
              {{ '-' if item.endedReasons }} {{ item.endedReasons }}
            </li>
          {% endfor %}
        </ul>

      {{ formRender(form) }}

      {% endif %}


    </div>
  </div>
{% endblock %}
