{% extends "./nunjucks/layout.njk" %}
{% from "forms/index.njk" import formRender, formErrorSummary %}
{% from "title.njk" import title %}
{% from "./nunjucks/returns-notifications/macros/no-returns-due-banner.njk" import noReturnsDueBanner %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {{ formErrorSummary(form) }}

    {% if not form | isFirstFieldHeading %}
      {{ title(pageTitle, caption) }}
    {% endif %}

    {{ noReturnsDueBanner(licencesWithNoReturns) }}

    </div>
    <div class="govuk-grid-column-full">
      {{ formRender(form) }}
    </div>
  </div>
{% endblock %}

