{{> styles}}
<main id="content" tabindex="-1">
  {{>element-phase-tag}}{{>element-main-nav}}

  <a class="link-back" href="/licences">Back</a>

  <h1 class="heading-large">{{ pageTitle }}</h1>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h2 class="heading-medium">Service accessibility statement</h2>
      <p>
        We aim to make the Manage your water abstraction or impoundment licence
        service as accessible and easy to use as possible. All of our web pages
        are designed and tested to meet <a target="_blank" href="https://www.w3.org/WAI/standards-guidelines/wcag/">Web Content Accessibility Guidelines</a>
        to level AA, and all except one successfully meet that standard.
      </p>

      <h2 class="heading-medium">Pages that do not meet the WCAG AA standard</h2>
      <p>
        Our feedback survey does not currently meet the same accessibility standards as the rest
        of our service. We are working to improve it.
      </p>

      <h2 class="heading-medium">How to contact us</h2>
      <p>
        If you want to give feedback about this service or have any questions about
        accessibility, please email us at <a href="mailTo:water_abstractiondigital@environment-agency.gov.uk">water_abstractiondigital@environment-agency.gov.uk</a>.
        We will respond within 5 working days.
      </p>
    </div>
  </div>
</main>
{{> footerjs}}
