{{> styles}}
<main id="content" tabindex="-1">
  {{>element-phase-tag}}{{>element-main-nav}}

  <a class="link-back" href="/licences">Back</a>

  <h1 class="heading-large">{{ pageTitle }}</h1>
  <h2 class="heading-medium">Applies from 30th October 2018</h2>

  <div class="grid-row">
    <div class="column-two-thirds">

      <p>
      The Environment Agency runs the Manage your water abstraction or
      impoundment licence service. Our <a href="https://www.gov.uk/government/organisations/environment-agency/about/personal-information-charter">personal information charter</a> explains how we deal with your information.
      </p>

      <h3 class="heading-small">Why we ask for your email address</h3>
      <p>We ask you to tell us your email address for three reasons.</p>
      <ol class="list list-number">
        <li>
          <p>To create a secure online account for you</p>
          <p>You will need to enter your email address every time you sign in
          to use the service. We will send you some emails as part of the account 
          creation process. These emails will include some web links that include 
          tracking codes. We use these to track responses to our emails, but we 
          will not use them to gather or store any information about your identity.
          </p>
        </li>
        <li>
          <p>To contact you about this service</p>
          <p>
          We may need to email you with information about the service: for example,
          when we update this privacy policy. We will not use your email address
          to contact you for marketing purposes.
          </p>
        </li>
        <li>
          <p>To offer you paperless communication</p>
          <p>
          We will ask if you prefer to receive notifications about your
          licence by post or email. We will then use this method to send
          you notifications if possible. We are in the process of updating
          our IT systems, so you may still receive communication by other
          methods too.
          </p>
        </li>
      </ol>

      <h3 class="heading-small">How your email address will be stored</h3>
      <p>
      Your email address will be held in a secure Environment Agency
      database that is only accessed by our service. Your email address
      will remain in this database until you ask us to remove it.
      </p>

      <h3 class="heading-small">How to remove your email address from our database</h3>
      <p>
        To have your email address removed from our database, please 
        <a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">contact the Environment Agency.</a>
      </p>

      <p>
      This means that you will no longer be able to access and use the
      Manage your water abstraction or impoundment licence service.
      </p>



      <h2 class="heading-medium">The following information applies to those making an abstraction return:</h2>

      <h3 class="heading-small">The Data Protection Act 1998</h3>

      <p>We, the Environment Agency, will process the information you provide so that we can deal with your abstraction return, make sure you keep to the conditions of the licence, permit or registration, and process renewals.</p>

      <p>We may also process or release the information to:</p>

      <ul class="list list-bullet">
        <li>offer you documents or services relating to environmental matters</li>
        <li>consult the public, public organisations and other organisations (for example, the Health & Safety Executive, local authorities, the emergency services, the Department for Environment, Food and Rural Affairs) on environmental issues</li>
        <li>carry out research and development work on environmental issues, or allow others to do so</li>
        <li>manage and assess present and likely future demand for water, or allow others to do so</li>
        <li>prevent anyone from breaking environmental law, investigate cases where environmental law may have been broken, and take any action that is needed</li>
        <li>assess whether customers are satisfied with our service, and to improve our service, and</li>
        <li>respond to requests for information under the Freedom of information Act 2000 and the Environmental Information Regulations 2004 (if the Data Protection Act allows).</li>
      </ul>

      <p>
      We may pass the information on to our agents or representatives to do these things for us.
    </p>



    </div>
  </div>
</main>
{{> footerjs}}
{{> debug}}
