{{> styles}}
<main id="content" tabindex="-1">
  {{>element-phase-tag}}{{>element-main-nav}}


  <div class="grid-row">
    <div class="column-two-thirds">

      {{#if errors}}
        <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
          <script nonce="{{nonces.script}}">
            sendEvent({category:'error', action:'update_password_invalid_password'})
          </script>

          <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
          There is a problem
          </h2>

          {{#if errors.hasValidationErrors}}
          <p>Your password must contain</p>
          <div class="form-hint">
          <ul class="list list-bullet {{#if errors.hasValidationErrors}}list-errors{{/if}}">
            <li class="{{#if errors.hasValidationErrors}}password-validation{{/if}} {{#if errors.passwordTooShort}}password-validation-failure{{/if}}">
              {{#if errors.hasValidationErrors}}
                {{#if errors.passwordTooShort}}
                <span aria-hidden="true" class="validation-icon">&#10007;</span>
                <span class="sr-only">Your password does not contain </span>
                {{else}}
                <span aria-hidden="true" class="validation-icon">&#10003;</span>
                <span class="sr-only">Your password contains </span>
                {{/if}}
              {{/if}}

              8 characters
            </li>

            <li class="{{#if errors.hasValidationErrors}}password-validation{{/if}} {{#if errors.passwordHasNoSymbol}}password-validation-failure{{/if}}">
              {{#if errors.hasValidationErrors}}
                {{#if errors.passwordHasNoSymbol}}
                <span aria-hidden="true" class="validation-icon">&#10007;</span>
                <span class="sr-only">Your password does not contain </span>
                {{else}}
                <span aria-hidden="true" class="validation-icon">&#10003;</span>
                <span class="sr-only">Your password contains </span>
                {{/if}}
              {{/if}}

              1 symbol (like ?!£%)
            </li>

            <li class="{{#if errors.hasValidationErrors}}password-validation{{/if}} {{#if errors.passwordHasNoUpperCase}}password-validation-failure{{/if}}">
              {{#if errors.hasValidationErrors}}
                {{#if errors.passwordHasNoUpperCase}}
                <span aria-hidden="true" class="validation-icon">&#10007;</span>
                <span class="sr-only">Your password does not contain </span>
                {{else}}
                <span aria-hidden="true" class="validation-icon">&#10003;</span>
                <span class="sr-only">Your password contains </span>
                {{/if}}
              {{/if}}

              1 capital letter
            </li>

          </ul>
        </div>
          {{/if}}

          {{#if errors.passwordsDontMatch}}
          <p>
          The passwords you entered did not match
          </p>
          <ul class="error-summary-list">
            <li><a href="#password">Re-enter your new password</a></li>
            <li><a href="#confirm-password">Confirm your new password</a></li>
          </ul>
          {{/if}}


          {{#if errors.noConfirmPassword}}
          <p>
          The passwords you entered did not match
          </p>
          <ul class="error-summary-list">
            <li><a href="#password">Re-enter your new password</a></li>
            <li><a href="#confirm-password">Confirm your new password</a></li>
          </ul>
          {{/if}}





        </div>
      {{/if}}

      <h1 class="heading-large">{{ pageTitle }}</h1>

      <form novalidate action="/update_password_verified_password" method="post" class="form">
        <input type="hidden" name="authtoken" value="{{authtoken}}">
        <input name="csrf_token" type="hidden" value="{{csrfToken}}" />


        <div class="form-group {{#if errors.noPassword}}form-group-error{{/if}} {{#if errors.hasValidationErrors}}form-group-error{{/if}}">
          <span class="form-label-bold" >
            <div class="form-hint">
              Your new password must have at least:

              <ul class="list list-bullet {{#if errors.hasValidationErrors}}list-errors{{/if}}">
                <li class="{{#if errors.hasValidationErrors}}password-validation{{/if}} {{#if errors.passwordTooShort}}password-validation-failure{{/if}}">
                  {{#if errors.hasValidationErrors}}
                    {{#if errors.passwordTooShort}}
                    <span aria-hidden="true" class="validation-icon">&#10007;</span>
                    <span class="sr-only">Your password does not contain </span>
                    {{else}}
                    <span aria-hidden="true" class="validation-icon">&#10003;</span>
                    <span class="sr-only">Your password contains </span>
                    {{/if}}
                  {{/if}}

                  8 characters
                </li>

                <li class="{{#if errors.hasValidationErrors}}password-validation{{/if}} {{#if errors.passwordHasNoSymbol}}password-validation-failure{{/if}}">
                  {{#if errors.hasValidationErrors}}
                    {{#if errors.passwordHasNoSymbol}}
                    <span aria-hidden="true" class="validation-icon">&#10007;</span>
                    <span class="sr-only">Your password does not contain </span>
                    {{else}}
                    <span aria-hidden="true" class="validation-icon">&#10003;</span>
                    <span class="sr-only">Your password contains </span>
                    {{/if}}
                  {{/if}}

                  1 symbol (like ?!£%)
                </li>

                <li class="{{#if errors.hasValidationErrors}}password-validation{{/if}} {{#if errors.passwordHasNoUpperCase}}password-validation-failure{{/if}}">
                  {{#if errors.hasValidationErrors}}
                    {{#if errors.passwordHasNoUpperCase}}
                    <span aria-hidden="true" class="validation-icon">&#10007;</span>
                    <span class="sr-only">Your password does not contain </span>
                    {{else}}
                    <span aria-hidden="true" class="validation-icon">&#10003;</span>
                    <span class="sr-only">Your password contains </span>
                    {{/if}}
                  {{/if}}

                  1 capital letter
                </li>

              </ul>



            </div>
          </span>
          <label class="form-label-bold {{#or errors.hasValidationErrors errors.noPassword}}error-message{{/or}}" for="password">Enter a new password</label>

          <input maxlength="128" name="password" autocomplete="off" type="password" class="form-control" id="password">
        </div>
        <p></p>

        <!-- Confirm password -->
        <div class="form-group {{#if errors.noConfirmPassword}}form-group-error{{/if}} {{#if errors.passwordsDontMatch}}form-group-error{{/if}}">
          <label class="form-label-bold {{#if errors.passwordsDontMatch}}error-message{{/if}}" for="confirm-password">
            Confirm your password
            </span>
          </label>
          <input maxlength="128" name="confirmPassword" autocomplete="off" type="password" class="form-control" id="confirm-password">
        </div>
        <input class="button button-start" type="submit" value="Change password"/>
        <p></p>
      </form>

  </div>
</div>

</main>

{{> footerjs}}
{{> debug}}
