{% macro contact(contact) %}
  {% if contact.type === 'department' %}
    {{ contact.department }}
  {% else %}
    {{ contact.salutation }}
    {{ contact.initials }}
    {{ contact.lastName }}
  {% endif %}
{% endmacro %}
