{% macro contact(contact) %}
  {% if contact.type === 'department' %}
    {{ contact.department | titleCase }}
  {% else %}
    {{ contact.title | titleCase }}
    {{ contact.firstName }}
    {{ contact.lastName | titleCase }}
  {% endif %}
{% endmacro %}
