{% from "./address.njk" import address %}
{% from "./contact.njk" import contact %}

{% macro invoiceAccountAddress(invoiceAccount) %}

  {% if invoiceAccount.contact %}
  FAO {{ contact(invoiceAccount.contact) }}<br />
  {% endif %}

  {{ invoiceAccount.company.name | titleCase }}<br />

  {% if invoiceAccount.agentCompany %}
  C/O {{ invoiceAccount.agentCompany.name | titleCase }}<br />
  {% endif %}

  {{ address(invoiceAccount.address) }}
{% endmacro %}
