{% from "./address.njk" import address %}
{% from "./contact.njk" import contact %}

{% macro invoiceAddress(invoice, company) %}

  {% if invoice.agentCompany %}
    {{ invoice.agentCompany.name }}
  {% else %}
    {{ company.name }}
  {% endif %}
    <br/>

  {% if invoice.contact %}
    FAO
    {{ contact(invoice.contact) }}<br/>
  {% endif %}

  {{ address(invoice.address) }}
{% endmacro %}
