{% from "./address.njk" import address %}
{% from "./contact.njk" import contact %}

{% macro invoiceAddress(invoice) %}

  {% if invoice.contact %}
    FAO
    {{ contact(invoice.contact) }}<br/>
  {% endif %}

  {{ invoice.invoiceAccount.company.name | titleCase }}<br/>

  {% if invoice.agentCompany %}
    C/O
    {{ invoice.agentCompany.name | titleCase }}<br/>
  {% endif %}

  {{ address(invoice.address) }}
{% endmacro %}