{% from "./address.njk" import address %}
{% from "./contact.njk" import contact %}

{% macro invoiceAddress(invoice, company) %}

  {% if invoice.contact %}
    FAO
    {{ contact(invoice.contact) }}<br/>
  {% endif %}

  {% if invoice.agentCompany %}
    {{ invoice.agentCompany.name | titleCase }}
  {% else %}
    {{ company.name | titleCase }}
  {% endif %}
    <br/>

  {{ address(invoice.address) }}
{% endmacro %}

company.name
Or
FAO contact.fullName, company.name
Or
agentCompany.name
Or
FAO contact.fullName, agentCompany.name