{% extends "./nunjucks/layout.njk" %}
{% from "./nunjucks/billing/macros/batch-metadata.njk" import batchMetadata %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ title(pageTitle, null, null, true) }}

      <span class="govuk-caption-l">{{ batch.region.displayName }} bill run {{  batch.billRunId }}</span>
      <h2 class="govuk-heading-l">{{ secondTitle }}</h2>

        {{ batchMetadata(batch) }}

        <br />
        
        {{ formRender(form) }}
    </div>
  </div>

{% endblock %}

