{% extends "./nunjucks/layout.njk" %}
{% from "badge.njk" import badge %}
{% from "./nunjucks/billing/macros/batch-metadata.njk" import batchMetadata %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "./nunjucks/billing/macros/totals.njk" import billRunTotal, invoicesTotal, creditNoteTotal, chargeOrDash %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block content %}

  {% if not batch.totals %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-3">
        {{
          govukWarningText({
            text: "Totals loading. Try refreshing the page in a few minutes.",
            iconFallbackText: "Warning"
          })
        }}
      </div>
    </div>
  {% endif %}

  <div class="govuk-grid-row govuk-!-margin-bottom-0">
    <div class="govuk-grid-column-two-thirds">
      <section class="govuk-!-margin-bottom-6">
      {% set caption %}
        {{ 'Bill run ' + batch.externalId if batch.externalId else null }}
      {% endset %}
        {{ title(pageTitle, caption, null, true, true) }}
      </section>
      <p class="govuk-body">
      {{ badge(batch | batchBadge(true)) }}
      </p>
      <div class="govuk-grid-row">
        {{ batchMetadata(batch) }}
      </div>
    </div>
  </div>
  <div class="govuk-grid-row govuk-!-margin-bottom-3">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-!-margin-bottom-0">
      {{ billRunTotal(batch.totals.netTotal) }}
      </h2>
    </div>
  </div>
  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-one-half">
    <h2>
      {{ creditNoteTotal(batch.totals.creditNoteCount, batch.totals.creditLineValue) }}
    </h2>
    </div>
    <div class="govuk-grid-column-one-half">
    <h2>
      {{ invoicesTotal(batch.totals.invoiceCount, batch.totals.invoiceValue) }}
    </h2>
    </div>
  </div>

  {% if isEditable %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <section class="govuk-!-margin-bottom-6">
        {{
          govukButton({
            text: "Confirm bill run",
            href: '/billing/batch/' + batch.id + '/confirm'
          })
        }}
        {{
          govukButton({
            text: "Cancel bill run",
            href: '/billing/batch/' + batch.id + '/cancel',
            classes: "govuk-button--secondary govuk-!-margin-left-1"
          })
        }}
      </section>
      <p class="govuk-body">
        <a href="/billing/batch/{{batch.id}}/transactions-csv">Download this bill run</a>
      </p>
    </div>
  </div>

  {% endif %}
    
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-margin-top-6">
      <hr class="govuk-section-break section-break--heavy" />
    </div>
  </div>
  <div class="govuk-grid-row">


    <div class="govuk-grid-column-full govuk-!-margin-top-5">
      {% if invoices.length > 0 %}
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Billing account</th>
              <th scope="col" class="govuk-table__header">Contact</th>
              <th scope="col" class="govuk-table__header">Licence</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Total</th>
              {% if isEditable %}
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Action</th>
              {% endif %}
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for invoice in invoices %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <a class="govuk-link" href="/billing/batch/{{batch.id}}/invoice/{{invoice.id}}">{{ invoice.accountNumber }}</a>
                </td>
                <td class="govuk-table__cell">{{ invoice.name | titleCase }}</td>
                <td class="govuk-table__cell">
                  <ul class="govuk-list govuk-!-margin-0">
                  {% for licence in invoice.licenceNumbers %}
                    <li class="govuk-!-margin-0">{{ licence }}</li>
                  {% endfor %}
                  </ul>
                </td>
                <td class="govuk-table__cell govuk-table__cell--numeric">
                  {{ chargeOrDash(invoice.netTotal) }}
                  {% if invoice.isCredit %}
                    <div>Credit note</div>
                  {% endif %}
                </td>
                {% if isEditable %}
                <td class="govuk-table__cell govuk-table__cell--numeric">
                  <a class="govuk-link" href="/billing/batch/{{batch.id}}/delete-account/{{invoice.id}}">Remove</a>
                </td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  </div>

{% endblock %}

