{% extends "./nunjucks/layout.njk" %}
{% from "badge.njk" import badge %}
{% from "paginate.njk" import paginate %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "./nunjucks/billing/macros/totals.njk" import chargeOrDash %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% block content %}

  {% if billRunBuilding and billRunCancelling %}
    {{ govukNotificationBanner({
        html: '<p class="govuk-notification-banner__heading">Bill runs are currently busy building and cancelling.</p>
          <p class="govuk-body">Please wait for these bill runs to finish before creating another one.</p>'
    }) }}
  {% elif billRunBuilding %}
    {{ govukNotificationBanner({
        html: '<p class="govuk-notification-banner__heading">A bill run is currently building.</p>
          <p class="govuk-body">Please wait for this bill run to finish building before creating another one.</p>'
    }) }}
  {% elif billRunCancelling %}
    {{ govukNotificationBanner({
        html: '<p class="govuk-notification-banner__heading">A bill run is currently cancelling.</p>
          <p class="govuk-body">Please wait for this bill run to finish cancelling before creating another one.</p>'
    }) }}
  {% endif %}

  {{ title(pageTitle) }}
  <p class="govuk-body">Create a supplementary, annual or two-part tariff bill run.</p>

  {% if useNewBillRunSetup %}
    {% set createBillRunLink = '/system/bill-runs/setup' %}
  {% else %}
    {% set createBillRunLink = '/billing/batch/type' %}
  {% endif %}

  {{ govukButton({
    text: "Create a bill run",
    href: createBillRunLink
  }) }}

  {% if batches.length %}
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible govuk-!-margin-top-3">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m"> View a bill run</h2>
        <p class="govuk-body">Select date for bill run information.</p>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Date</th>
              <th class="govuk-table__header" scope="col">Region</th>
              <th class="govuk-table__header" scope="col">Run type</th>
              <th class="govuk-table__header govuk-table__header--numeric" scope="col">Bills</th>
              <th class="govuk-table__header govuk-table__header--numeric table__header--width-20" scope="col">Value</th>
              <th class="govuk-table__header govuk-table__header--numeric table__header--width-15" scope="col">Status</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for batch in batches %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  {% if batch.link %}
                    <a class="govuk-link" href="{{ batch.link }}">
                      {{ batch.dateCreated | date }}
                    </a>
                  {% else %}
                    {{ batch.dateCreated | date }}
                  {% endif %}
                  {% if batch.scheme === 'alcs' %}
                    <br />
                    <span class="govuk-body-s">Old charge scheme</span>
                  {% endif %}
                </td>
                <td class="govuk-table__cell">{{ batch.region.displayName }}</td>
                <td class="govuk-table__cell">{{ batch.batchType }}</td>

                <td class="govuk-table__cell govuk-table__cell--numeric">{{ batch.billCount | defaultTo('-') }}</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">
                  {% if batch.status == 'error' %}
                    <span>-</span>
                  {% else %}
                    {{ chargeOrDash(batch.netTotal, true) }}
                  {% endif %}
                </td>

                <td class="govuk-table__cell govuk-table__cell--numeric">{{ badge(batch | batchBadge) }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {{ paginate(pagination, '/billing/batch/list') }}
      </div>
    </div>
  {% endif %}

  {% if form %}
    {{ formRender(form) }}
  {% endif %}
{% endblock %}
