{% extends "./nunjucks/layout.njk" %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "./nunjucks/billing/macros/totals.njk" import invoiceTotal,
invoiceCreditsTotal,
invoiceDebitsTotal %}
{% from "./nunjucks/billing/macros/transactions-table.njk" import transactionsTable %}

{% from "badge.njk" import badge %}
{% from "crm/invoice-address.njk" import invoiceAddress %}
{% from "./nunjucks/billing/macros/batch-metadata.njk" import batchMetadata %}
{% from "./nunjucks/billing/macros/batch-buttons.njk" import removeInvoiceFromBatchButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}


{% macro invoiceErrors(errors) %}
  {% if errors.length %}
    <!-- Invoice-level error alerts -->
    <div class="alert alert--error">
      <h2 class="govuk-heading-m">We could not calculate all the transactions on this bill</h2>
      <ul class="govuk-list">
        {% for error in errors %}
          <li class="govuk-!-font-weight-bold">
            <a href="#{{ error.id }}">{{ error.message }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endmacro %}

{% macro licenceErrors() %}
  <span id="transactions-error" class="govuk-error-message">
    <span class="govuk-visually-hidden">Error:</span>
    <p class="govuk-body govuk-error-message">We could not calculate some transactions for this licence.</p>
    <ul class="govuk-list govuk-list--bullet govuk-error-message">
      <li>
        Remove the bill from the bill run
      </li>
      <li>Check the set up of this licence in the NALD abstraction leg
      </li>
    </ul>
    <p class="govuk-body govuk-error-message">
      The bill will be added to the next supplementary bill run.
    </p>
  </span>
{% endmacro %}

{% block content %}

  {{ invoiceErrors(errors) }}

  <div class="govuk-grid-row govuk-!-margin-bottom-0">
    <div class="govuk-grid-column-full">


      {% if invoice.isFlaggedForRebilling %}
        {{ govukWarningText({
          text: "This bill is marked for reissue",
          iconFallbackText: "Warning"
        }) }}
      {% endif %}

      <div class="govuk-!-margin-bottom-6">
        {{ title(pageTitle, caption, false, true, true) }}
      </div>

      <div class="govuk-body govuk-!-margin-bottom-4">
        {{ badge(batch | batchBadge(true)) }}
      </div>

      {{ batchMetadata(batch, invoice)}}

      <div class="govuk-!-margin-bottom-9">
        {% set html %}

        <p class="govuk-!-font-weight-bold govuk-!-margin-0">
          <a href="{{ links.billingAccount }}">Billing account {{ invoice.invoiceAccount.accountNumber }}</a>
        </p>
        {{ invoiceAddress(invoice, invoice.invoiceAccount.company) }}
        {% endset %}
        {{ govukDetails({
          summaryText: "Billing account details",
          html: html })
        }}
      </div>
    </div>
  </div>

  <!-- Net total -->
  <div class="govuk-grid-row govuk-!-margin-bottom-3">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-!-margin-bottom-0">
        {{ invoiceTotal(invoice.netTotal, invoice.netTotal < 0) }}
      </h2>

      {% if invoice.isDeMinimis %}
        {{ govukInsetText({
            text: "De minimis rule applied"
        }) }}
      {% endif %}
    </div>
  </div>

  {% if isCreditDebitBlockVisible %}
    <div class="govuk-grid-row govuk-!-margin-bottom-6">
      <div class="govuk-grid-column-one-half">
        <h2>
          {{ invoiceCreditsTotal(invoice.creditNoteValue) }}
        </h2>
      </div>
      <div class="govuk-grid-column-one-half">
        <h2>
          {{ invoiceDebitsTotal(invoice.invoiceValue) }}
        </h2>
      </div>
    </div>
  {% endif %}

  {% if invoice.linkedInvoices.length > 0 %}
    {{ govukWarningText({
          text: "This bill is linked to the reissue of " + invoice.originalInvoice.displayLabel,
          iconFallbackText: "Warning"
        }) }}
  {% endif %}

  <div class="govuk-grid-row govuk-!-margin-bottom-0">
    <div class="govuk-grid-column-two-thirds">
      {{ removeInvoiceFromBatchButton(batch, invoice) }}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <hr class="govuk-section-break section-break--heavy section-break--margin-7"/>

      <h2 class="govuk-heading-xl ">
        Transactions for {{ invoice.invoiceLicences.length }} {{ 'licence' | pluralize(invoice.invoiceLicences) }}
      </h2>

      {% for invoiceLicence in invoiceLicences %}

        {% if invoiceLicence.hasTransactionErrors %}
          <div class="govuk-form-group govuk-form-group--error">
          {% endif %}

          <h3 class="govuk-heading-l govuk-!-margin-bottom-0" id="{{ invoiceLicence.id }}">Licence
            {{ invoiceLicence.licenceNumber }}</h3>

          <p>
            <a href="{{ invoiceLicence.link }}">View licence</a>
          </p>

          {% if invoiceLicence.hasTransactionErrors%}
            {{ licenceErrors() }}
          {% endif %}

          {{ transactionsTable(invoiceLicence, isCreditDebitBlockVisible) }}

          {% if invoiceLicence.hasTransactionErrors %}
          </div>
          {% endif%}

        {% endfor %}

      </div>
    </div>

  {% endblock %}
