{% extends "./nunjucks/layout.njk" %}
{% from "badge.njk" import badge %}
{% block content %}
{% from "paginate.njk" import paginate %}

{{ title(pageTitle) }}
{{ formRender(form) }}        
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Date</th>
          <th class="govuk-table__header" scope="col">Region</th>
          <th class="govuk-table__header" scope="col">Run type</th>
          <th class="govuk-table__header" scope="col">Bills</th>
          <th class="govuk-table__header" scope="col">Value</th>
          <th class="govuk-table__header" scope="col">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for batch in batches %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a class="govuk-link" href="/waiting/{{batch.eventId}}">
             {{ batch.dateCreated | date }}
            </a>
          </td>
          <td class="govuk-table__cell">{{ batch.regionName }}</td>
          <td class="govuk-table__cell">{{ batch.batchType }}</td>
          <td class="govuk-table__cell">{{ batch.invoices.count }}</td>
          <td class="govuk-table__cell">{{ batch.invoices.total }}</td>
          <td class="govuk-table__cell">{{ badge(batch.badge) }}</td>          
        </tr>
        {% endfor %}
      </tbody>
    </table>    
    {{ paginate(pagination, '/billing/batch/list') }}
   </div>
</div>
{% endblock %}