{% extends "./nunjucks/layout.njk" %}
{% from "./nunjucks/billing/macros/invoice-metadata.njk" import invoiceMetadata %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ title(pageTitle, 'Bill run ' + batch.externalId, false, false) }}
      {{ invoiceMetadata(account, licence) }}
      {{ formRender(form) }}
    </div>
  </div>

{% endblock %}