{% extends "./nunjucks/layout.njk" %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ title(pageTitle, today | date) }}

      <div class="govuk-inset-text">
        <p class="govuk-!-margin-0">{{ batch.billRunDate | date }}</p>
        <p>{{ batch.region.displayName }} {{ batch.type | sentenceCase if batch.type != 'two_part_tariff' else "two-part tariff" }} bill run</p>
      </div>

      {{
        govukWarningText({
          text: "Before you can create a new bill run you will need to confirm or cancel this bill run",
          iconFallbackText: "Warning"
        })
      }}

      <a href="/billing/batch/{{ batch.id }}/summary" class="govuk-body govuk-link">Go to existing bill run</a>
    </div>
  </div>

{% endblock %}

