{% extends "./nunjucks/billing/confirm-batch.njk" %}
{% from "nunjucks/billing/macros/metadata.njk" import licenceNumberMetadata %} 

{% block notice %}
  <p>The licence will go into the next supplementary bill run.</p>
{% endblock %}

{% block metadata %}
  {{ licenceNumberMetadata(licence) }}
{% endblock %}
