{% extends "nunjucks/layout.njk" %}
{% from "nunjucks/billing/macros/batch-title.njk" import batchTitle %}
{% from "nunjucks/billing/macros/metadata.njk" import batchMetadata %} 

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ batchTitle(pageTitle, batch, false) }}

      {% block notice %}{% endblock %}

      <div class="govuk-!-margin-bottom-6">
        {% block metadata %}
          {{ batchMetadata(batch) }}
        {% endblock %}
      </div>

      {{ formRender(form) }}
    </div>
  </div>

{% endblock %}
