{% extends "./nunjucks/layout.njk" %}
{% from "badge.njk" import badge %}
{% from "paginate.njk" import paginate %}
{% from "./nunjucks/billing/macros/batch-metadata.njk" import batchMetadata %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% from "./nunjucks/billing/macros/batch-buttons.njk" import cancelBatchButton, twoPartTariffContinueButton %}
{% from "./nunjucks/billing/macros/totals.njk" import chargeOrDash %}
{% from "./nunjucks/billing/macros/batch-header.njk" import batchHeader %}
{% from "./nunjucks/billing/macros/two-part-tariff-licences-table.njk" import twoPartTariffLicencesTable  %}

{% block content %}

{{ batchHeader(pageTitle, batch) }}

<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-full">
{% if totals.errors > 0 %}
  <section class="govuk-!-margin-bottom-6">

    {{ cancelBatchButton(batch) }}

    <div class="govuk-inset-text">
      <p class="govuk-body govuk-!-margin-bottom-0">
        You need to review {{ totals.errors }} {{ 'licence' | pluralize (totals.errors) }} with returns data issues before you can continue
      </p> 
      <a href="{{ reviewLink }}" class="govuk-link">Review {{ 'licence' | pluralize (totals.errors) }}</a>
    </div>
  </section>
{% else %}
  <section class="govuk-!-margin-bottom-6">
    <p class="govuk-body">You have resolved all returns data issues. Continue to generate bills.</p>
    {{ twoPartTariffContinueButton(batch) }} 
    {{ cancelBatchButton(batch) }}
  </section>
{% endif %}

{% if totals.ready > 0 %}
<section class="govuk-!-margin-bottom-9">
  <h2 class="govuk-heading-l" id="issuesTitle">
    {% if totals.ready == 1 %}
      1 licence is ready for billing
    {% else %}
      {{ totals.ready }} licences are ready for billing
    {% endif %}
  </h2>

  {{ twoPartTariffLicencesTable(licences, false) }}
</section>
{% endif %}
{% endblock %}

