{% extends "./nunjucks/layout.njk" %}
{% from "badge.njk" import badge %}
{% from "paginate.njk" import paginate %}
{% from "./nunjucks/billing/macros/batch-metadata.njk" import batchMetadata %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "./nunjucks/billing/macros/totals.njk" import chargeOrDash %}

{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-0">
  <div class="govuk-grid-column-two-thirds">
    <section class="govuk-!-margin-bottom-6">
      {% set caption %}
        {{ batch.region.name + ' two-part tariff bill run' }}
      {% endset %}
        {{ title(pageTitle, caption, null, true, true) }}
    </section>
  </div>
</div>
<div class="govuk-grid-row govuk-!-margin-bottom-6">
<div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">
        {{ badge(batch | batchBadge(false)) }}
      </p>
      <div class="govuk-grid-row">
        {{ batchMetadata(batch) }}
      </div>
  </div>
</div>
{% if totals.errors > 0 %}
<section class="govuk-!-margin-bottom-6">
  {{
    govukButton({
      text: "Cancel bill run",
      href: '/billing/batch/' + batch.id + '/cancel',
      classes: "govuk-button--secondary govuk-!-margin-left-1"
    })
  }}
</section>
<section class="govuk-!-margin-bottom-9">
  <h2 class="govuk-heading-l" id="issuesTitle">{{ totals.errors }} licences have data issues</h2>
  <div class="table govuk-!-margin-bottom-6" id="dataIssues">
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Licence</th>
            <th scope="col" class="govuk-table__header">Licence holder</th>
            <th scope="col" class="govuk-table__header">Issue</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for licence in licences %}
            {% if licence.twoPartTariffStatuses.length > 0 %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  {{ licence.licenceRef }}
                </td>
                <td class="govuk-table__cell">
                  {{ licence.licenceHolder.salutation }}
                  {{ licence.licenceHolder.initials }}
                  {{ licence.licenceHolder.firstName }}
                  {{ licence.licenceHolder.lastName }}
                </td>
                <td class="govuk-table__cell">
                  {{ licence.twoPartTariffStatuses }}
                </td>
                <td class="govuk-table__cell govuk-table__cell--numeric">
                  <a href="#" class="govuk-link">Review</a>
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
  <div>
</section>
{% endif %}
<section class="govuk-!-margin-bottom-0v">
<h2 class="govuk-heading-l" id="readyTitle">
  {{ totals.ready}} licences are ready for billing
</h2>
<p class="govuk-body govuk-!-margin-bottom-9">
<a href="/billing/batch/{{batch.id}}/two-part-tariff-ready" class="govuk-link">View licences ready for billing</a>
</p>
</section>
{% if totals.errors <= 0 %}
  <section class="govuk-!-margin-bottom-6">
    <p class="govuk-body">You have resolved all returns data issues. Continue to generate bills.</p>
    {{
      govukButton({
        text: "Continue",
        href: '#'
      })
    }}
    {{
      govukButton({
        text: "Cancel bill run",
        href: '/billing/batch/' + batch.id + '/cancel',
        classes: "govuk-button--secondary govuk-!-margin-left-1"
      })
    }}
  </section>
{% endif %}
{% endblock %}

