{% extends "./nunjucks/layout.njk" %}
{% from "badge.njk" import badge %}
{% from "paginate.njk" import paginate %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "./nunjucks/billing/macros/totals.njk" import chargeOrDash %}

{% from "./nunjucks/billing/macros/two-part-tariff-licences-table.njk" import twoPartTariffLicencesTable %}
{% from "./nunjucks/billing/macros/batch-buttons.njk" import cancelBatchButton %}
{% from "./nunjucks/billing/macros/batch-header.njk" import batchHeader %}

{% block content %}

  {{ batchHeader(pageTitle, batch) }}

  <section class="govuk-!-margin-bottom-6">
    {{ cancelBatchButton(batch) }}
  </section>

  {% if totals.errors > 0 %}
    <section class="govuk-!-margin-bottom-9">
      <h2 class="govuk-heading-l" id="issuesTitle">
        {% if totals.errors == 1 %}
        1 licence has data issues 
        {% else %}
        {{ totals.errors }} licences have data issues
        {% endif %}
      </h2>
      <div class="table govuk-!-margin-bottom-6" id="dataIssues">
        {{ twoPartTariffLicencesTable(licences, true )}}
      </div>
    </section>
  {% endif %}

  {% if totals.ready > 0 %}
    <section class="govuk-!-margin-bottom-0v">
      <h2 class="govuk-heading-l" id="readyTitle">
          {% if totals.ready == 1 %}
          1 licence is ready for billing
          {% else %}
          {{ totals.ready}} licences are ready for billing
          {% endif %}
      </h2>
      <p class="govuk-body govuk-!-margin-bottom-9">
      <a href="/billing/batch/{{batch.id}}/two-part-tariff-ready" class="govuk-link">View {{ 'licence' | pluralize (totals.ready) }} ready for billing</a>
      </p>
    </section>
  {% endif %}

  {% if totals.errors <= 0 %}
    <section class="govuk-!-margin-bottom-6">
      <p class="govuk-body">You have resolved all returns data issues. Continue to generate bills.</p>
      {{
        govukButton({
          text: "Continue",
          href: '#',
          classes: 'govuk-!-margin-right-1'
        })
      }}

      {{ cancelBatchButton(batch) }}

    </section>
  {% endif %}

{% endblock %}

