{% extends "./nunjucks/layout.njk" %}
{% from "./nunjucks/billing/macros/batch-title.njk" import batchTitle %}
{% from "./nunjucks/billing/macros/batch-buttons.njk" import removeTPTLicenceFromBatchButton, removeTPTYearlyLicenceFromBatchButton %}
{% from "./nunjucks/billing/macros/two-part-tariff-licence-review-table.njk" import billingVolumeTableRow %}
{% from "govuk/components/details/macro.njk" import govukDetails %}


{% macro metaRow(key, value, includePadding) %}
  <div class="meta__row">
    <dt class="meta__key">{{ key }}</dt>
    <dd class="meta__value{% if includePadding %} govuk-!-padding-bottom-3{% endif %}">{{ value }}</dd>
  </div>
{% endmacro %}

{% block content %}
  <div class="govuk-grid-row govuk-!-margin-bottom-0">
    <div class="govuk-grid-column-full">
    {{ batchTitle(pageTitle, batch) }}
    {{ removeTPTLicenceFromBatchButton(batch, licence) }}
      {% set summaryHtml %}
        <dl class="meta">
          {% for condition in aggregateConditions %}
            {{ metaRow('Aggregate condition', condition.title) }}
            {{ metaRow(condition.parameter1Label, condition.parameter1) }}
            {{ metaRow(condition.parameter2Label, condition.parameter2, not condition.text) }}
            {% if condition.text %}
              {{ metaRow('Other information', condition.text, true) }}
            {% endif %}
          {% endfor %}    
        </dl>

        <p>
          <a href="{{ returnsLink }}">View returns summary</a>
        </p>
      {% endset %}
      </div>
    </div>
    {% if aggregateConditions.length > 0 %}
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {{ govukDetails({
        summaryText: "Licence details",
        html: summaryHtml
      }) }}
      </div>
    </div>
    {% else %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <p>
          <a href="{{ returnsLink }}">View returns summary</a>
        </p>
      </div>
    </div>
    {% endif %}
    
    
    {% if totals.errors > 0 %}    
      <h2 class="govuk-heading-l">
        {{totals.errors}} {{ 'issue' | pluralize(totals.errors != 1) }} to review
      </h2>
      {% for billingVolumes in billingVolumeGroups %}
        {% for billingVolume in billingVolumes %}
          {% if billingVolume.twoPartTariffError %}
           {{ billingVolumeTableRow(billingVolume) }}
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endif %}
    <br />
    <br />

    {% for billingYear, volume in billingVolumeGroups  %}
        <br />
        <h2 class="govuk-heading-l govuk-!-margin-bottom-3" > Financial year {{ billingYear | int -1 }}  To  {{ billingYear }}  </h2>
        {% for billingVolumes in volume %}
            {% if billingVolumeGroups.length > 1 %}
              {{ removeTPTYearlyLicenceFromBatchButton(batch, licence, billingYear) }}
            {% endif %}
            <h2 class="govuk-heading-l">
                {{billingVolumes.length}} ready for billing
            </h2>
            {% for billingVolumesF in billingVolumes %}
              {% if billingVolumesF.twoPartTariffError == false %}
                  {{ billingVolumeTableRow(billingVolumesF) }}
              {% endif %}
            {% endfor %}
        {% endfor %}
    {% endfor %}

{% endblock %}
