{% extends "./nunjucks/layout.njk" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ title(pageTitle) }}
      <p>
        <strong>{{ deletedUser.userEmail }}</strong> no longer has access to this service.
      </p>
      <p>
        <a href="/user/{{ deletedUser.userId }}/status" class="govuk-link">
          View the user page
        </a>
      </p>
    </div>
  </div>

{% endblock %}
