{% extends "./nunjucks/layout.njk" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ title(pageTitle) }}
      <p>
        <strong>{{ reinstatedUser.userEmail }}</strong>'s account has been reinstated. They may now log back in.
      </p>
      <p>
        <a href="/user/{{ reinstatedUser.userId }}/status" class="govuk-link">
          View the user page
        </a>
      </p>
      <p>
        <a href="/accounts" class="govuk-link">
          View internal accounts
        </a>
      </p>
    </div>
  </div>

{% endblock %}
