{{> styles}}
<main id="content" tabindex="-1">
  {{>element-phase-tag}}{{>element-main-nav}}

  <div class="grid-row">
    <div class="column-two-thirds">
      {{>element-heading-large content='Get reset password link'}}

      <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
        <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
          This is a debug screen that should not be visible in private beta.
        </h2>
      </div>


      {{#if errors}}
        <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
          {{#if errors.invalidEmailAddress}}
            <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
              Please enter a valid email address
            </h2>
            <ul class="error-summary-list">
              <li><a href="#email-address">The email address you have entered is invalid</a></li>
            </ul>
          {{else if errors.noPasswordResetRequest}}
            <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
              Please enter a valid email address
            </h2>
            <ul class="error-summary-list">
              <li><a href="#email-address">The email address you have entered has not requested a password reset or does not exist</a></li>
            </ul>
          {{/if}}
        </div>
      {{/if}}

      <p>If you enter an email address that has requested a password reset, this form will take you to the reset password page for that email address.</p>

      <form novalidate action="/reset_password_get_link" method="post" class="form">
        <!-- Email address -->
        <div class="form-group {{#if errors.invalidEmailAddress}}form-group-error{{/if}}">
          <label class="form-label-bold" for="email-address">Email address</label>
          <span class="form-hint">This is the email address that has requested a password reset</span>
          <input name="email_address" type="email" class="form-control {{#if errors.invalidEmailAddress}}form-control-error{{/if}} {{#if errors.noPasswordResetRequest}}form-control-error{{/if}}" id="email-address" {{#if payload.email_address}}value="{{payload.email_address}}"{{/if}}>
          {{#if errors.invalidEmailAddress}}<span class="error-message">Please enter a valid email address</span>{{/if}}
          {{#if errors.noPasswordResetRequest}}<span class="error-message">Please enter an email address that has requested a password reset</span>{{/if}}
        </div>
        <input class="button button-start" type="submit" value="Reset password"/>
      </form>
    </main>
  </div>
</div>

{{> footerjs}}
{{> debug}}
