{{> styles}}
<main id="content" tabindex="-1">
  {{>element-phase-tag}}{{>element-main-nav}}

  <a class="link-back" href="/signin">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      {{#equal query.flash 'resetLinkExpired'}}
      <script>
        sendEvent({category:'error', action:'reset_link_expired'})
      </script>
      <div class="panel panel-border-wide" style="border-top: none;">
        <p>
          This password reset link has expired. Please enter your email address below and we will send you a new one.
        </p>
      </div>
      {{/equal}}


      {{#if error}}
        <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">

          <script>
            sendEvent({category:'error', action:'reset_password_invalid_email'})
          </script>

            <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
              That email address is not valid
            </h2>
            <ul class="error-summary-list">
              <li><a href="#email-address">Re-enter your email address</a></li>
            </ul>

        </div>
      {{/if}}
      {{>element-heading-large content='Reset your password'}}
      <p>Tell us the email address you used to register with this service and we will send you a reset link.</p>

      <form novalidate action="/reset_password" method="post" class="form">
        <!-- Email address -->
        <div class="form-group {{#if error }}form-group-error{{/if}}">
          <label class="form-label-bold" for="email-address">Email address</label>
          {{#if error}}<span class="error-message">Please enter a valid email address</span>{{/if}}
          <input maxlength="254" name="email_address" type="email" class="form-control" id="email-address" {{#if payload.email_address}}value="{{payload.email_address}}"{{/if}}>

        </div>
        <input class="button button-start" type="submit" value="Continue"/>
      </form>

  </div>
</div>

</main>

{{> footerjs}}
{{> debug}}
