{{> styles}}
<main id="content" tabindex="-1">
  {{>element-phase-tag}}{{>element-main-nav}}

  <div class="grid-row">
    <div class="column-two-thirds">


      {{#if errors}}
        <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">

          {{#if errors.hasValidationErrors}}
          <script nonce="{{nonces.script}}">
            sendEvent({category:'error', action:'change_password_invalid_password'})
          </script>

          <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
          There is a problem
          </h2>

          Your password must contain
          <div class="form-hint">
            <ul class="list list-bullet {{#if errors.hasValidationErrors}}list-errors{{/if}}">
              <li class="{{#if errors.hasValidationErrors}}password-validation{{/if}} {{#if errors.passwordTooShort}}password-validation-failure{{/if}}">
                {{#if errors.hasValidationErrors}}
                  {{#if errors.passwordTooShort}}
                  <span aria-hidden="true" class="validation-icon">&#10007;</span>
                  <span class="sr-only">Your password does not contain </span>
                  {{else}}
                  <span aria-hidden="true" class="validation-icon">&#10003;</span>
                  <span class="sr-only">Your password contains </span>
                  {{/if}}
                {{/if}}

                8 characters
              </li>

              <li class="{{#if errors.hasValidationErrors}}password-validation{{/if}} {{#if errors.passwordHasNoSymbol}}password-validation-failure{{/if}}">
                {{#if errors.hasValidationErrors}}
                  {{#if errors.passwordHasNoSymbol}}
                  <span aria-hidden="true" class="validation-icon">&#10007;</span>
                  <span class="sr-only">Your password does not contain </span>
                  {{else}}
                  <span aria-hidden="true" class="validation-icon">&#10003;</span>
                  <span class="sr-only">Your password contains </span>
                  {{/if}}
                {{/if}}

                1 symbol (like ?!£%)
              </li>

              <li class="{{#if errors.hasValidationErrors}}password-validation{{/if}} {{#if errors.passwordHasNoUpperCase}}password-validation-failure{{/if}}">
                {{#if errors.hasValidationErrors}}
                  {{#if errors.passwordHasNoUpperCase}}
                  <span aria-hidden="true" class="validation-icon">&#10007;</span>
                  <span class="sr-only">Your password does not contain </span>
                  {{else}}
                  <span aria-hidden="true" class="validation-icon">&#10003;</span>
                  <span class="sr-only">Your password contains </span>
                  {{/if}}
                {{/if}}

                1 capital letter
              </li>

            </ul>
        </div>
          {{/if}}

          {{#if errors.passwordsDontMatch}}
          <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
          There is a problem
          </h2>
          <ul class="error-summary-list">
            <li><a href="#password">The passwords you entered do not match</a></li>
          </ul>
          {{/if}}


          {{#if errors.noConfirmPassword}}
          <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
          The passwords you entered did not match
          </h2>
          <ul class="error-summary-list">
            <li><a href="#password">Re-enter your new password</a></li>
            <li><a href="#confirm-password">Confirm your new password</a></li>
          </ul>
          {{/if}}





        </div>
      {{/if}}



      <h1 class="heading-large">{{ pageTitle }}</h1>

      {{#if create }}
      <p>You will need to use this password each time you sign in to the service.</p>
      {{/if}}

      {{#if forced }}
      <h2 class="heading-medium" id="error-summary-heading-example-1">
        For security you need to create your own password to use from now on. Once you have reset your password you will be asked to sign in again.
      </h2>
      {{/if}}


      {{#if create }}
      <form novalidate action="/create-password" method="post" class="form">
      {{else}}
      <form novalidate action="/reset_password_change_password" method="post" class="form">
      {{/if}}
        <input name="resetGuid" value="{{ query.resetGuid }}{{ payload.resetGuid }}" type="hidden" />

        <!-- Password -->
        <div class="form-group {{#if errors.noPassword}}form-group-error{{/if}} {{#if errors.hasValidationErrors}}form-group-error{{/if}}">
          <!-- <span class="form-label-bold"> -->
            <div class="form-hint">
              Your password must have at least:

              <ul class="list list-bullet {{#if errors.hasValidationErrors}}list-errors{{/if}}">
                <li class="{{#if errors.hasValidationErrors}}password-validation{{/if}} {{#if errors.passwordTooShort}}password-validation-failure{{/if}}">
                  {{#if errors.hasValidationErrors}}
                    {{#if errors.passwordTooShort}}
                    <span aria-hidden="true" class="validation-icon">&#10007;</span>
                    <span class="sr-only">Your password does not contain </span>
                    {{else}}
                    <span aria-hidden="true" class="validation-icon">&#10003;</span>
                    <span class="sr-only">Your password contains </span>
                    {{/if}}
                  {{/if}}

                  8 characters
                </li>

                <li class="{{#if errors.hasValidationErrors}}password-validation{{/if}} {{#if errors.passwordHasNoSymbol}}password-validation-failure{{/if}}">
                  {{#if errors.hasValidationErrors}}
                    {{#if errors.passwordHasNoSymbol}}
                    <span aria-hidden="true" class="validation-icon">&#10007;</span>
                    <span class="sr-only">Your password does not contain </span>
                    {{else}}
                    <span aria-hidden="true" class="validation-icon">&#10003;</span>
                    <span class="sr-only">Your password contains </span>
                    {{/if}}
                  {{/if}}

                  1 symbol (like ?!£%)
                </li>

                <li class="{{#if errors.hasValidationErrors}}password-validation{{/if}} {{#if errors.passwordHasNoUpperCase}}password-validation-failure{{/if}}">
                  {{#if errors.hasValidationErrors}}
                    {{#if errors.passwordHasNoUpperCase}}
                    <span aria-hidden="true" class="validation-icon">&#10007;</span>
                    <span class="sr-only">Your password does not contain </span>
                    {{else}}
                    <span aria-hidden="true" class="validation-icon">&#10003;</span>
                    <span class="sr-only">Your password contains </span>
                    {{/if}}
                  {{/if}}

                  1 capital letter
                </li>

              </ul>
            </div>
          <!-- </span> -->
          <label class="form-label-bold {{#if errors.noPassword}}form-label-error{{/if}} {{#if errors.hasValidationErrors}}form-label-error{{/if}}" for="password">Enter password</label>

          {{#if errors.hasValidationErrors}}
            {{#if errors.user-id}}<span class="error-message">Re-enter your new password</span>{{/if}}
          {{/if}}
          <input name="password" maxlength="128" autocomplete="off" type="password" class="form-control" id="password">
        </div>
        <p></p>

        <!-- Confirm password -->
        <div class="form-group {{#if errors.noConfirmPassword}}form-group-error{{/if}} {{#if errors.passwordsDontMatch}}form-group-error{{/if}}">
          <label class="form-label-bold" for="confirm-password">
            Confirm password
            </span>
          </label>
          {{#if errors.hasValidationErrors}}
            {{#if errors.user-id}}<span class="error-message">Confirm your new password</span>{{/if}}
          {{/if}}
          <input maxlength="128" name="confirmPassword" autocomplete="off" type="password" class="form-control" id="confirm-password">
        </div>

        <input class="button button-start" type="submit" value="{{#if create }}Create{{else}}Change{{/if}} password"/>
        <p></p>
      </form>
    </div>
  </div>
</main>

{{> footerjs}}
{{> debug}}
