{{> styles}}
<main id="content" tabindex="-1">
  {{>element-phase-tag}}{{>element-main-nav}}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">{{ pageTitle }}</h1>

      <p>We've sent you a new link and intructions to reset your password.</p>


      <details>

        <summary><span class="summary">Still haven't received anything?</span></summary>

        <div>
          <p>Please contact us for help.</p>

          {{> contact-details }}
        </div>

      </details>

  </div>
</div>


</main>

{{> footerjs}}
{{> debug}}
