{% macro contactEmailPurposeView(contactId, firstName, lastName, emailAddress, emailPurpose, companyId, pageTitle, userMessage) %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">{{ pageTitle }}</span>
        {% if userMessage == null %}
         Manage contact settings for {{firstName}} {{lastName}}
        {% else %}
          {{ userMessage }}
        {% endif %}
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-full">
    <!--set the action text to be add if there isn't an email address already there-->
    <!--set the action text to be created in NALD if the contact wasn't created in WRLS-->

    <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Contact details</h2>

    <dl class="govuk-summary-list">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          {{firstName}} {{lastName}}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/customer/{{companyId}}/customercontact/{{contactId}}/name">
              Change<span class="govuk-visually-hidden"> name</span>
              </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address
        </dt>
        <dd class="govuk-summary-list__value">
          {{ emailAddress }}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/customer/{{companyId}}/customercontact/{{contactId}}/emailaddress">
              Change<span class="govuk-visually-hidden"> email address</span>
            </a>
        </dd>
      </div>
    </dl>

    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Email alerts</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Water abstraction alerts
          </dt>
          <dd class="govuk-summary-list__value">
            {% if 'waa' == emailPurpose %}
            Yes
            {% else %}
            No
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/customer/{{companyId}}/customercontact/{{contactId}}/notices">
              Change<span class="govuk-visually-hidden"> water abstraction alerts</span>
            </a>
          </dd>
        </div>
      </dl>
    </div>
  </div>
{% endmacro %}

{% if contacts != null and contacts.length > 0 %}
  {% for contact in contacts %}
      {% set contactId = contact.contact.id %}
      {% set firstName = contact.contact.firstName %}
      {% set lastName = contact.contact.lastName %}
      {% set emailAddress = contact.emailAddress %}
      {% set emailPurpose = contact.emailPurpose %}
      {{ contactEmailPurposeView(contactId, firstName, lastName, emailAddress, emailPurpose, companyId, pageTitle, userMessage) }}
  {% endfor %}
{% else %} 
  <!-- No existing data found -->
  {% set contactId = 0 %}
  {% set firstName = '' %}
  {% set lastName = '' %}
  {% set emailAddress = 'Please update email' %}
  {% set emailPurpose = 'waa' %}
  {{ contactEmailPurposeView(contactId, firstName, lastName, emailAddress, emailPurpose, companyId, pageTitle, userMessage) }}
{% endif %}

<p class="govuk-body"><a href="/customer/{{companyId}}/#contacts" class="govuk-link">Back to customer</a></p>

