{% macro paginate(pagination, path, params) %}

  {% set next %}{{ path }}?{{ params | merge({ page : pagination.page+1}) | queryString | safe  }}{% endset %}
  {% set previous %}{{ path }}?{{ params | merge({ page : pagination.page-1}) | queryString | safe }}{% endset %}

  {% if pagination.pageCount > 1 %}
  <nav class="pagination">
    <h3 class="govuk-visually-hidden">Pagination menu</h3>
    <p class="pagination__current-page">Page {{ pagination.page }} of {{ pagination.pageCount }}</p>
    <ul class="pagination__list">
      {% if pagination.page > 1 %}
      <li class="pagination__previous"><a class="pagination__link" href="{{ previous }}">&#8592; Previous page</li>
      {% endif %}
      {% if pagination.page < pagination.pageCount %}
      <li class="pagination__next"><a class="pagination__link" href="{{ next }}">Next page &#8594;</a></li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
{% endmacro %}
