{% extends "./nunjucks/layout.njk" %}

{% set pageTitle %}There is a problem with this service{% endset %}

{% block content %}

  {{ title(pageTitle) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p>Sorry, there is a technical problem.</p>

      <p>Please refresh your screen. If the problem continues, try again later.</p>

      <p>If you need help call the IT Service Desk on 0800 014 8255.</p>

    </div>
  </div>

{% endblock %}
