{% extends "./nunjucks/layout.njk" %}

{% block content %}
  {{ title(pageTitle) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>Sorry, there was a technical problem.</p>
      <p>Please refresh your screen to continue using the service.</p>
      <p>If the problem continues, please try again later. You can also <a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">contact the Environment Agency</a> for support.</p>
    </div>
  </div>

{% endblock %}
