{% extends "./nunjucks/layout.njk" %}
{% from "survey.njk" import feedbackSurveyItem %}

{% block mainNav %}
{% endblock %}

{% block content %}

  {{ title('You are signed out') }}

  <p>
    <a href="/signin">Sign in</a>
  </p>

  {% if surveyType == 'internal' %}
    {{ feedbackSurveyItem(nonces, '419108', '1CCYT') }}
  {% else %}
    {{ feedbackSurveyItem(nonces, '517384', 'AEIMT') }}
  {% endif %}

{% endblock %}
