{% extends "./nunjucks/layout.njk" %}
{% from "returns/return-header.njk" import returnHeader %}
{% from "returns/meter-details-inset-text.njk" import meterDetailsInsetText %}
{% from "returns/return-quantities-table.njk" import returnQuantitiesTable %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {{ returnHeader(data, documentHeader, showMeta, true) }}

    <h2 class="govuk-heading-l">
      {{ "Nil return" if data.isNil else "Confirm this return" }}
    </h2>
    {{ meterDetailsInsetText(data, endReading, true) }}
  </div>

  {% if not data.isNil %}
  {{ returnQuantitiesTable(data, lines, total, endReading, true) }}
  {% endif %}

  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if not data.isNil %}
      <p>
        <a href="{{ makeChangePath }}">{{ makeChangeText }}</a>
      </p>
      {% endif %}

      {{ formRender(form) }}
    </div>
  </div>
{% endblock %}
