{% extends "./nunjucks/layout.njk" %}
{% from "panel/macro.njk" import govukPanel %}
{% from "returns/confirmation.njk" import confirmation %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ confirmation(data, 'Return received' ) }}

    <p>
      <a href="{{ returnsUrl }}">View returns for {{ return.licenceNumber }}</a>
    </p>
  </div>
</div>
{% endblock %}
