{% extends "./nunjucks/layout.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "returns/confirmation.njk" import confirmation %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ confirmation(data) }}

    <p class="govuk-body">
      <a href="{{ returnUrl }}">View this return</a>
    </p>
    <p>or</p>
    {{ govukButton({
       text: "Mark for supplementary bill run",
       href: markForSupplementaryBillingUrl
    }) }}
  </div>
</div>
{% endblock %}
