{% macro badge(param, status) %}
  {% if param | isObject %}
    <strong class="badge {% if param.status %}badge--{{ param.status }}{% endif %} badge--no-wrap">{{ param.text }}</strong>
  {% else %}
    <strong class="badge badge--{{ status }} badge--no-wrap">{{ param }}</strong>
  {% endif %}
{% endmacro %}
