{% macro data (header, subHeader, isLarge = true) %}
  <span class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-{{ '80' if isLarge else '48' }}">{{ header }}</span>
  <br>
  <span class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24">{{ subHeader }}</span>
{% endmacro %}
