{#

  If the numberOfItems is greater than a given threshold as
  defined by maxItemsBeforeDetails, then the content defined by
  the caller is wrapped in the GDS details component.

#}
{% macro detailsWhen(numberOfItems, maxItemsBeforeDetails, summaryText) %}
  {% if numberOfItems > maxItemsBeforeDetails %}
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          {{summaryText}}
        </span>
      </summary>
      <div class="govuk-details__text">
  {% endif %}

  {# Inserts the content from elsewhere #}
  {{ caller() }}

  {% if numberOfItems > maxItemsBeforeDetails %}
    </div>
  </details>
  {% endif %}
{% endmacro %}
