{% macro mainNav(links) %}
  {% if links.length %}
    <nav id="nav" class="navbar">
      <ul class="navbar__list">
        {% for link in links %}
        <li class="navbar__item">
          <a class="navbar__link {% if link.active %} navbar__link--active{% endif %}" href="{{ link.href }}" id="{{ link.attributes.id }}">{{ link.text }}</a>
        </li>
        {% endfor %}
      </ul>
    </nav>
  {% endif %}
{% endmacro %}
