{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "password-error-item.njk" import passwordErrorItem %}

{% macro passwordErrorSummary(errors) %}
  {% if errors.hasValidationErrors %}
      <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <p>Your password must contain</p>
            <ul class="govuk-list govuk-error-summary__list">
              {{ passwordErrorItem(errors, 'passwordTooShort', '8 characters' )}}
              {{ passwordErrorItem(errors, 'passwordHasNoSymbol', '1 symbol (like ?!£%)' )}}
              {{ passwordErrorItem(errors, 'passwordHasNoUpperCase', '1 capital letter' )}}
            </ul>
          </div>
        </div>
      </div>
    {% endif %}

    {% if (not errors.hasValidationErrors) and (errors.passwordsDontMatch or errors.noConfirmPassword) %}
    {{
      govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          { text: "Re-enter your new password", href: "#password" },
          { text: "Re-enter your new password", href: "#confirm-password" }
        ]
      })
    }}
  {% endif %}
{% endmacro %}
