{% macro passwordErrorItem(errors, key, text, isHint = false) %}
  <li class="password-validation {{ ' password-validation-failure' if errors[key] }}">
    <span class="{{ 'govuk-hint' if isHint }}">
      {% if errors[key] %}
        <span aria-hidden="true" class="validation-icon">&#10007;</span>
        <span class="govuk-visually-hidden">Your password does not contain </span>
      {% else %}
        <span aria-hidden="true" class="validation-icon">&#10003;</span>
        <span class="govuk-visually-hidden">Your password contains </span>
      {% endif %}
      {{ text }}
    </span>
  </li>
{% endmacro %}
