{% macro feedbackSurveyItem(nonces, frameId, surveyId) %}
<script nonce="{{nonces.script}}">
  window.resizeSurveyFrame = function () {
    var options = { heightCalculationMethod: 'lowestElement' };
    iFrameResize(options, '#ss-embed-frame-{{frameId}}');
  };
</script>
<iframe
  id="ss-embed-frame-{{frameId}}"
  src="https://www.smartsurvey.co.uk/s/{{surveyId}}/"
  class="survey-frame"
  scrolling="no">
</iframe>
<script nonce="{{nonces.script}}">
  document.getElementById('ss-embed-frame-{{frameId}}').addEventListener('load', window.resizeSurveyFrame);
</script>
{% endmacro %}
