{{> styles}}
<main id="content" tabindex="-1">
  {{>element-phase-tag}}{{>element-main-nav}}


  <div class="grid-row">
    <div class="column-two-thirds">


      {{#equal error.name 'ValidationError' }}
      <script>
        sendEvent({category:'error', action:'add_licence_validation_error'})
      </script>
      <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-2" tabindex="-1">
      <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
        We need more information
      </h2>
      <ul class="error-summary-list">
        <li><a href="#licence_no">Enter your licence number(s)</a></li>
      </ul>
    </div>
      {{/equal}}

      {{#equal error.name 'LicenceNotFoundError' }}
      <script>
        sendEvent({category:'error', action:'add_licence_licence_not_found_error'})
      </script>
      <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-2" tabindex="-1">
      <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
        This information does not match our records
      </h2>
      {{#if missingNumbers}}
      <p>We cannot find these licence numbers in our water abstraction licence database:</p>
      <p>{{missingNumbers.data}}</p>
      {{/if}}
      <ul class="error-summary-list">
        <li><a href="#licence_no">Check your licence number(s)</a></li>
      </ul>
     </div>
      {{/equal}}

      {{#equal error.name 'LicenceSimilarityError' }}
      <script>
        sendEvent({category:'error', action:'add_licence_licence_similarity_error'})
      </script>
      <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-2" tabindex="-1">
      <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
        This information does not match our records
      </h2>
      {{#if missingNumbers}}
      <p>We cannot find these licence numbers in our water abstraction licence database:</p>
      <p>{{missingNumbers.data}}</p>
      {{/if}}
      <ul class="error-summary-list">
        <li><a href="#licence_no">Check your licence number(s)</a></li>
      </ul>
     </div>
      {{/equal}}

      {{#equal error.name 'LicenceMissingError' }}
      <script>
        sendEvent({category:'error', action:'add_licence_licence_missing_error'})
      </script>

      <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-2" tabindex="-1">
      <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
        Some information does not match our records
      </h2>
      {{#if missingNumbers}}
      <p>We cannot find these licence numbers in our water abstraction licence database:</p>
      <p>{{missingNumbers.data}}</p>
      {{/if}}
      <ul class="error-summary-list">
        <li><a href="#licence_no">Check your licence number(s)</a></li>
      </ul>
     </div>
      {{/equal}}


      <h1 class="heading-large">{{ pageTitle }}</h1>
      <form method="POST" novalidate action="/add-licences">

        <input name="csrf_token" type="hidden" value="{{ csrfToken }}" />

        <!-- licence number field -->
        <div class="form-group {{#if error }}form-group-error{{/if}}">
          <label for="licence_no">
            <span class="form-label-bold">Enter your licence number(s)</span>
            <span class="form-hint">
              You can only view water abstraction licences online at the moment. We will let you know when you can also view any impoundment licences you hold.
            </span>
            <br/>
            <br/>
            <span class="form-hint">
              You can separate your licence numbers using spaces, commas, or by entering them on different lines.
            </span>
          </label>
          <textarea maxlength="8000" class="form-control form-control-3-4" name="licence_no" id="licence_no" rows="5" required >{{ payload.licence_no }}</textarea>
        </div>

        <input type="submit" value="Continue" class="button" role="button"/>
    </form>
    <br />
    <details class="closeOnOpen">
      <summary><span class="summary">Do not have this information?</span></summary>
      <div>
        <p>Please contact us for help.</p>
        {{> contact-details }}
      </div>
    </details>

    </div>
  </div>
</main>
{{> footerjs}}
{{> debug}}
