{{> styles}}
<main id="content">
  {{>element-phase-tag}}
  <nav>
    <div class="breadcrumbs">
      <ol>
        <li><a href="/?access=PB01">Your service</a></li>
      </ol>
    </div>
  </nav>


  {{#equal error.name 'ValidationError' }}
  <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-2" tabindex="-1">
  <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
    We need more information
  </h2>
  <ul class="error-summary-list">
    <li><a href="#licence_no">Enter your licence number(s)</a></li>
  </ul>
</div>
  {{/equal}}

  {{#equal error.name 'LicenceNotFoundError' }}
  <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-2" tabindex="-1">
  <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
    This information doesn’t match our records
  </h2>
  <ul class="error-summary-list">
    <li><a href="#licence_no">Check your licence number(s)</a></li>
  </ul>
 </div>
  {{/equal}}

  {{#equal error.name 'LicenceSimilarityError' }}
  <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-2" tabindex="-1">
  <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
    This information doesn’t match our records
  </h2>
  <ul class="error-summary-list">
    <li><a href="#licence_no">Check your licence number(s)</a></li>
  </ul>
 </div>
  {{/equal}}

  {{#equal error.name 'LicenceMissingError' }}
  <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-2" tabindex="-1">
  <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
    Some information doesn’t match our records
  </h2>
  <ul class="error-summary-list">
    <li><a href="#licence_no">Check your licence number(s)</a></li>
  </ul>
 </div>
  {{/equal}}


  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Which licences do you want to be able to view?
      </h1>

      <form method="POST" novalidate action="/add-licences">

        <!-- licence number field -->
        <div class="form-group {{#if error }}form-group-error{{/if}}">
          <label for="licence_no">

            <fieldset>
              <span class="form-label-bold">Enter your licence number(s)</span>
              <span class="form-hint">
                You can separate your licence numbers using spaces, commas, or by entering them on different lines.
              </span>

              {{#if error }}
              <!-- <span id="enterLicenceNo" class="error-message">Enter your licence number(s).</span> -->
              {{/if}}
            </fieldset>

          </label>
          <textarea class="form-control form-control-3-4" name="licence_no" id="licence_no" rows="5" required >{{ payload.licence_no }}</textarea>
        </div>

        <input type="submit" value="Continue" class="button" role="button"/>
    </form>

    <p></p>

    <details class="closeOnOpen">
      <summary><span class="summary">Don't have this information?</span></summary>
      <p>Please email <a href="mailto://Water_abstractiondigital@environment-agency.gov.uk">water_abstractiondigital@environment-agency.gov.uk</a></p>
      <p>Our team will reply to you within 2 working days.
    </details>

    </div>
  </div>



</main>
{{> footerjs}}
{{> debug}}
