{{> styles}}
<main id="content">
  {{>element-phase-tag}}
  <nav>
    <div class="breadcrumbs">
      <ol>
        <li><a href="/licences">Abstraction licences</a></li>
        <li><a href="/manage_licences_add">Manage licences</a></li>
        <li><a href="/security-code">Security code</a></li>
      </ol>
    </div>
  </nav>

  <a class="link-back" href="/manage_licences_add">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      {{#if error}}
      <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-2" tabindex="-1">
      <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
        You need to enter the code we sent you
      </h2>
      <ul class="error-summary-list">
        <li><a href="#verification_code">Re-enter your confirmation code</a></li>
      </ul>
    </div>
      {{/if}}


      <h1 class="heading-large">
        Enter your security code
      </h1>

      <form novalidate method="POST" action="/security-code">

        <!-- licence number field -->
        <div class="form-group {{#if error }}form-group-error{{/if}}">
          <label for="verification_code">

            <span class="sr-only">Security code</span>

            <span class="form-hint">
              We sent this by post to the registered address you chose.
            </span>

            {{#if error}}
                <span id="enterPassword" class="error-message">Please check your code is correct.</span>
            {{/if}}

          </label>

          <input maxlength="5" value="{{ payload.verification_code }}" type="password" class="form-control" name="verification_code" id="verification_code" required="">
        </div>

        <input type="submit" value="Continue" class="button" role="button"/>
    </form>
  </div>
</div>

    <br />


    {{#if licences }}
    <table style="width: 100%;">
        <thead>
            <tr>
                <th>Licences you've asked to view</th>
                <th style="width:50%;">Status</th>
            </tr>
        </thead>
        <tbody>
           {{#each licences}}
           <tr>
              <td>{{ this.system_external_id }}</td>
              <td>Awaiting code</td>
            </tr>
           {{/each}}
        </tbody>
      </table>
      {{/if}}





</main>
{{> footerjs}}
{{> debug}}
