{{> styles}}
<main id="content">
  {{>element-phase-tag}}
  <nav>
    <div class="breadcrumbs">
      <ol>
        <li><a href="/licences">Your licences</a></li>
        <li><a href="/manage_licences_add">Manage your licences</a></li>
        <li><a href="/add-licences">Request access</a></li>
      </ol>
    </div>
  </nav>

  <a class="link-back" href="/add-licences">Back</a>



  <div class="grid-row">
    <div class="column-two-thirds">

      {{#equal error.name 'LicenceNotSelectedError' }}
      <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-2" tabindex="-1">
      <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
        We need more information
      </h2>
      <ul class="error-summary-list">
        <li><a href="#licences">Please select at least one licence.</a></li>
      </ul>
     </div>
      {{/equal}}

      <h1 class="heading-large">
        Are these the licence numbers you want to be able to view?
      </h1>

      <form novalidate method="POST" action="/select-licences">

        <fieldset id="licences">
          <legend>
            <span class="body-text">You can add more licences once your account is created.</span>
          </legend>


        {{#each licences}}
        <div class="multiple-choice">
          <input checked="checked" type="checkbox" name="licences" value="{{ this.document_id }}" id="{{ this.document_id }}" />
          <label for="{{ this.document_id }}">{{ this.system_external_id }}</label>
        </div>
        {{/each}}

        </fieldset>

        <br />

        <input type="submit" value="Yes" class="button" role="button"/>
      </form>

      <br />

      <p>
        <a href="/select-licences-error">No, some licences are missing or don’t belong to me</a>
      </p>


    </div>
  </div>



</main>
{{> footerjs}}
{{> debug}}
