{{> styles}}
<main id="content" tabindex="-1">
  {{>element-phase-tag}}{{>element-main-nav}}
  <!-- <nav>
    <div class="breadcrumbs">

      <ol>
        <li><a href="/licences">{{ labels.licences }}</a></li>
        <li><a href="/manage_licences_add">Manage your licences</a></li>
        <li><a href="/add-licences">Request access</a></li>
      </ol>
    </div>
  </nav> -->


  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">{{ pageTitle }}</h1>


      <p>Please contact us for help.</p>

      {{> contact-details }}



      <div class="panel panel-border-wide">
        <p>You will need to provide:</p>
         <ul class="list list-bullet">
                     <li>the licence number(s) you are trying to access</li>
                     <li>the address each licence is registered to</li>
                     <li>the name of the licence holder for each licence </li>
         </ul>
     </div>

   <p><a href="/signout">Sign out</a></p>
   </br>


    </div>
  </div>



</main>
{{> footerjs}}
{{> debug}}
