{{> styles}}
<main id="content" tabindex="-1">
  {{>element-phase-tag}}{{>element-main-nav}}

  <a class="link-back link-back--space-above" href="/select-licences">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      {{#equal error.name 'AddressInvalidError' }}
      <script nonce="{{nonces.script}}">
        sendEvent({category:'error', action:'select_address_address_not_selected'})
      </script>

      <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-2" tabindex="-1">
      <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
        You need to choose an address
      </h2>
      <ul class="error-summary-list">
        <li><a href="#address">Please choose which licence address we should post your security code to.</a></li>
      </ul>
     </div>
      {{/equal}}

      <h1 class="heading-large heading-large--tight-above">{{ pageTitle }}</h1>

      <form method="POST" action="/select-address">

        <input name="csrf_token" type="hidden" value="{{ csrfToken }}" />

        <fieldset id="address">

          <div class="form-group {{#if error}}form-group-error{{/if}}">

            <legend>
              <span class="form-label">
                Choose one of your licence addresses:
              </span>
              {{#if error }}
              <span class="error-message">
                You need to choose an address
              </span>
              {{/if}}
            </legend>

            <br />

            {{#each licences}}
            <div class="multiple-choice">
              <input type="radio" name="address" value="{{ this.document_id }}" id="{{ this.document_id }}" />
              <label for="{{ this.document_id }}">
    {{ this.metadata.AddressLine1 }}{{#if this.metadata.AddressLine2 }},{{/if}}
    {{ this.metadata.AddressLine2 }}{{#if this.metadata.AddressLine3 }},{{/if}}
    {{ this.metadata.AddressLine3 }}{{#if this.metadata.AddressLine4 }},{{/if}}
    {{ this.metadata.AddressLine4 }}{{#if this.metadata.Town }},{{/if}}
    {{ this.metadata.Town }}{{#if this.metadata.County }},{{/if}}
    {{ this.metadata.County }}{{#if this.metadata.Postcode }},{{/if}}
    {{ this.metadata.Postcode }}
                <br />
              </label>
            </div>
            {{/each}}

          </div>

        </fieldset>


        <input type="submit" value="Continue" class="button" role="button"/>
      </form>

      <br />
      <br />

      <details class="closeOnOpen">
        <summary><span class="summary">Why do we need to post you a code?</span></summary>
        <div>
          <p>We post a security code to a registered address to make sure you are the licence holder or an official representative.</p>
        </div>
      </details>





    </div>
  </div>



</main>
{{> footerjs}}
{{> debug}}
