{{> styles}}
<main id="content" tabindex="-1">
  {{>element-phase-tag}}
  <nav>
    <div class="breadcrumbs">
      {{>element-header-links}}
      <ol>
        <li><a href="/licences">{{ labels.licences }}</a></li>
        <li><a href="/manage_licences_add">Manage your licences</a></li>
        <li><a href="/add-licences">Request access</a></li>
      </ol>
    </div>
  </nav>

  <div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-large">We're sending you a letter</h1>

        <p>Your letter containing a security code and instructions will be sent by
          2nd Class mail to:</p>

        <p>
          {{ licence.metadata.AddressLine1 }}{{#if licence.metadata.AddressLine2 }},{{/if}}
          {{ licence.metadata.AddressLine2 }}{{#if licence.metadata.AddressLine3 }},{{/if}}
          {{ licence.metadata.AddressLine3 }}{{#if licence.metadata.AddressLine4 }},{{/if}}
          {{ licence.metadata.AddressLine4 }}{{#if licence.metadata.Town }},{{/if}}
          {{ licence.metadata.Town }}{{#if licence.metadata.County }},{{/if}}
          {{ licence.metadata.County }}{{#if licence.metadata.Postcode }},{{/if}}
          {{ licence.metadata.Postcode }}
        </p>

        <p>
          You should receive it within 5 working days.
        </p>

        <!-- Links -->
        <p>
          {{#if licenceCount }}
          <a href="/licences">Return to your licence list</a><br>
          {{/if}}
          <a href="/signout">Sign out</a>
        </p>

        {{#if isTestMode}}
        <p>
          Your code is <code><b>{{ verification.verification_code }}</b></code>
        </p>
        {{/if}}

      </div>


    </div>
  </div>



</main>
{{> footerjs}}
{{> debug}}
