{% from "./measurement-point.njk" import measurementPoint %}

{% macro wr22_2_1(data) %}

No abstraction shall take place unless the level of water in the {{ data.water_body_name.name }}
as measured

  {{ measurementPoint(data.measurement_point) }}

  is equal to or greater than {{ data.hol_rate_level }}{{ data.unit }} and the abstraction shall not cause the level at the said {{ data.point | lower }} to fall below that level.
{% endmacro %}
