{% macro wr22_2_3(data) %}

No {{ data.purpose_type | lower }} shall take place unless the rate of flow in the {{ data.water_body_name }} as measured

{% if data.measurement_point.measurement_point_type == 'Upstream' %}immediately upstream of the authorised point of abstraction,{% endif %}
{% if data.measurement_point.measurement_point_type == 'Downstream' %}immediately downstream of the authorised point of abstraction,{% endif %}
{% if data.measurement_point.measurement_point_type == 'NGR' %}at place at National Grid Reference {{ data.measurement_point.measurement_point_ngr }},{% endif %}

{% if data.measurement_point.measurement_point_diagram_type == 'Map' %}marked as {{ data.measurement_point.measurement_point_reference }} on the map{% endif %}
{% if data.measurement_point.measurement_point_diagram_type == 'Drawing' %}
  and on drawing {{ data.measurement_point.measurement_point_drawing_name }}
  dated {{ data.measurement_point.measurement_point_drawing_date | date }}
{% endif %}

is equal to or greater than {{ data.hof_hol_flow }}{{ data.hof_hol_flow_unit }}
and the {{ data.purpose_type | lower }}

shall not cause the

{% set abstractionPoint %}
  {% if data.measurement_point.measurement_point_diagram_type == 'None' %}
   abstraction point
  {% else %}
   reference point
  {% endif %}
{% endset %}

{% if data.hof_type == 'Hands off flow' %}
  flow immediately downstream of the said {{ abstractionPoint }} to fall below that rate.
{% endif %}

{% if data.hof_type == 'Hands off level' %}
 water level at of the said {{ abstractionPoint }} to fall below that level.
{% endif %}

This shall be known as the '{{ data.hof_type | lower }}'.
{% endmacro %}
