{% from "./measurement-point.njk" import measurementPoint %}

{% macro wr22_2_3(data) %}

No
  {% if data.purpose_type == 'Abstraction' %}abstraction{% else %}power production{% endif %}

 shall take place unless the rate of flow in the {{ data.water_body_name.name }} as measured

  {{ measurementPoint(data.measurement_point) }}

is equal to or greater than {{ data.hof_hol_flow }}{{ data.hof_hol_flow_unit }}
and the

{% if data.purpose_type == 'Abstraction' %}abstraction{% endif %}
{% if data.purpose_type == 'Power production' %}power production{% endif %}
{% if data.purpose_type == 'Power production with turbine' %}turbine{% endif %}

shall not cause the

{% set abstractionPoint %}
  {% if data.measurement_point.measurement_point_diagram_type == 'None' %}
   abstraction point
  {% else %}
   reference point
  {% endif %}
{% endset %}

{% if data.hof_type == 'Hands off flow' %}
  flow immediately downstream of the said {{ abstractionPoint }} to fall below that rate.
{% endif %}

{% if data.hof_type == 'Hands off level' %}
 water level at of the said {{ abstractionPoint }} to fall below that level.
{% endif %}

This shall be known as the '{{ data.hof_type | lower }}'.
{% endmacro %}
