{% macro wr22_2_4(data) %}
The quantity of water {{data.purpose_type}} shall not exceed {{ data.max_percentage }} percent of the available flow in the {{ data.water_body_name.name }} in excess of the hands off flow.
{% endmacro %}
