{% macro wr22_2_6(data) %}

Abstraction shall not exceed

{{ data.max_rate }}{{ data.max_rate_unit }}

 when the flow in the {{ data.water_body_name }} as gauged by the Agency at its flow gauging station at

 {{ data.gauging_station.value }}

 {% if data.gauging_station_ngr %}
   at {{ data.gauging_station_ngr }}
 {% endif %}

is equal to or less than {{ data.hof_rate }}{{ data.hof_rate_unit }} for {{ data.hof_duration }}

as may be notified by the Agency. The Agency’s said gauging of the flow shall be conclusive.


{% endmacro %}
