{% macro wr22_2_7(data) %}
The quantity of water abstracted shall not exceed <b>{{ data.max_percentage}}%</b> of
the available flow in the <b>{{ data.water_body_name.name }}</b> in excess of
<b>{{ data.max_rate }}{{ data.unit }}</b>.
{% endmacro %}
