<!-- Google Analytics -->
<script nonce="{{nonces.script}}">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.nonce='{{nonces.script}}';a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics{{#if tracking.debug}}_debug{{/if}}.js','ga');

  ga('create', '{{tracking.propertyId}}', 'auto');
  ga('set', 'allowAdFeatures', false);

  ga('send', 'pageview', {
    {{#if tracking.isLoggedIn}}
    'dimension2': '{{tracking.newUser}}',
    {{/if}}
    {{#if tracking.lastLogin}}
    'dimension3': '{{tracking.lastLogin}}',
    {{/if}}
    'dimension1': '{{tracking.userType}}',
    'anonymizeIp': true,
    'page': '{{gaUrl}}',
    'title': '{{gaPageTitle}}',
    'location': window.location.origin + '{{gaUrl}}'
  });

</script>
<!-- End Google Analytics -->
