
{{#if documentHeader.document_name }}
  <h1 class="heading-large">
    <span class="heading-secondary">Abstraction return for {{ documentHeader.system_external_id }}</span>
    {{ documentHeader.document_name }}
  </h1>
{{else}}
  <h1 class="heading-large">Abstraction return for {{ documentHeader.system_external_id }}</h1>
{{/if}}

{{#if showMeta }}

<dl class="meta small-space">

  {{#if isAdmin }}
  <dt class="meta__label">
    Return reference
  </dt>
  <dd class="meta__description">
    {{ return.metadata.nald.formatId }}
  </dd>
  <dt class="meta__label">
    Region
  </dt>
  <dd class="meta__description">
    {{ naldRegion return.metadata.nald.regionCode }}
  </dd>
  {{/if}}

    <dt class="meta__label">
      Site description
    </dt>
    <dd class="meta__description">
      {{ return.metadata.description }}
    </dd>
    <dt class="meta__label">
      Purpose
    </dt>
    <dd class="meta__description">
      {{#each return.metadata.purposes }}
        {{ titleCase alias }}
        {{#unless alias}}{{ tertiary.description }}{{/unless}}
      {{/each}}
    </dd>
    <dt class="meta__label">
      Return period
    </dt>
    <dd class="meta__description">
      {{ formatISODate return.startDate }} to {{ formatISODate return.endDate }}
    </dd>

    <dt class="meta__label">
      Abstraction period
    </dt>
    <dd class="meta__description">
      {{ returnPeriod return.metadata.nald }}
    </dd>
    <dd class="meta__description">
      {{#if isTwoPartTariff}}
      Two Part tariff
      {{else}}
      Standard tariff
      {{/if}}
    </dd>

  </dl>

  <p class="medium-space">
    <a href="{{#if isAdmin }}/admin{{/if}}/{{#unless documentHeader.metadata.IsCurrent}}expired-{{/unless}}licences/{{ documentHeader.document_id }}">View this licence</a>
  </p>

{{/if}}
