{% extends "./nunjucks/layout.njk" %}
{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}

{% from "password-error-item.njk" import passwordErrorItem %}
{% from "password-error-summary.njk" import passwordErrorSummary %}

{% block mainNav %}
{% endblock %}

{% block content %}
  {{ title(pageTitle) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ passwordErrorSummary(errors) }}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form novalidate action="reset_password_change_password" method="post" class="form">
        <input name="resetGuid" value="{{ query.resetGuid }}{{ payload.resetGuid }}" type="hidden" />

        {% set hasError = false %}
        {% if errors.hasValidationErrors or errors.passwordsDontMatch %}
          {% set hasError = true %}
        {% endif %}

        <div class="govuk-form-group {{ 'govuk-form-group--error' if errors.hasValidationErrors }}">
          <div class="govuk-hint">
            <p class="govuk-hint">Your new password must have at least:</p>
            <ul class="govuk-list govuk-error-summary__list">
              {{ passwordErrorItem(errors, 'passwordTooShort', '8 characters', true )}}
              {{ passwordErrorItem(errors, 'passwordHasNoSymbol', '1 symbol (like ?!£%)', true )}}
              {{ passwordErrorItem(errors, 'passwordHasNoUpperCase', '1 capital letter', true )}}
            </ul>
          </div>

          <label class="govuk-label" for="password">Enter a new password</label>
          <input
            class="govuk-input govuk-!-width-one-half {{ 'govuk-input--error' if hasError }}"
            maxlength="128"
            id="password"
            name="password"
            type="password"
            autocomplete="new-password">
        </div>

        {% set hasConfirmError = false %}
        {% if errors.noConfirmPassword or errors.passwordsDontMatch %}
          {% set hasConfirmError = true %}
        {% endif %}

        <div class="govuk-form-group {{ ' govuk-form-group--error' if hasConfirmError }}" >
          <label class="govuk-label" for="confirm-password">Confirm your password</label>
          <input class="govuk-input govuk-!-width-one-half {{ 'govuk-input--error' if hasConfirmError }}" maxlength="128" id="confirm-password" name="confirmPassword" type="password" autocomplete="new-password">
        </div>

        {{
          govukButton({ text: "Change password", type: "submit" })
        }}
      </form>
    </div>
  </div>
{% endblock %}
