{% extends "./nunjucks/layout.njk" %}

{% block mainNav %}
{% endblock %}

{% block content %}


  {{ formErrorSummary(form) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ title(pageTitle) }}

      <p>The email might take a few minutes to reach you. If it did not arrive in your inbox, please check your spam folder. If it is not there you can ask us to send another email below.</p>

  </div>
</div>

  {{ formRender(form)}}

{% endblock %}
