{% extends "./nunjucks/layout.njk" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "contact-details.njk" import contactDetails %}

{% block mainNav %}
{% endblock %}

{% block content %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{ title(pageTitle) }}

      <p>We have sent you a new link and intructions to reset your password.</p>

      {% set contactHtml %}
        <p>Please contact us for help.</p>
        {{ contactDetails('enquiries@environment-agency.gov.uk') }}
      {% endset %}

      {{ govukDetails({
        summaryText: 'Still have not received anything?',
        html: contactHtml
      })}}
    </div>
  </div>

{% endblock %}
