.borderless {
  border: none;
}

// Screen-reader only text
// @see https://accessible360.com/accessible360-blog/use-aria-label-screen-reader-text/
.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  clip: rect(1px 1px 1px 1px); // IE 6 and 7
  clip: rect(1px,1px,1px,1px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  overflow: hidden !important;
}

.align-top {
  vertical-align: top;
}
