// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend
@import "node_modules/govuk-frontend/all";

// Patterns that aren't in Frontend
@import "utilities.scss";
@import "patterns/check-your-answers";
@import "patterns/task-list";
@import "patterns/related-items";
@import "patterns/subnav";
@import "patterns/tables";
@import "patterns/licence-data";
@import "patterns/metadata";
@import "patterns/manage";
@import "patterns/abstraction-reform";
@import "forms";


// SMACSS
@import "layout.scss";
@import "styles.scss";
@import "typography.scss";

// Components that aren't in Frontend
@import "components/cookie-banner";


// ========== ========== ========== ========== ==========
// hacks
// ========== ========== ========== ========== ==========

// Steve’s 'right-aligned’ version of the service header
// .govuk-header__link--service-name {
//   margin-bottom: 5px;
//   text-align: right;
//   float: right;
// }
//
// .govuk-header__navigation {
//   float: right;
// }

// make a link look like a gov button
.govuk-faux-button {
  border: 0;
  padding: 12px;
  min-height: 38px;
  padding-top: 11px;
  padding-bottom: 6px;
  width: auto;
  font-weight: 400;
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 32px;
  font-size: 1.1875rem;
  line-height: 1;
  box-shadow: 0 2px 0 #003618;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  text-decoration: none;
  background-color: #00823b;
  color: white !important;
}
