{% extends "./nunjucks/layout.njk" %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "nunjucks/view-licences/macros/verifications-alert.njk" import verificationsAlert %}
{% from "badge.njk" import badge %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {{ title(pageTitle, caption, false, true, true) }}

        <p>You need to fill in sections 1 and 2 before you can check and confirm the charge information in section 3.</p>

        <ol class="task-list">

        {% for item in taskList %}
        <li>
          <h2 class="task-list__section">
            <span class="task-list__section-number">{{ loop.index }}. </span> {{ item.heading }}
          </h2>
          <ul class="task-list__items">
          {% for task in item.tasks %}
            <li class="task-list__item">
              <span class="task-list__task-name">
                {% if task.link %}
                <a href="{{ task.link }}" {% if task.badge %}aria-describedby="{{ task.badge.attributes.id }}"{% endif %}>
                  {{ task.text }}
                </a>
                {% else %}
                  {{ task.text }}
                {% endif %}
              </span>
              {% if task.badge %}
              {{ badge(task.badge) }}   
              {% endif %}
            </li>
          {% endfor %}
          </ul>
        </li>
        {% endfor %}
      </ol>

    </div>
  </div>
{% endblock %}
