{% extends "./nunjucks/layout.njk" %}
{% from "forms/index.njk" import notificationBanner %}

{% block content %}
  {{ formErrorSummary(form) }}
  {{ notificationBanner(notification) }}
  {{ title(pageTitle) }}
  {{ formRender(form) }}
{% endblock %}
