{% extends "./nunjucks/layout.njk" %}
{% macro paginate(pagination, tabLink) %}

  {% set next %}/charge-information-workflow?{{ pagination.next | queryString | safe }}{{tabLink}}{% endset %}
  {% set previous %}/charge-information-workflow?{{ pagination.previous | queryString | safe }}{{tabLink}}{% endset %}

  {% if pagination.pageCount > 1 %}
  <nav class="pagination">
    <h3 class="govuk-visually-hidden">Pagination menu</h3>
    <p class="pagination__current-page">Page {{ pagination.page }} of {{ pagination.pageCount }}</p>
    <ul class="pagination__list">
      {% if pagination.page > 1 %}
      <li class="pagination__previous"><a class="pagination__link" href="{{ previous }}">&#8592; Previous page</a></li>
      {% endif %}
      {% if pagination.page < pagination.pageCount %}
      <li class="pagination__next"><a class="pagination__link" href="{{ next }}">Next page &#8594;</a></li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
{% endmacro %}

{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ title(pageTitle, caption, false, true, true) }}
      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">Contents</h2>

        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#toSetUp">To set up ({{licencesCounts.toSetUp}})</a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#review">Review charge information ({{licencesCounts.review}})</a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#changeRequest">Change request ({{licencesCounts.changeRequest}})</a>
          </li>
        </ul>

        <section class="govuk-tabs__panel" id="toSetUp">
          {% include "nunjucks/charge-information/workflow-tabs/to-set-up.njk" %}
          {{ paginate(licences.toSetUp.pagination, '#toSetUp') }}
        </section>
        <section class="govuk-tabs__panel" id="review">
          {% include "nunjucks/charge-information/workflow-tabs/review.njk" %}
          {{ paginate(licences.review.pagination, '#review') }}
        </section>
        <section class="govuk-tabs__panel" id="changeRequest">
          {% include "nunjucks/charge-information/workflow-tabs/change-request.njk" %}
          {{ paginate(licences.changeRequest.pagination, '#changeRequest') }}
        </section>
      </div>
    </div>
  </div>
{% endblock %}
