{% extends "template.njk" %}
{% from "./macros/main-nav.njk" import mainNav %}

{% block head %}
  <!--[if !IE 8]><!-->
    <link href="/public/stylesheets/v2/application.css" rel="stylesheet" />
  <!--<![endif]-->

  {# For Internet Explorer 8, you need to compile specific stylesheet #}
  {# see https://github.com/alphagov/govuk-frontend/blob/master/docs/installation/supporting-internet-explorer-8.md #}
  <!--[if IE 8]>
    <link href="/govuk-frontend/all-ie8.css" rel="stylesheet" />
  <![endif]-->

  {# For older browsers to allow them to recognise HTML5 elements such as `<header>` #}
  <!--[if lt IE 9]>
    <script src="/html5-shiv/html5shiv.js"></script>
  <![endif]-->
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk",
    containerClasses: "govuk-width-container",
    serviceName: "Manage your water abstraction or impoundment licence",
    serviceUrl: "/",
    navigation: propositionLinks
  }) }}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "/cookies",
          text: "Cookies"
        },
        {
          href: "/privacy-policy",
          text: "Privacy"
        },
        {
          href: "/accessibility",
          text: "Accessibility"
        }
      ]
    }
  }) }}
{% endblock %}

{% block content %}

  {{ mainNav(mainNavLinks) }}



  <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>




{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script src="/govuk-frontend/all.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}
