{% extends "./nunjucks/layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}

  <h1 class="govuk-heading-xl">
    <span class="govuk-caption-l">{{ pageTitle }}</span>
    {{ licence.licence_data_value.LIC_NO }}
  </h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" action="{{ formAction }}">
        <input name="csrf_token" type="hidden" value="{{ csrfToken }}" />

        {% for key, value in schema.properties %}
          {{
            govukInput({
              label: {
                text: key
              },
              id: key,
              name: key,
              value: data[key]
            })
          }}
        {% endfor %}

        {{ govukButton({ text: "Submit changes" }) }}
      </form>
    </div>
  </div>
{% endblock %}
