{% macro gaugingStations(stations, baseUrl) %}
{% if stations.length %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Monitoring {{ 'station' | pluralize(stations) }}
    </dt>
    <dd class="govuk-summary-list__value">
      <ul class="govuk-list govuk-!-margin-0">
        {% for station in stations %}
        <li>
          <a href="/monitoring-stations/{{ station.gaugingStationId }}">{{ station.label }}</a><br />
        </li>
        {% endfor %}
      </ul>
    </dd>
  </div>
{% endif %}

{% if stations.length <= 0 %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Monitoring {{ 'station' | pluralize(stations) }}
    </dt>
    <dd class="govuk-summary-list__value">
        This licence is not tagged with a station<br/>
        <a href="/licences">Search for a monitoring station and tag this licence</a>
    </dd>
  </div>
{% endif %}

{% endmacro %}
