{% from "title.njk" import title %}

{% macro batchTitle(pageTitle, batch, isLargeHeading=true) %}

  {% set caption %}
    {{ batch.region.displayName }} bill run {{ batch.billRunNumber }}
  {% endset %}

  <section class="govuk-!-margin-bottom-6">
      {{ title(pageTitle, caption, null, isLargeHeading, true) }}
  </section>
{% endmacro %}