{% macro batchMetadata(batch, invoice) %}
  <dl class="meta govuk-!-margin-bottom-3">
    <div class="meta__row">
      <dt class="meta__key">Date created</dt>
      <dd class="meta__value">{{ batch.dateCreated | date }}</dd>
    </div>
    <div class="meta__row">
      <dt class="meta__key">Region</dt>
      <dd class="meta__value">{{ batch.region.displayName }}</dd>
    </div>
    <div class="meta__row">
      <dt class="meta__key">Bill run type</dt>
      <dd class="meta__value">
      {% if batch.type == 'two_part_tariff' %}
        Two-part tariff {{ 'summer' if batch.isSummer else 'winter and all year' }}
      {% else %}
        {{ batch.type | sentenceCase }}
      {% endif %}
      </dd>
    </div>
    {% if invoice %}
    <div class="meta__row">
      <dt class="meta__key">Financial year</dt>
      <dd class="meta__value">{{  invoice.financialYear.yearEnding-1 }} to {{ invoice.financialYear.yearEnding }}</dd>
    </div>
    {% endif %}
    {% if batch.transactionFileReference and batch.status == 'sent' %}
        <dt class="meta__key">Transaction file</dt>
        <dd class="meta__value">{{ batch.transactionFileReference }}</dd>
    {% endif %}
  </dl>
{% endmacro %}
