{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro createBillRun(buttonText) %}
    {{
    govukButton({
      text: buttonText,
      href: '/billing/batch/type',
      classes: "govuk-button--primary"
    })
  }}
{% endmacro %}

{% macro cancelBatchButton(batch) %}
  {% if batch.status in['ready', 'review'] %}
    {{
    govukButton({
      text: "Cancel bill run",
      href: '/billing/batch/' + batch.id + '/cancel',
      classes: "govuk-button--secondary"
    })
  }}
  {% endif %}
{% endmacro %}

{% macro sendBatchButton(batch) %}
  {% if batch.status in['ready', 'review'] %}
    {{
    govukButton({
      text: "Confirm bill run",
      href: '/billing/batch/' + batch.id + '/confirm',
      classes: "govuk-!-margin-right-1"
    })
  }}
  {% endif %}
{% endmacro %}

{% macro removeInvoiceFromBatchButton(batch, invoice, originalInvoiceId, rebillInvoiceId, buttonText) %}
  {% if batch.status == 'ready' %}
    {% set baseLink = '/billing/batch/' + batch.id + '/delete-invoice/' + invoice.id %}
    {% set queryTail = {
        originalInvoiceId: originalInvoiceId,
        rebillInvoiceId: rebillInvoiceId
      } | queryString %}

    {% if (originalInvoiceId | length) > 0 and (rebillInvoiceId | length) > 0 %}
      {% set removeLink = baseLink + '?' + queryTail %}
    {% else %}
      {% set removeLink = baseLink %}
    {% endif %}
    {{
    govukButton({
      text: buttonText,
      href: removeLink,
      classes: "govuk-button--secondary"
    })
  }}
  {% endif %}
{% endmacro %}

{% macro removeTPTLicenceFromBatchButton(batch, licence) %}
  {{
      govukButton({
        text: "Remove from bill run",
        href: '/billing/batch/' + batch.id + '/two-part-tariff/licence/' + licence.id + '/remove',
        classes: "govuk-button--secondary"
      })
    }}
{% endmacro %}

{% macro removeLicenceFromBatchButton(link) %}
  {{
      govukButton({
        text: "Remove licence",
        href: link,
        classes: "govuk-button--secondary"
      })
  }}
{% endmacro %}

{% macro twoPartTariffContinueButton(batch) %}
  {{
    govukButton({
      text: "Continue",
      href: '/billing/batch/' + batch.id + '/approve-review',
      classes: 'govuk-!-margin-right-1'
    })
  }}
{% endmacro %}

{% macro downloadBatchButton(batch) %}
  {% set isSentBatch = batch.status == 'sent' %}
  {% set text %} Download {{ 'the' if isSentBatch else 'this' }} bill run {% endset %}
  {% set href %}/billing/batch/{{batch.id}}/transactions-csv{% endset %}
  {% set classes %} govuk-!-margin-right-1 {{ 'govuk-button--secondary' if not isSentBatch }} {% endset %}
  {{
    govukButton({
      text: text,
      href: href,
      classes: classes
    })
  }}
{% endmacro %}

{% macro removeTPTYearlyLicenceFromBatchButton(batch, licence, financialYearEnding) %}
  {{
      govukButton({
        text: "Remove financial year",
        href: '/billing/batch/' + batch.id + '/two-part-tariff/licence/' + licence.id + '/financial-year-ending/' + financialYearEnding + '/remove',
        classes: "govuk-button--secondary"
      })
    }}
{% endmacro %}
