{% from "badge.njk" import badge %}

{% from "./batch-metadata.njk" import batchMetadata %}
{% from "./batch-title.njk" import batchTitle %}

{% macro batchHeader(pageTitle, batch, isLargeHeading=true) %}



<div class="govuk-grid-row govuk-!-margin-bottom-3">
  <div class="govuk-grid-column-two-thirds">

    {{ batchTitle(pageTitle, batch, isLargeHeading) }}

    <p class="govuk-body">
      {{ badge(batch | batchBadge(true)) }}
    </p>
    {{ batchMetadata(batch) }}
  </div>
</div>
{% endmacro %}