{% macro batchMetadata(batch) %}
    <div class="govuk-grid-column-full">
      <dl class="meta govuk-!-margin-bottom-3">
        <div class="meta__row">
          <dt class="meta__key meta__key--black">Date created</dt>
          <dd class="meta__value">{{ batch.dateCreated | date }}</dd>
        </div>
        <div class="meta__row">
          <dt class="meta__key meta__key--black">Region</dt>
          <dd class="meta__value">{{ batch.region.name }}</dd>
        </div>
        <div class="meta__row">
          <dt class="meta__key meta__key--black">Bill run type</dt>
          <dd class="meta__value">{{ batch.type | sentenceCase }}</dd>
        </div>
      </dl>
    </div>
{% endmacro %}