{% macro invoiceMetadata(account, licence) %}
  <div class="govuk-grid-row govuk-!-margin-bottom-3">
    <div class="govuk-grid-column-full">
      <dl class="meta govuk-!-margin-bottom-3">
        <div class="meta__row">
          <dt class="meta__key black-text">Account</dt>
          <dd class="meta__value">{{ account.accountNumber }}</dd>
        </div>
        <div class="meta__row">
          <dt class="meta__key black-text">Billing Contact</dt>
          <dd class="meta__value">{{ account.companyName }}</dd>
        </div>
        <div class="meta__row">
          <dt class="meta__key black-text">Bill run type</dt>
          {% for licence in account.licences %}
            <dd class="meta__value">{{ licence.licenceRef }}</dd>
          {% endfor %}
        </div>
        <div class="meta__row">
          <dt class="meta__key black-text">Total</dt>
          <dd class="meta__value">{{ account.amount | charge(true) }}</dd>
        </div>
      </dl>
    </div>
  </div>
{% endmacro %}