{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "./totals.njk" import chargeOrDash %}

{% macro tableHeader() %}
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Account</th>
      <th scope="col" class="govuk-table__header">Billing contact</th>
      <th scope="col" class="govuk-table__header">Licence</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Total</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Action</th>
    </tr>
  </thead>
{% endmacro %}

{% macro tableHeaderSupplementary() %}
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Account</th>
      <th scope="col" class="govuk-table__header">Billing contact</th>
      <th scope="col" class="govuk-table__header">Licence</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Financial year</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Total</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Action</th>
    </tr>
  </thead>
{% endmacro %}

{% macro billingAccountCell(invoice) %}
  <td class="govuk-table__cell">
    {{ invoice.accountNumber }}
  </td>
{% endmacro %}

{% macro billingContactCell(invoice) %}
  <td class="govuk-table__cell">
    {{ invoice.name | titleCase }}
  </td>
{% endmacro %}

{% macro billingLicencesList(invoice) %}
  <ul class="govuk-list govuk-!-margin-0">
    {% for licence in invoice.licenceNumbers %}
      <li class="govuk-!-margin-0">{{ licence }}</li>
    {% endfor %}
  </ul>
{% endmacro %}

{% macro licenceNumbersCell(invoice) %}

  {% set list %}{{ billingLicencesList(invoice) }}{% endset %}

  <td class="govuk-table__cell">
    {% if invoice.licenceNumbers.length > 5 %}

      {% set summaryText %}{{ invoice.licenceNumbers.length }}
      licences{% endset %}

      {{ govukDetails({
      summaryText: summaryText,
      html : list,
      classes: "govuk-!-margin-bottom-0"
    }) }}

    {% else %}
      {{ list | safe }}
    {% endif %}
  </td>
{% endmacro %}

{% macro totalCell(invoice) %}
  <td class="govuk-table__cell govuk-table__cell--numeric">
    {{ chargeOrDash(invoice.netTotal) }}
    {% if invoice.isCredit %}
      <div>Credit note</div>
    {% endif %}
  </td>
{% endmacro %}

{% macro actionsCell(batch, invoice) %}
  <td class="govuk-table__cell govuk-table__cell--numeric">
    <a class="govuk-link" href="/billing/batch/{{batch.id}}/invoice/{{invoice.id}}">View<span class="govuk-visually-hidden">
        invoice for
        {{ invoice.accountNumber }}</span></a>
  </td>
{% endmacro %}

{% macro financialYearCell(invoice) %}
  <td class="govuk-table__cell govuk-table__cell--numeric">
    {{ invoice.financialYearEnding }}
  </td>
{% endmacro %}

{% macro tableRow(batch, invoice) %}
  <tr class="govuk-table__row">
    {{ billingAccountCell(invoice) }}
    {{ billingContactCell(invoice) }}
    {{ licenceNumbersCell(invoice) }}
    {{ totalCell(invoice)}}
    {{ actionsCell(batch, invoice) }}
  {% endmacro %}

  {% macro tableRowSupplementary(batch, invoice) %}
    <tr class="govuk-table__row">
      {{ billingAccountCell(invoice) }}
      {{ billingContactCell(invoice) }}
      {{ licenceNumbersCell(invoice) }}
      {{ financialYearCell(invoice) }}
      {{ totalCell(invoice) }}
      {{ actionsCell(batch, invoice) }}
    </tr>
  {% endmacro %}

  {% macro nonSupplementaryInvoicesTable(batch, invoices) %}
    <table class="govuk-table">
      {{ tableHeader() }}
      <tbody class="govuk-table__body">
        {% for invoice in invoices %}
          {{ tableRow(batch, invoice) }}
        {% endfor %}
      </tbody>
    </table>
  {% endmacro %}

  {% macro supplementaryInvoicesTable(batch, invoices) %}
    <table class="govuk-table">
      {{ tableHeaderSupplementary() }}
      <tbody class="govuk-table__body">
        {% for invoice in invoices %}
          {{ tableRowSupplementary(batch, invoice) }}
        {% endfor %}
      </tbody>
    </table>
  {% endmacro %}

  {% macro invoicesTable(batch, invoices) %}
    {% if invoices.length > 0 %}
      {% if batch.type == 'supplementary' %}
        {{ supplementaryInvoicesTable(batch, invoices) }}
      {% else %}
        {{ nonSupplementaryInvoicesTable(batch, invoices) }}
      {% endif %}
    {% endif %}
  {% endmacro %}