{% macro licenceBillingContactMetadata(licence) %}
  <dl class="meta govuk-!-margin-bottom-3">
    <div class="meta__row">
      <dt class="meta__key">Licence</dt>
      <dd class="meta__value">{{ licence.licenceNumber }}</dd>
    </div>
  </dl>
{% endmacro %}