{% macro accountMetadata(invoice) %}
  <div class="meta__row">
    <dt class="meta__key">Billing account</dt>
    <dd class="meta__value">{{ invoice.invoiceAccount.accountNumber }}</dd>
  </div>
{% endmacro %}

{% macro billingContactMetadata (invoice) %}
  <div class="meta__row">
    <dt class="meta__key">Billing address</dt>
    <dd class="meta__value">{{ invoice.invoiceAccount.company.name | titleCase }}</dd>
  </div>
{% endmacro %}

{% macro licenceMetadata (invoiceLicence) %}
   <div class="meta__row">
    <dt class="meta__key">Licence</dt>
    <dd class="meta__value">{{ invoiceLicence.licence.licenceNumber }}</dd>
  </div>
{% endmacro %}

{% macro financialYearMetadata (invoice) %}
   <div class="meta__row">
    <dt class="meta__key">Financial year</dt>
    <dd class="meta__value">{{ invoice.financialYear.yearEnding-1 }} to {{ invoice.financialYear.yearEnding }}</dd>
  </div>
{% endmacro %}

{% macro invoiceTotalMetadata (invoice, invoiceLicence, invoiceLicenceTotal) %}
   <div class="meta__row">
    <dt class="meta__key">Total</dt>

    {% if invoiceLicenceTotal %}
        <script>
            console.log({{ invoiceLicenceTotal | dump | safe }})
        </script>
        <dd class="meta__value">{{ invoiceLicenceTotal | charge(true) }}</dd>
    {% else %}
        <dd class="meta__value">{{ invoice.netTotal | charge(true) }}</dd>
    {% endif %}
  </div>
{% endmacro %}

{% macro licencesMetadata (invoice) %}
  <div class="meta__row">
    <dt class="meta__key">{{ 'Licence' | pluralize(invoice.invoiceLicences) }}</dt>
    <dd class="meta__value">
      {% for invoiceLicence in invoice.invoiceLicences %}
        {{ invoiceLicence.licence.licenceNumber }}
        {% if not loop.last %},
        {% endif %}
      {% endfor %}
    </dd>
  </div>
{% endmacro %}

{% macro batchCreatedMetadata (batch) %}
  <div class="meta__row">
    <dt class="meta__key">Date created</dt>
    <dd class="meta__value">{{ batch.dateCreated | date }}</dd>
  </div>
{% endmacro %}

{% macro batchTypeMetadata (batch) %}
  <div class="meta__row">
    <dt class="meta__key">Bill run type</dt>
    <dd class="meta__value">
    {% if batch.type == 'two_part_tariff' %}
      Two-part tariff {{ 'summer' if batch.isSummer else 'winter and all year' }}
    {% else %}
      {{ batch.type | sentenceCase }}
    {% endif %}
    </dd>
  </div>
{% endmacro %}

{% macro batchRegionMetadata (batch) %}
  <div class="meta__row">
    <dt class="meta__key">Region</dt>
    <dd class="meta__value">{{ batch.region.displayName }}</dd>
  </div>
{% endmacro %}

{% macro licenceNumberMetadata(licence) %}
  <dl class="meta govuk-!-margin-bottom-3">
    <div class="meta__row">
      <dt class="meta__key">Licence</dt>
      <dd class="meta__value">{{ licence.licenceNumber }}</dd>
    </div>
  </dl>
{% endmacro %}

{% macro batchMetadata(batch) %}
  <dl class="meta govuk-!-margin-bottom-3">
    {{ batchCreatedMetadata(batch) }}
    {{ batchRegionMetadata(batch) }}
    {{ batchTypeMetadata(batch) }}
  </dl>
{% endmacro %}

{% macro invoiceMetadata(invoice) %}
  <dl class="meta govuk-!-margin-bottom-3">
    {{ accountMetadata(invoice) }}
    {{ billingContactMetadata(invoice) }}
    {{ licencesMetadata(invoice) }}
    {{ financialYearMetadata(invoice) }}
    {{ invoiceTotalMetadata(invoice) }}
  </dl>
{% endmacro %}

{% macro invoiceLicenceMetadata(invoice, invoiceLicence, invoiceLicenceTotal) %}
  <dl class="meta govuk-!-margin-bottom-3">
    {{ accountMetadata(invoice) }}
    {{ billingContactMetadata(invoice) }}
    {{ licenceMetadata(invoiceLicence) }}
    {{ financialYearMetadata(invoice) }}
    {{ invoiceTotalMetadata(invoice, invoiceLicence, invoiceLicenceTotal) }}
  </dl>
{% endmacro %}
