{% from  "data.njk" import data %}

{% macro billRunTotal (totalAmount) %}
  {{ data('£' + totalAmount | number, 'Bill run total') }}
{% endmacro %}

{% macro billRunComponent (numberOfItems, text, totalAmount) %}
  {% set subHeader %}
    {{ numberOfItems }} {{ text | pluralize(numberOfItems != 1) }}
  {% endset %}

  {{ data('£' + totalAmount | number, subHeader, false) }}
{% endmacro %}

{% macro invoicesTotal (numberOfItems, totalAmount) %}
  {{ billRunComponent(numberOfItems, 'invoice', totalAmount) }}
{% endmacro %}

{% macro creditNoteTotal (numberOfItems, totalAmount) %}
  {{ billRunComponent(numberOfItems, 'credit note', totalAmount) }}
{% endmacro %}

{% macro invoiceComponent (text, totalAmount) %}
  {% set subHeader %}
    {{ text }}
  {% endset %}

  {{ data('£' + totalAmount | number, subHeader, false) }}
{% endmacro %}

{% macro invoiceTotal (totalAmount, credit) %}
{% if credit %}
  {{ data('£' + totalAmount + ' credit' | number, 'Bill amount') }}
{% else %}
  {{ data('£' + totalAmount | number, 'Bill amount') }}
{% endif %}
{% endmacro %}

{% macro invoiceCreditsTotal (numberOfItems, totalAmount) %}
  {{ invoiceComponent('Credits', totalAmount) }}
{% endmacro %}

{% macro invoiceDebitsTotal (numberOfItems, totalAmount) %}
  {{ invoiceComponent('Dedits', totalAmount) }}
{% endmacro %}
