{% from  "data.njk" import data %}

{% macro chargeOrDash (value, isSigned = false) %}
  {% if value | defaultTo(false) !== false %}
    {{ value | charge(isSigned) }}
  {% else %}
    <span>-</span><span class=govuk-visually-hidden>Loading</span>
  {% endif %}
{% endmacro %}

{% macro billRunTotal (totalAmount) %}
  <div class="govuk-!-font-weight-bold govuk-body">
    <div class="govuk-!-font-size-80">
      {{ chargeOrDash(totalAmount, true) }}
    </div>
    <div class="govuk-!-font-size-24">Bill run total</div>
  </div>
{% endmacro %}

{% macro billRunComponent (numberOfItems, text, totalAmount) %}
  <div class="govuk-!-font-weight-bold govuk-body">
    <div class="govuk-!-font-size-48">
      {{ chargeOrDash(totalAmount) }}
    </div>
    <div class="govuk-!-font-size-24">
      {{ numberOfItems | defaultTo(0) }} {{ text | pluralize(numberOfItems != 1) }}
    </div>
  </div>
{% endmacro %}

{% macro invoicesTotal (numberOfItems, totalAmount) %}
  {{ billRunComponent(numberOfItems, 'invoice', totalAmount) }}
{% endmacro %}

{% macro creditNoteTotal (numberOfItems, totalAmount) %}
  {{ billRunComponent(numberOfItems, 'credit note', totalAmount) }}
{% endmacro %}

{% macro invoiceComponent (text, totalAmount) %}
  {% set subHeader %}
    {{ text }}
  {% endset %}

  {{ data(totalAmount | charge, subHeader, false) }}
{% endmacro %}

{% macro invoiceTotal (totalAmount, credit) %}
{% if credit %}
  {{ data(totalAmount | charge, 'Bill amount') }}
{% else %}
  {{ data(totalAmount | charge, 'Bill amount') }}
{% endif %}
{% endmacro %}

{% macro invoiceCreditsTotal (numberOfItems, totalAmount) %}
  {{ invoiceComponent('Credits', totalAmount) }}
{% endmacro %}

{% macro invoiceDebitsTotal (numberOfItems, totalAmount) %}
  {{ invoiceComponent('Debits', totalAmount) }}
{% endmacro %}
