{% from  "data.njk" import data %}

{% macro billRunTotal (totalAmount) %}
  {{ data(totalAmount | charge, 'Total') }}
{% endmacro %}

{% macro billRunComponent (numberOfItems, text, totalAmount) %}
  {% set subHeader %}
    {{ numberOfItems }} {{ text | pluralize(numberOfItems != 1) }}
  {% endset %}

  {{ data(totalAmount | charge, subHeader, false) }}
{% endmacro %}

{% macro invoicesTotal (numberOfItems, totalAmount) %}
  {{ billRunComponent(numberOfItems, 'invoice', totalAmount) }}
{% endmacro %}

{% macro creditNoteTotal (numberOfItems, totalAmount) %}
  {{ billRunComponent(numberOfItems, 'credit note', totalAmount) }}
{% endmacro %}

{% macro invoiceComponent (text, totalAmount) %}
  {{ data(totalAmount | charge, text, false) }}
{% endmacro %}

{% macro invoiceTotal (totalAmount, credit) %}
{% if credit %}
  {% set chargeAmount = totalAmount | charge %}
  {{ data(chargeAmount + ' credit', 'Total') }}
{% else %}
  {{ data(totalAmount | charge, 'Total') }}
{% endif %}
{% endmacro %}

{% macro invoiceCreditsTotal (totalAmount) %}
  {{ invoiceComponent('Credits', totalAmount) }}
{% endmacro %}

{% macro invoiceDebitsTotal (totalAmount) %}
  {{ invoiceComponent('Debits', totalAmount) }}
{% endmacro %}
