{% from "govuk/components/details/macro.njk" import govukDetails %}

{% macro chargeElement(chargeElement) %}
  {% set chargeElementDetails %}
  {% for purpose in transaction.chargeElement.chargePurposes %}
    <dl class="meta govuk-summary-list govuk-summary-list--no-border govuk-!-font-size-16 govuk-!-margin-bottom-0">
    <div class="meta__row">
      <dt class="meta__key"><strong>Purpose</strong></dt>
      <dd class="meta__value">{{ chargeElement.purposeUse.name | sentenceCase }}</dd>
    </div>
    <div class="meta__row">
      <dt class="meta__key"><strong>Abstraction period</strong></dt>
      <dd class="meta__value">{{ chargeElement.abstractionPeriod | abstractionPeriod }}</dd>
    </div>
    <div class="meta__row">
      <dt class="meta__key"><strong>Volume</stong></dt>
      <dd class="meta__value">{{ chargeElement.authorisedAnnualQuantity }}ML authorised</dd>
    </div>
  </dl>
  {% endfor %}
  {% endset %}

  {{ govukDetails({
    summaryText: "Charge element details",
    html: chargeElementDetails,
    classes: 'govuk-!-margin-top-3 govuk-!-font-size-16 govuk-!-margin-bottom-0'
    })
  }}
{% endmacro %}

{% macro header(isCreditsDisplayed) %}
  <thead class="govuk-table__head">
    <caption class="govuk-table__caption govuk-table__caption--m govuk-!-margin-bottom-0">
      <h4 class="govuk-heading-m govuk-!-margin-bottom-1">
        Transactions
      </h4>
    </caption>
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Transaction detail</th>
      <th scope="col" class="table__header--width-15 govuk-table__header--numeric">Billable days</th>
      <th scope="col" class="table__header--width-15 govuk-table__header--numeric">Quantity</th>
      {% if isCreditsDisplayed %}
      <th scope="col" class="table__header--width-15 govuk-table__header--numeric">Credit</th>
      {% endif %}
      <th scope="col" class="table__header--width-15 govuk-table__header--numeric">Debit</th>
    </tr>
  </thead>
{% endmacro %}

{% macro transactionDescription(transaction) %}
  {% if transaction.isCompensationCharge %}
    Compensation charge 
  {% elif transaction.isMinimumCharge %}
    Minimum charge 
  {% else %}
    {{ transaction.description }}
  {% endif %}
{% endmacro %}

{% macro getBooleanText(boolean) %}
  {% if boolean %}
    Yes
  {% else %}
    No
  {% endif %}
{% endmacro %}

{% macro transactionChargePeriod(transaction) %}
  <p class="govuk-body-s">
    <br><strong>Charge period:</strong> {{ transaction.chargePeriod.startDate | date }} to {{ transaction.chargePeriod.endDate | date }}
    <br><strong>Charge reference:</strong> {{ transaction.chargeElement.chargeCategory.reference }} ({{ transaction.grossValuesCalculated.baselineCharge | charge(true) }})
    <br><strong>Charge description:</strong> {{ transaction.chargeElement.chargeCategory.shortDescription }}<br>
    {% if transaction.additionalCharges %}
      <br><strong>Additional charges: </strong>{{ transaction.additionalCharges }}
    {% endif %}
    {% if transaction.adjustments %}
      <br><strong>Adjustments: </strong>{{ transaction.adjustments }}
    {% endif %}
  </p>
{% endmacro %}

{% macro transactionDetailCell(group, transaction) %}
  <th class="govuk-table__header" scope="row">
    <h5 class="govuk-heading-s govuk-!-margin-bottom-0">
      {{ transactionDescription(transaction) }}
    </h5>

    {% if not transaction.isMinimumCharge %}
      <ul class="govuk-list govuk-!-font-size-16 govuk-!-margin-bottom-0 govuk-!-margin-top-0">
        <li>{{ transactionChargePeriod(transaction) }}</li>
        {% for agreement in transaction.agreements %}
          <li>Agreement {{ agreement.description }}</li>
        {% endfor %}
      </ul>
      {% if not transaction.isCompensationCharge %}
        {{ chargeElement(purpose) }}
      {% endif %}
    {% endif %}
  </th>
{% endmacro %}

{% macro billableDaysRatioCell(transaction) %}
  <td class="govuk-table__cell govuk-table__cell--numeric">
    {% if not transaction.isMinimumCharge %}
      {{ transaction.billableDays}}/{{ transaction.authorisedDays }}
    {% endif %}
  </td>
{% endmacro %}

{% macro creditCell(transaction) %}
  <td class="govuk-table__cell govuk-table__cell--numeric">
    {% if transaction.isCredit %}
      {{ transaction.value | charge }}
    {% endif %}
  </td>
{% endmacro %}

{% macro debitCell(transaction) %}
  <td class="govuk-table__cell govuk-table__cell--numeric">
    {% if not transaction.isCredit %}
      {{ transaction.value | charge }}
    {% endif %}
  </td>
{% endmacro %}

{% macro quantityCell(transaction) %}
  <td class="govuk-table__cell govuk-table__cell--numeric">
    {% if not transaction.isMinimumCharge %}
      {{ transaction.volume }}ML
    {% endif %}
  </td>
{% endmacro %}

{% macro transactionRow(group, transaction, isCreditsDisplayed) %}
  <tr class="govuk-table__row">
    {{ transactionDetailCell(group, transaction) }}
    {{ billableDaysRatioCell(transaction) }}
    {{ quantityCell(transaction) }}
    {% if isCreditsDisplayed %}
      {{ creditCell(transaction) }}
    {% endif %}
    {{ debitCell(transaction) }}
  </tr>
{% endmacro %}

{% macro creditsDebitsFooter(totals, isCreditsDisplayed) %}
  {% if totals %}
    <tfoot>

      {% if isCreditsDisplayed %}
      <tr class="govuk-table__row">
        <th scope="row" colspan="3" class="govuk-table__header">Credits total</th>
        <td class="govuk-table__header govuk-table__header--numeric">
          <b>{{ totals.credits | charge }}</b>
        </td>
        <td class="govuk-table__header"></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" colspan="4" class="govuk-table__header">Debits total</th>
        <td class="govuk-table__header govuk-table__header--numeric">
          <b>{{ totals.debits | charge }}</b>
        </td>
      </tr>
      {% endif %}
      <tr class="govuk-table__row">
        <th scope="col" colspan="{{ 4 if isCreditsDisplayed else 3 }}" class="govuk-table__header table__header--totals">
          Total
        </th>
        <td class="govuk-table__header govuk-table__header--numeric table__header--totals">
          <b>{{ totals.netTotal | charge(true) }}</b>
        </td>
      </tr>
    </tfoot>
  {% endif %}
{% endmacro %}

{% macro debitsFooter(totals) %}
  {% if totals %}
    <tfoot>
      <tr class="govuk-table__row">
        <th scope="col" colspan="3" class="govuk-table__header table__header--totals">
          <span class="govuk-visually-hidden">Total</span>
        </th>
        <td class="govuk-table__header govuk-table__header--numeric table__header--totals">
          <b>{{ totals.netTotal | charge(true) }}</b>
        </td>
      </tr>
    </tfoot>
  {% endif %}
{% endmacro %}

{% macro transactionsTableSroc(group, isCreditsDisplayed) %}
  <table class="govuk-table">
    {{ header(isCreditsDisplayed) }}
    <tbody class="govuk-table__body">
      {% for transaction in group.transactions %}
        {{ transactionRow(group, transaction, isCreditsDisplayed) }}
      {% endfor %}
    </tbody>
    {{ creditsDebitsFooter(group.totals, isCreditsDisplayed) }}
  </table>
{% endmacro %}
