{% macro header() %}
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Transaction detail</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Billable days</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Credit</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Debit</th>
    </tr>
  </thead>
{% endmacro %}

{% macro twoPartTariffHeader() %}
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Transaction detail</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Billable days</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Quantity</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Debit</th>
    </tr>
  </thead>
{% endmacro %}

{% macro transactionDetailCell(group, transaction) %}
  <td class="govuk-table__cell">
    <h5 class="govuk-heading-s govuk-!-margin-bottom-0">{{ transaction.chargePeriod.startDate | date }} to {{ transaction.chargePeriod.endDate | date }}</h5>
    <p>{{ "Compensation" if transaction.isCompensationCharge else "Standard" }} charge</p>

    <ul class="govuk-list">
      <li>{{ group.chargeElement.loss | sentenceCase }} loss</li>
      <li>{{ group.chargeElement.season | sentenceCase }}</li>
      <li>{{ group.chargeElement.source | sentenceCase }} source</li>
      {% for agreement in transaction.agreements %}
      <li>{{ agreement.code }} agreement</li>
      {% endfor %}
    </ul>
  </td>
{% endmacro %}

{% macro billableDaysRatioCell(transaction) %}
  <td class="govuk-table__cell govuk-table__cell--numeric">
    {{ transaction.billableDays}}/{{ transaction.authorisedDays }}
  </td>
{% endmacro %}

{% macro billableDaysCell(transaction) %}
  <td class="govuk-table__cell govuk-table__cell--numeric">
    {{ transaction.billableDays}}
  </td>
{% endmacro %}

{% macro creditCell(transaction) %}
  <td class="govuk-table__cell govuk-table__cell--numeric">
    {% if transaction.isCredit %}
    {{ transaction.value | charge }}
    {% endif %}
  </td>
{% endmacro %}

{% macro debitCell(transaction) %}
  <td class="govuk-table__cell govuk-table__cell--numeric">
    {% if not transaction.isCredit %}
    {{ transaction.value | charge }}
    {% endif %}
  </td>
{% endmacro %}

{% macro quantityCell(transaction) %}
  <td class="govuk-table__cell govuk-table__cell--numeric">
    {{ transaction.volume }}ML
    {% if transaction.isEdited %}
    <p>Edited</p>
    {% endif %}
  </td>
{% endmacro %}

{% macro transactionRow(group, transaction) %}
  <tr class="govuk-table__row">
    {{ transactionDetailCell(group, transaction) }}
    {{ billableDaysRatioCell(transaction) }}
    {{ creditCell(transaction) }}
    {{ debitCell(transaction) }}
  </tr>
{% endmacro %}

{% macro minimumChargeTransactionRow(transaction) %}
  <tr class="govuk-table__row">
    {{ minimumChargeDescription(transaction) }}
    {{ creditCell(transaction) }}
    {{ debitCell(transaction) }}
  </tr>
{% endmacro %}

{% macro twoPartTariffTransactionRow(group, transaction) %}
  <tr class="govuk-table__row">
    {{ transactionDetailCell(group, transaction) }}
    {{ billableDaysCell(transaction) }}
    {{ quantityCell(transaction) }}
    {{ debitCell(transaction) }}
  </tr>
{% endmacro %}

{% macro creditsDebitsFooter(totals) %}
  <tfoot>
    <tr class="govuk-table__row">
      <th scope="row" colspan="2" class="govuk-table__header">Credits</th>
      <td class="govuk-table__header govuk-table__header--numeric"><b>{{ totals.credits | charge }}</b></td>
      <td class="govuk-table__header"></td>
    </tr>
      <th scope="row" colspan="3" class="govuk-table__header">Debits</th>
      <td class="govuk-table__header govuk-table__header--numeric"><b>{{ totals.debits | charge }}</b></td>
    </tr>
    </tr>
      <th scope="col" colspan="3" class="govuk-table__header table__header--totals">
        <span class="govuk-visually-hidden">Total</span>
      </th>
      <td class="govuk-table__header govuk-table__header--numeric table__header--totals"><b>{{ totals.netTotal | charge(true) }}</b></td>
    </tr>
  </tfoot>
{% endmacro %}

{% macro debitsFooter(totals) %}
  <tfoot>
    </tr>
      <th scope="col" colspan="3" class="govuk-table__header table__header--totals">
        <span class="govuk-visually-hidden">Total</span>
      </th>
      <td class="govuk-table__header govuk-table__header--numeric table__header--totals"><b>{{ totals.netTotal | charge(true) }}</b></td>
    </tr>
  </tfoot>
{% endmacro %}

{% macro transactionsTable(group, totals) %}
 <table class="govuk-table">
  {{ header() }}
  <tbody class="govuk-table__body">
    {% for transaction in group.transactions %}
      {{ transactionRow(group, transaction) }}
    {% endfor %}
  </tbody>
  {{ creditsDebitsFooter(totals) }}
 </table>
{% endmacro %}

{% macro twoPartTariffTransactionsTable(group, totals) %}
 <table class="govuk-table">
  {{ twoPartTariffHeader() }}
  <tbody class="govuk-table__body">
    {% for transaction in group.transactions %}
    {{ twoPartTariffTransactionRow(group, transaction) }}
    {% endfor %}
  </tbody>
  {{ debitsFooter(totals) }}
 </table>
{% endmacro %}

