{% macro twoPartTariffLicencesTable(licences, includeIssues = false) %}
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Licence</th>
        <th scope="col" class="govuk-table__header">Licence holder</th>
        {% if includeIssues %}
        <th scope="col" class="govuk-table__header">Issue</th>
        {% endif %}
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Action</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for licence in licences %}
        {% if licence.twoPartTariffStatuses.length > 0 %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              {{ licence.licenceRef }}
            </td>
            <td class="govuk-table__cell">
              {{ licence.licenceHolder.name }}
            </td>
            {% if includeIssues %}
            <td class="govuk-table__cell">
              {% if licence.twoPartTariffStatuses %}
              {{ licence.twoPartTariffStatuses }}
              {% endif %}
            </td>
            {% endif %}
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <a href="{{ licence.link }}" class="govuk-link">Review</a>
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
{% endmacro %}