{% macro billableQuantity(chargeElement) %}
  {% if chargeElement.billableAnnualQuantity | isFinite %}
    {{ chargeElement.billableAnnualQuantity + 'Ml billable'}}
  {% else %}
    Billable not set
  {% endif %}
{% endmacro %}

{% macro authorisedQuantity(chargeElement) %}
  {% if chargeElement.authorisedAnnualQuantity | isFinite %}
    {{ chargeElement.authorisedAnnualQuantity + 'Ml authorised'}}
  {% else %}
    0Ml
  {% endif %}
{% endmacro %}

{% macro reportedVolume(billingVolume) %}
{% if billingVolume.error != 'No returns received' | isFinite %}
  {{ billingVolume.calculatedVolume + 'Ml' }}
{% else %}
  No returns received
{% endif %}
{% endmacro %}

{% macro billableVolume(billingVolume) %}
{% if billingVolume.volume | isFinite %}
  {{ billingVolume.volume + 'Ml' }}
  {% if billingVolume.volume != billingVolume.calculatedVolume and billingVolume.calculatedVolume | isFinite %}
    <br>Edited
  {% endif %}
{% else %}
    0Ml
{% endif %}
{% endmacro %}
