{% extends "./nunjucks/layout.njk" %}
{% from "forms/index.njk" import formRender,
formErrorSummary %}
{% from "title.njk" import title %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ formErrorSummary(form) }}
      {{ title(pageTitle, caption) }}
    </div>
    <div class="govuk-grid-column-full">

      <div>
        <p>Company name</p>
        <p>
          <strong style="margin-right: 1em;">{{companyNameOrNumber}}</strong>
          <a href='/contact-entry/new/details?sessionKey={{sessionKey}}'>Change company name</a>
        </p>
      </div>
      {{ formRender(form) }}
    </div>
  </div>
{% endblock %}