{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "./text.njk" import formTextWidget %}
{% from "./date.njk" import formDateWidget %}
{% from "./paragraph.njk" import formParagraphWidget %}

{% macro formRadioWidget(field, form) %}

  {% set options = field | mapFormRadioField %}

  {% for choice in field.options.choices %}
    {% set outerLoop = loop %}
    {% for item in choice.fields %}
      {% set html %}

        {% if item.options.widget=='text' %}
          {{ formTextWidget(item, form) }}
        {% endif %}

        {% if item.options.widget=='date' %}
          {{ formDateWidget(item, form) }}
        {% endif %}

        {% if item.options.widget=='paragraph' %}
          {{ formParagraphWidget(item, form) }}
        {% endif %}

      {% endset %}
      {% set options = options | setConditionalRadioField(outerLoop.index0, html) %}
    {% endfor %}
  {% endfor %}

  {{ govukRadios(options) }}

{% endmacro %}
