{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% macro formTextWidget(field) %}

  {% if field.options.type == 'hidden' %}
    <input type="hidden" name="{{ field.name }}" value="{{ field.value }}" />
  {% else %}

    {% set options = field | mapFormField %}

    {% if field.options.multiline %}
      {{ govukTextarea(options) }}
    {% else %}
      {{ govukInput(options) }}
    {% endif %}
  {% endif %}
{% endmacro %}
