{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% macro formWarningTextWidget(field) %}
{{ govukWarningText({
    html: field.options.text,
    iconFallbackText: "Warning"
}) }}
{% endmacro %}