{% extends "./nunjucks/layout.njk" %}
{% from "nunjucks/macros/forms/index.njk" import formRender, formErrorSummary %}
{% from "nunjucks/macros/title.njk" import title %}

{% block content %}
  <div class="govuk-grid-row">
    {{ formErrorSummary(form) }}
    {{ title(pageTitle) }}
    {{ formRender(form) }}
  </div>
{% endblock %}
