{{> styles}}
<main id="content" tabindex="-1">
  {{>element-phase-tag}}{{>element-main-nav}}

  <a href="/admin/notifications/contact" class="link-back link-back--space-above">Back</a>


  <!-- page title -->
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1  class="heading-large">{{ pageTitle }}</h1>

      <p>This is the information that will be available to your public contacts.</p>


      <form novalidate method="POST" action="/admin/notifications/contact-details">
        <input type="hidden" name="csrf_token" value="{{ csrfToken }}" />
{{> contact-details-addresses }}
        <button type="submit" class="button">Continue</button>
      </form>
    </div>
  </div>

  <!-- confirmation panel -->
  <div class="grid-row">
    <div class="column-two-thirds">


    </div>
  </div>

</main>



{{> footerjs}}
{{> debug}}
