{{> styles}}
<main id="content" tabindex="-1">
  {{>element-phase-tag}}{{>element-main-nav}}


    <a href="#" class="link-back medium-space" onclick="history.go(-1)">Back</a>

    <!-- page title -->
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-large tight">
          Check and confirm your {{ toLowerCase task.config.name }}
        </h1>
      </div>
    </div>

    <div class="grid-row">
      <div class="column-two-thirds">

        <div class="medium-space">
          <p>
            <!-- todo: who and why section -->
            You’re about to send this notification to
            <span class="bold-small">{{ summary.messageCount }} licence holders</span>
            regarding
            <span class="bold-small">{{ summary.licenceCount }} licences</span>.
          </p>
        </div>


        <div class="medium-space">
          <div class="notification-preview">


            {{{ markdown summary.sampleMessage }}}

          </div>
        </div>
      </div>
    </div>

    <div class="grid-row">
      <div class="column-one-third">
        <form method="POST" action="{{ formAction }}">
          <input type="hidden" name="csrf_token" value="{{ csrfToken }}" />
          <input type="hidden" name="data" value="{{ data }}" />
          <button type="submit" class="button">Send notification</button>
        </form>
      </div>
    </div>
  </main>
{{> footerjs}}
{{> debug}}
