{{> styles}}
<main id="content" tabindex="-1">
  {{>element-phase-tag}}{{>element-main-nav}}

  <a class="link-back link-back--space-above" href="/select-licences">Back</a>

  <h1 class="heading-large heading-large--tight-above">{{ task.config.title }}</h1>

  {{#greaterThan pagination.pageCount 1 }}
  <div class="panel panel-border-wide alert-default medium-space">
    Your search returned more than {{ pagination.perPage }} licences.
    Only the first {{ pagination.perPage }} licences can be selected below.
  </div>
  {{/greaterThan}}

  <form method="POST" action="{{ formAction }}">
    <input type="hidden" name="crsf_token" value="{{ csrfToken }}" />

    <input type="hidden" name="data" value="{{ data }}" />

    <fieldset class="small-space">
              <legend class="small-space">
                <p>
                  <span class="body-text">You selected all licences

                  {{#each task.config.steps}}
                    {{#each this.widgets}}
                      {{ this.replay }} <span class="bold-small">{{lookup ../../query this.name }}</span>{{/each}}{{/each}}.
                </p>
                <p>You can remove any licences you want to exclude from this notification below.</p>
              </legend>

              <!-- flextable function -->
              <div class="grid-row">
                <div class="column-full">

                  <div class="table">

                    <div class="table-row table-head">
                      <div class="table-cell bold-small">
                        Licence number
                      </div>
                      <div class="table-cell bold-small">
                        Licence holder
                      </div>
                      <!-- <div class="table-cell bold-small">
                        Contact information
                      </div> -->
                      <div class="table-cell bold-small">
                        Licence end
                      </div>
                      <div class="table-cell bold-small">
                        Contact
                      </div>
                    </div>
                    {{#each results}}
                    <div class="table-row medium-space">
                      <div class="table-cell">
                        <div class="multiple-choice">
                          <input checked="" type="checkbox" id="checkbox-{{@index}}" name="system_external_id">
                          <label for="checkbox-{{@index}}" >
                            <h2 class="bold-small">
                              {{system_external_id}}
                            </h2>
                          </label></div>
                      </div>
                      <div class="table-cell">
                        <span class="context">
                          Licence holder
                        </span>
                        {{metadata.Forename}} {{metadata.Initials}} {{metadata.Name}}
                      </div>
                      <div class="table-cell">
                        <span class="context">
                          Licence end
                        </span>
                        {{Expires}}
                      </div>
                      <div class="table-cell">
                        <span class="context">
                          Contact
                        </span>

                      </div>
                    </div>
                    {{/each}}
            </fieldset>
            <button type="submit" class="button">Continue</button>

          </form>
        </main>



{{> footerjs}}
{{> debug}}
