{{> styles}}
<main id="content" tabindex="-1">
  {{>element-phase-tag}}{{>element-main-nav}}

  <!-- page title -->
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1  class="heading-large">
        Your {{ toLowerCase task.config.name }} has been sent
      </h1>
    </div>
  </div>

  <!-- confirmation panel -->
  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight govuk-box-highlight--accessible">
        <h2 class="heading-large tight">
          Notification sent
        </h2>
        <p class="font-medium">
          You sent this notification to <span class="bold-medium">{{ summary.messageCount }} recipient{{#greaterThan summary.messageCount 1}}s{{/greaterThan}}</span>.<br>
        </p>
      </div>

      <p>
        <a href="/admin/notifications/report">
          See report for notices
        </a>
      </p>

    </div>
  </div>

</main>



{{> footerjs}}
{{> debug}}
