{{> styles}}
<main id="content" tabindex="-1">
  {{>element-phase-tag}}{{>element-main-nav}}

  {{#if index }}
  <a class="link-back link-back--space-above" href="/select-licences">Back</a>
  {{/if}}

  <h1 class="heading-large {{#if index}}heading-large--tight-above{{/if}}">{{ task.config.title }}</h1>

  {{#if step.content }}
  <p>{{ step.content }}</p>
  {{/if}}

  <form method="POST" action="{{ formAction }}">

    <input type="hidden" name="csrf_token" value="{{ csrfToken }}" />
    <input type="hidden" name="data" value="{{ data }}" />

    {{#each step.widgets }}
      {{#equal this.widget 'dropdown' }}
        {{>widget-dropdown this }}
      {{/equal}}
      {{#equal this.widget 'date' }}
        {{>widget-date this }}
      {{/equal}}
      {{#equal this.widget 'textarea' }}
        {{>widget-textarea this }}
      {{/equal}}
    {{/each}}

    <button type="submit" class="button">Continue</button>

  </form>
</main>


{{> footerjs}}
{{> debug}}
