
{{#if hasMultipleCompanies }}
<div class="company-switcher">
  You are managing <b>{{ companyName }}</b>
  <a href="/select-company" class="company-switcher__link">
    Change <span class="sr-only">the company you manage</span>
  </a>
</div>
{{/if}}

{{#if isAuthenticated}}
<div class="navbar">
    <ul class="navbar__list-items menu-left">
        {{#each mainNavLinks }}
        <li class="navlink {{#equal this.id ../activeNavLink }}active{{/equal}}" id="{{ this.attributes.id }}"><a href="{{ this.href }}">{{ this.text }}</a></li>
        {{/each}}
    </ul>
</div>
{{/if}}
