{{#equal surveyType 'internal'}}
<script id="ss-embed-419108">(function(d,w)
{var s,ss;ss=d.createElement('script');ss.type='text/javascript';ss.async=true;ss.src=('https:'==d.location.protocol?'https://':'http://')+'www.smartsurvey.co.uk/s/r/embed.aspx?i=371736&c=419108';s=d.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ss, s);}
)(document,window);</script>
{{/equal}}

{{#equal surveyType 'external'}}
<script id="ss-embed-416960">(function(d,w)
{var s,ss;ss=d.createElement('script');ss.type='text/javascript';ss.async=true;ss.src=('https:'==d.location.protocol?'https://':'http://')+'www.smartsurvey.co.uk/s/r/embed.aspx?i=371736&c=416960';s=d.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ss, s);}
)(document,window);</script>
{{/equal}}

{{#equal surveyType 'anonymous'}}
<script id="ss-embed-517384">(function(d,w)
{var s,ss;ss=d.createElement('script');ss.type='text/javascript';ss.async=true;ss.src=('https:'==d.location.protocol?'https://':'http://')+'www.smartsurvey.co.uk/s/r/embed.aspx?i=371736&c=517384';s=d.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ss, s);}
)(document,window);</script>
{{/equal}}
