{{#equal surveyType 'internal'}}
<iframe id="ss-embed-frame-419108" src="https://www.smartsurvey.co.uk/s/1CCYT/" class="survey-frame" frameborder="0"></iframe>
{{/equal}}

{{#equal surveyType 'external'}}
<iframe id="ss-embed-frame-416960" src="https://www.smartsurvey.co.uk/s/FYWJN/" class="survey-frame" frameborder="0"></iframe>
{{/equal}}

{{#equal surveyType 'anonymous'}}
<iframe id="ss-embed-frame-517384" src="https://www.smartsurvey.co.uk/s/AEIMT/" class="survey-frame" frameborder="0"></iframe>
{{/equal}}
