{{#equal surveyType 'internal'}}
<iframe id="ss-embed-frame-419108" src="https://www.smartsurvey.co.uk/s/1CCYT/" style="width:100%;height:800px;border:0px;padding-bottom:4px;" frameborder="0"></iframe>
{{/equal}}

{{#equal surveyType 'external'}}
<iframe id="ss-embed-frame-416960" src="https://www.smartsurvey.co.uk/s/FYWJN/" style="width:100%;height:800px;border:0px;padding-bottom:4px;" frameborder="0"></iframe>
{{/equal}}

{{#equal surveyType 'anonymous'}}
<iframe id="ss-embed-frame-517384" src="https://www.smartsurvey.co.uk/s/AEIMT/" style="width:100%;height:800px;border:0px;padding-bottom:4px;" frameborder="0"></iframe>
{{/equal}}
