
<script src="/public/javascripts/application.all.min.js"></script>


<!-- Google analytics embedded using GTM -->

<!-- Google Tag Manager -->
<script nonce={{nonces.script}}>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.setAttribute('nonce','{{nonces.script}}');j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-W64QRBS');</script>
<!-- End Google Tag Manager -->

<script nonce={{nonces.script}}>
window.dataLayer = window.dataLayer || [];
var ev={
  'event': 'pageview',
  'userType': '{{tracking.usertype}}',
  'newUser': '{{tracking.newuser}}',
  'lastlogin': '{{tracking.lastlogin}}'
}
window.dataLayer.push(ev);
</script>
