
<div class="form-group {{#if errors }}form-group-error{{/if}}">
  <fieldset class="inline" id="{{ name }}">

    <legend>
      <h2 class="heading-medium">
        {{ options.label }}
      </h2>

      {{#each errors}}
      <span class="error-message">{{ message }}</span>
      {{/each}}
    </legend>


    {{#each options.choices }}
    <div class="multiple-choice">
      <input id="radio-inline-{{@index}}" type="radio" name="{{ ../name }}" value="{{ this }}" {{#equal ../value this}}checked{{/equal}}>
      <label for="radio-inline-{{@index}}">{{ this }}</label>
    </div>
    {{/each}}



  </fieldset>
</div>
