{{#equal options.type 'hidden'}}
<input type="hidden" name="{{ name }}" value="{{ value }}" />
{{else}}
<div class="form-group {{#if errors }}form-group-error{{/if}}">
  <label class="form-label" for="{{ name }}">
    {{ options.label }}

    {{#if options.hint }}
    <span class="form-hint">
      {{ options.hint }}
    </span>
    {{/if}}

    {{#each errors}}
    <span class="error-message">{{ message }}</span>
    {{/each}}

  </label>

  {{#if options.multiline }}
  <textarea {{#if options.rows }}rows={{ options.rows }}{{/if}} class="{{ options.controlClass }}" id="{{ name }}" type="{{ options.type }}" name="{{ name }}">{{ value }}</textarea>
  {{else}}
  <input class="{{ options.controlClass }}" id="{{ name }}" type="{{ options.type }}" name="{{ name }}" value="{{ value }}">
  {{/if}}

  <span class="form-suffix">
  {{ options.suffix }}
  </span>
</div>

{{/equal}}
