{{#equal options.type 'hidden'}}
<input type="hidden" name="{{ name }}" value="{{ value }}" />
{{else}}
<div id="{{ name }}_container" class="{{#if options.panel }}panel panel-border-narrow{{ else }}form-group{{/if}} {{#if options.jsHidden }}js-hidden{{/if}} {{#if errors }}form-group-error{{/if}}">
  <label class="form-label" for="{{ name }}">
    {{ options.label }}

    {{#if options.hint }}
    <span class="form-hint">
      {{ options.hint }}
    </span>
    {{/if}}

    {{#each errors}}
    <span class="error-message">{{ message }}</span>
    {{/each}}

  </label>
  <input class="form-control" id="{{ name }}" type="text" name="{{ name }}" value="{{ value }}">
</div>

{{/equal}}
