<div class="grid-row">
  <div class="column-full">
    <h2 class="heading-medium">{{ this.displayTitle}}</h2>

    {{#each this.points}}
      <h3 class="data-row data-row--heading">
        <span class="data-row__param">Abstraction point{{#greaterThan this.points.length 1}}s{{/greaterThan}}</span>
        <div class="data-row__value">

          {{#equal this.points.length 1}}
            {{ ngrPoint this.points.[0] }}
          {{else }}

            {{#lessThan this.points.length 6}}
              <ul class="sub-list sub-list--no-bottom-border">
              {{#each this.points}}
                <li>{{ ngrPoint this }}</li>
              {{/each}}
              </ul>
            {{else}}

              <details>
                <summary>View your {{ this.points.length }} abstraction points for {{#equal this.conditions.length 1}}this condition{{ else }}these conditions{{/equal}}</summary>
                <div>
                  <ul class="sub-list sub-list--no-bottom-border">
                  {{#each this.points}}
                    <li>{{ ngrPoint this }}</li>
                  {{/each}}
                  </ul>
                </div>
              </details>

            {{/lessThan}}

          {{/equal}}
        </div>
      </h3>
      {{#each this.conditions }}
      <div class="data-row-group">
        <h4 class="sr-only">Condition {{add @index 1 }}</h4>

        <div class="data-row data-row--section">
          <div class="data-row__param" id="label-{{@../index}}-{{@index}}-purpose">
         Purpose
          </div>
          <div class="data-row__value" aria-labelledby="label-{{@../index}}-{{@index}}-purpose">
            {{ ../../purpose }}
          </div>
        </div>

        {{#if this.parameter1 }}
        <div class="data-row">
          <div class="data-row__param" id="label-{{@../index}}-{{@index}}-param1">
          {{ ../../parameter1Label }}
          </div>
          <div class="data-row__value" aria-labelledby="label-{{@../index}}-{{@index}}-param1">
          {{ this.parameter1 }}
          </div>
        </div>
        {{/if}}

        {{#if this.parameter2 }}
        <div class="data-row">
          <div class="data-row__param" id="label-{{@../index}}-{{@index}}-param2">
          {{ ../../parameter2Label }}
          </div>
          <div class="data-row__value" aria-labelledby="label-{{@../index}}-{{@index}}-param2">
          {{ this.parameter2 }}
          </div>
        </div>
        {{/if}}

        {{#if this.text }}
        <div class="data-row">
          <div class="data-row__param" id="label-{{@../index}}-{{@index}}-info">
          Other information
          </div>
          <div class="data-row__value" aria-labelledby="label-{{@../index}}-{{@index}}-info">
          {{ this.text }}
          </div>
        </div>
        {{/if}}

      </div>
      {{/each}}
    {{/each}}
  </div>
</div>
{{#unless @last}}<br />{{/unless}}
