
 <!-- Contact -->
 <div class="data-row">
    <div class="data-row__param">Licence holder</div>
    <div class="data-row__value">
      {{ concat licenceData.licenceHolderTitle ' ' licenceData.licenceHolderInitials ' ' licenceData.licenceHolderName }}
      <br/><a href="{{#if isAdmin }}/admin{{/if}}/licences/{{ licence_id }}/contact">View licence contact details</a>
    </div>

 </div>

  <!-- Purposes -->
  <div class="data-row">
    <div class="data-row__param">Purpose{{#greaterThan licenceData.uniquePurposeNames.length 1}}s{{/greaterThan}} of abstraction</div>
    <div class="data-row__value">

      {{#greaterThan licenceData.uniquePurposeNames.length 1}}
        <!-- Multiple purposes -->
        {{#lessThan licenceData.uniquePurposeNames.length 6 }}
        <ul class="sub-list sub-list--no-bottom-border">
          {{#each licenceData.uniquePurposeNames }}
          <li>{{this}}</li>
          {{/each}}
        </ul>
        {{else}}
        You have {{ licenceData.uniquePurposeNames.length }} abstraction purposes<br />
        {{/lessThan}}

      {{else}}
        {{licenceData.uniquePurposeNames }}<br />
      {{/greaterThan}}

    </div>
  </div>

  <!-- Amounts -->
  {{#if licenceData.aggregateQuantity }}
  <div class="data-row">
      <div class="data-row__param">Abstraction amounts</div>
      <div class="data-row__value">
        <ul class="sub-list {{#greaterThan licenceData.abstractionPeriods.length 0 }}sub-list--no-bottom-border{{/greaterThan}}">
        {{#each licenceData.aggregateQuantity }}
          {{#notNull this.value}}
          <li>{{ precision this.value 2 }} {{ this.name }}</li>
          {{/notNull}}
        {{/each}}
        </ul>

        {{#equal licenceData.abstractionPeriods.length 0}}
          <a href="{{#if isAdmin }}/admin{{/if}}/licences/{{ licence_id }}/purposes">
            View details of your purpose{{#greaterThan licenceData.uniquePurposeNames.length 1}}s{{/greaterThan}},
            period{{#greaterThan licenceData.abstractionPeriods.length 1}}s{{/greaterThan}} and amounts
          </a>
        {{/equal}}
      </div>
  </div>
  {{/if}}

  {{#greaterThan licenceData.abstractionPeriods.length 0}}
  <!-- Periods -->
  <div class="data-row">
    <div class="data-row__param">Period{{#greaterThan licenceData.abstractionPeriods.length 1}}s{{/greaterThan}} of abstraction</div>
    <div class="data-row__value">

      {{#greaterThan licenceData.abstractionPeriods.length 1}}
        <!-- Multiple purposes -->
        {{#lessThan licenceData.abstractionPeriods.length 6 }}
        <ul class="sub-list">
          {{#each licenceData.abstractionPeriods }}
          <li>{{formatPeriod periodStart periodEnd }}</li>
          {{/each}}
        </ul>
        {{else}}
        You have {{ licenceData.abstractionPeriods.length }} abstraction periods<br />
        {{/lessThan}}

      {{else}}
        {{formatPeriod licenceData.abstractionPeriods.0.periodStart licenceData.abstractionPeriods.0.periodEnd  }}<br />
      {{/greaterThan}}

      <a href="{{#if isAdmin }}/admin{{/if}}/licences/{{ licence_id }}/purposes">
        View details of your purpose{{#greaterThan licenceData.uniquePurposeNames.length 1}}s{{/greaterThan}},
        period{{#greaterThan licenceData.abstractionPeriods.length 1}}s{{/greaterThan}} and amounts
      </a>
    </div>
  </div>
  {{/greaterThan}}






  <!-- Points -->
  <div class="data-row">
    <div class="data-row__param">Point{{#greaterThan licenceData.points.length 1}}s{{/greaterThan}} of abstraction</div>
    <div class="data-row__value">

      {{#greaterThan licenceData.points.length 1}}
        <!-- Multiple purposes -->
        {{#lessThan licenceData.points.length 6 }}
        <ul class="sub-list">
          {{#each licenceData.points }}
          <li>{{ngrPoint this}}</li>
          {{/each}}
        </ul>
        {{else}}
        You have {{ licenceData.points.length }} abstraction points<br />
        {{/lessThan}}

        <a href="{{#if isAdmin }}/admin{{/if}}/licences/{{ licence_id }}/points">View details of your abstraction points</a>


      {{else}}
        {{ngrPoint licenceData.points }}<br />
        <a href="{{#if isAdmin }}/admin{{/if}}/licences/{{ licence_id }}/points">View details of your abstraction point</a>
      {{/greaterThan}}

    </div>
  </div>




  <!-- Abstraction conditions -->
  <div class="data-row">
    <div class="data-row__param">Abstraction condition{{#greaterThan licenceData.conditions.length 1}}s{{/greaterThan}}{{#equal licenceData.conditions.length 0}}s{{/equal}}</div>
    <div class="data-row__value">

      {{#greaterThan licenceData.conditions.length 1}}
        <!-- Multiple purposes -->
        {{#lessThan licenceData.conditions.length 6 }}
        <ul class="sub-list">
          {{#each licenceData.conditions }}
          <li>{{this.displayTitle}}</li>
          {{/each}}
        </ul>
        {{else}}
        You have {{ licenceData.conditions.length }} abstraction conditions<br />
        {{/lessThan}}

        <a href="{{#if isAdmin }}/admin{{/if}}/licences/{{ licence_id }}/conditions">View details of your abstraction conditions</a>


      {{else}}
        {{#greaterThan licenceData.conditions.length 0}}
          {{licenceData.conditions.0.displayTitle }}<br />
          <a href="{{#if isAdmin }}/admin{{/if}}/licences/{{ licence_id }}/conditions">View details of your abstraction condition</a>
        {{else}}
          <a href="{{#if isAdmin }}/admin{{/if}}/licences/{{ licence_id }}/conditions">View details of your abstraction conditions</a>
        {{/greaterThan}}

      {{/greaterThan}}

    </div>
  </div>








  <p></p>
  <p></p>

  <div class="grid-row">
    <div class="column-two-thirds">

      {{>element-licence-disclaimer}}

      <details>
        <summary><span class="summary">Is your licence information correct?</span></summary>
        <div class="panel panel-border-narrow">

          <p>
            To help us improve our new service, please let us know if you find any errors in the licence information we are showing you. You can contact us by:
          </p>

          {{>contact-details}}

        </div>

      </details>

    </div>
  </div>
