{{# equal status 'due' }}
  {{#if isPastDueDate}}
    <strong class="badge badge--success badge--caps badge--no-wrap">Overdue</strong>
  {{else}}
    <strong class="badge badge--success badge--caps badge--no-wrap">Due</strong>
  {{/if}}
{{/equal}}

{{#equal status 'received'}}
    <strong class="badge badge--completed badge--caps badge--no-wrap">Received</strong>
{{/equal}}

{{#equal status 'completed'}}
    <strong class="badge badge--completed badge--caps badge--no-wrap">Completed</strong>
{{/equal}}
