<div class="form-group {{#hasWidgetErrors this.name error }}form-group-error{{/hasWidgetErrors}}">
  <label class="form-label" for="{{ this.name }}">
    <span class="form-label-bold">{{ this.label }}</span>
    {{{ widgetErrors this.name error }}}
    {{#if this.hint }}
    <span class="form-hint">{{ this.hint }}</span>
    {{/if}}
  </label>
  <textarea maxlength="8000" class="form-control form-control-3-4" name="{{ this.name }}" id="{{ this.name }}" rows="5" value="{{ this.value }}"></textarea>
</div>
