{{> styles}}
<main id="content" tabindex="-1">
  {{>element-phase-tag}}{{>element-main-nav}}

  <a class="link-back" href="/start">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form novalidate action="/register" method="post" class="form">

          {{#if error}}
          <script>
            sendEvent({category:'error', action:'register_email_invalid_email_address'})
          </script>

          <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-2" tabindex="-1">
            <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
              That email address is not valid
            </h2>
            <ul class="error-summary-list">
              <li><a href="#email">Re-enter your email address</a></li>
            </ul>
          </div>
          {{/if}}

          <h1 class="heading-large">{{ pageTitle }}</h1>

          <p class="lede">For security, we need to confirm your email address before you can create your account.</p>

          <div class="form-group {{#if error}}form-group-error{{/if}}">
             <label for="email">
                <span class="form-label-bold">Email address</span>
                {{#if error}}
                  <span class="error-message">Please enter a valid email address</span>
                {{/if}}
            </label>

            <input maxlength="254" value="{{ payload.email }}" type="email" class="form-control" id="email" name="email" required=""/>
          </div>

          <input type="submit" value="Continue" class="button" role="button"/>
      </form>

      <br />

      <details>
        <summary>
          <span class="summary">What will you do with my email address?</span>
        </summary>
        <div class="panel panel-border-narrow">
          <p>
            We ask for your email address to create a secure online account for you. You will need to use it every time you sign in to use the service. Please read our <a href="/privacy-policy">privacy policy</a> for information about how the Environment Agency will store your email address, and how you can withdraw your consent for us to use it.
          </p>
        </div>
      </details>
    </div>
  </div>
</main>

{{> footerjs}}
{{> debug}}
