{{> styles}}
<main id="content" tabindex="-1">
  {{>element-phase-tag}}
  {{>element-main-nav}}

  <h1 class="heading-large">{{ pageTitle }}</h1>

  <p class="text">This will remove access to licence information for <span class="bold-small">{{ colleagueName }}</span>.</p>
  <p class="text">They will not be notified about this change.</p>

  <form novalidate method="post" action="/manage_licences/access/remove" class="form">
    <input name="csrf_token" type="hidden" value="{{ csrfToken }}" />
    <input name="colleagueEntityID" type="hidden" value="{{ colleagueEntityID }}" />
    <button type="submit" class="button">Remove access</button>
  </form>
</main>

{{> footerjs}}
