{% from "./measurement-point.njk" import measurementPoint %}

{% macro wr22_2_3(data) %}

No
  <b>{% if data.purpose_type == 'Abstraction' %}abstraction{% else %}power production{% endif %}</b>

 shall take place unless the rate of flow in the <b>{{ data.water_body_name.name }}</b> as measured

  {{ measurementPoint(data.measurement_point) }}

is equal to or greater than <b>{{ data.hof_hol_flow }}{{ data.hof_hol_flow_unit }}</b>
and the

<b>
{% if data.purpose_type == 'Abstraction' %}abstraction{% endif %}
{% if data.purpose_type == 'Power production' %}power production{% endif %}
{% if data.purpose_type == 'Power production with turbine' %}turbine{% endif %}
</b>

shall not cause the

<b>
{% set abstractionPoint %}
  {% if data.measurement_point.measurement_point_diagram_type == 'None' %}
   abstraction point
  {% else %}
   reference point
  {% endif %}
{% endset %}
</b>

{% if data.hof_type == 'Hands off flow' %}
  <b>flow immediately downstream</b> of the said <b>{{ abstractionPoint }}</b> to fall below that rate.
{% endif %}

{% if data.hof_type == 'Hands off level' %}
 <b>water level</b> at of the said <b>{{ abstractionPoint }}</b> to fall below that level.
{% endif %}

This shall be known as the '<b>{{ data.hof_type | lower }}</b>'.
{% endmacro %}
