{% macro wr22_2_6(data) %}

Abstraction shall not exceed

<b>{{ data.max_rate }}{{ data.max_rate_unit }}</b>

 when the flow in the <b>{{ data.water_body_name.name }}</b> as gauged by the Agency at its flow gauging station at

 <b>{{ data.gauging_station.value }}</b>

is equal to or less than <b>{{ data.hof_rate }}{{ data.hof_rate_unit }}</b> for <b>{{ data.hof_duration }}</b>

as may be notified by the Agency. The Agency’s said gauging of the flow shall be conclusive.

{% endmacro %}
