{% macro wr22_2_9_8(data) %}
  <p>Lakenheath IDB</p>
  <p>
    No water shall be taken at <b>{{data.abstraction_point}}</b> when the water
    level in Lakenheath Poor’s Fen is EQUAL TO or LESS THAN 99.8 metres South
    Level Datum, as indicated by the red triangle on the gauging board on the
    drain at National Grid Reference TL 7003 8386.
  </p>
{% endmacro %}
