{{> styles}}
<main id="content" tabindex="-1">
  {{>element-phase-tag}}{{>element-main-nav}}

  {{#unless crmData.company_entity_id}}
    {{#if crmData.verifications}}
      <div class="grid-row">
        <div class="column-full">
          <div class="panel panel-border-wide alert-default">
            We have sent {{crmData.verifications.length}} security code{{#notEqual crmData.verifications.length  1}}s{{/notEqual}} by post.
            <ul>
              {{#each crmData.verifications }}
                <li class="spaceless">{{entity_nm}} - <strong class="bold-small">{{verification_code}}</strong></li>
              {{/each}}
            </ul>
        </div>
      </div>
    </div>
    {{/if}}
  {{/unless}}

  <h1 class="heading-large">
    {{#if crmData.document_name }}
      <span class="heading-secondary">Licence number {{ licenceData.licenceNumber }}</span>
      {{ crmData.document_name }}
    {{else}}
      {{#unless primaryUser }}
        <span class="heading-secondary">Unregistered licence</span>
      {{/unless}}
      Licence number {{ licenceData.licenceNumber }}
    {{/if}}
  </h1>

  {{#if primaryUser }}
    <p class="govuk-body">
      Registered to&nbsp;
      <a href="/user/{{primaryUser.userId}}/status" class="govuk-link">
        {{primaryUser.userName}}
      </a>
    </p>
  {{/if}}

  <p>Current licence version started on {{ formatDate licenceData.currentVersionEffectiveStartDate }}
     {{#if licenceData.expiryDate }}
      and ends on {{ formatToDate licenceData.expiryDate }}
     {{else}}
      and has no end date
     {{/if}}
   </p>

  <!-- User-defined licence name row -->
  <div class="data-row">
    <div class="data-row__param">Licence name</div>
    <div class="data-row__value">

      <!-- Current licence name -->
      {{#if crmData.document_name }}
        {{ crmData.document_name}}
        <br />
        <a id="showForm" href="/licences/{{ licence_id }}/rename">Rename this licence</a>
      {{/if}}
      {{^crmData.document_name }}
        No name chosen
        <br />
        <a id="nameLicence" href="/licences/{{ licence_id }}/rename">Name this licence</a>
      {{/crmData.document_name}}

    </div>
  </div>

  {{>licence-details }}

</main>
{{> footerjs}}
{{> debug}}
