
{% extends "./nunjucks/layout.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ title(pageTitle) }}

      <p class="govuk-body">
        <span class="govuk-body govuk-!-font-weight-bold">{{ updatedUser}}</span>
        now has:
      </p>
      <p class="govuk-body">
        <span class="govuk-body govuk-!-font-weight-bold">{{ updatedPermissions.label }} permissions</span>
        <br>
        <span class="govuk-hint">
          {{ updatedPermissions.hint }}
        </span>
      </p>

    </div>
  </div>
{% endblock %}
