{% extends "./nunjucks/layout.njk" %}
{% from "./nunjucks/internal-search/macros/user-details.njk" import userDetails %}
{% from "./nunjucks/internal-search/macros/user-companies.njk" import userCompanies %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ userDetails(userStatus.user) }}

      {% if userStatus.user.isInternal %}
        {% if ('manage_accounts' in user.scope) and (not userStatus.user.isDisabled) %}
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-7">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Set permissions</h1>
          {{ formRender(form) }}
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-7">
        <p class="govuk-body">
          <a href="{{ deleteAccountLink }}">Delete this user account</a>
        </p>
        {% endif %}
      {% else %}
        {% if userStatus.licenceCount %}
          {{ userCompanies(userStatus.companies) }}
        {% else %}
          <p class="govuk-body-l">
            This user does not have any licences linked to their account
          </p>
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}
