{{> styles}}
<main id="content" tabindex="-1">
  {{>element-phase-tag}}{{>element-main-nav}}

  <a class="link-back link-back--space-above" href="{{#if isAdmin }}/admin{{/if}}/licences">Licence number {{ licenceData.licenceNumber }}</a>


  {{#if crmData.document_name }}
  <h1 class="heading-large heading-large--tight-above">
    <span class="heading-secondary">Licence number {{ licenceData.licenceNumber }}</span>
    Contact details for licence name {{ crmData.document_name }}
  </h1>
  {{else}}
  <h1 class="heading-large heading-large--tight-above">Contact details for licence number {{ licenceData.licenceNumber }}</h1>
  {{/if}}

  {{#each licenceData.contacts }}
    <h2 class="heading-medium">{{ this.type }}</h2>
    <div class="data-row">
        <div class="data-row__param">
          Name
        </div>
        <div class="data-row__value">
          {{ this.name }}
          <br>
        </div>
    </div>
    <div class="data-row">
        <div class="data-row__param">
          Address
        </div>
        <div class="data-row__value">
          {{#if this.addressLine1 }}{{ this.addressLine1 }}<br />{{/if}}
          {{#if this.addressLine2 }}{{ this.addressLine2 }}<br />{{/if}}
          {{#if this.addressLine3 }}{{ this.addressLine3 }}<br />{{/if}}
          {{#if this.addressLine4 }}{{ this.addressLine4 }}<br />{{/if}}
          {{#if this.town }}{{ this.town }}<br />{{/if}}
          {{#if this.county }}{{ this.county }}<br />{{/if}}
          {{#if this.postcode }}{{ this.postcode }}<br />{{/if}}
          {{ this.country }}
        </div>
    </div>
    <div class="greyline" style="border-bottom: 1px solid #bfc1c3;"></div>
    <br />
  {{/each }}



</main>
{{> footerjs}}
{{> debug}}
