{{> styles}}
<main id="content" tabindex="-1">

  {{>element-phase-tag}}{{>element-main-nav}}


  {{#if errors.emailAddress_email }}
  <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
    <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
      That email address is not valid
    </h2>
    <ul class="error-summary-list">
      <li><a href="#emailAddress">Re-enter the email address</a></li>
    </ul>
  </div>
  {{/if}}

  {{#if error }}
  <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
    <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
      That email address is not registered with us
    </h2>
    <ul class="error-summary-list">
      <li><a href="#emailAddress">Re-enter the email address</a></li>
    </ul>
  </div>
  {{/if}}


  <h1 class="heading-large">{{ pageTitle }}</h1>

  {{#if showVerificationAlert }}
  <div class="panel panel-border-wide alert-default medium-space">
    Have you received a security code by post? <a href="/security-code">Enter your code here</a>
  </div>
  {{/if}}

  {{#if enableSearch}}

  {{#if isAdmin }}
  <p>
    Search for licences using user email, partial licence number or licence name
  </p>
  {{/if}}

  <form novalidate method="GET" action="{{#if isAdmin }}/admin{{/if}}/licences" name="licenceSearch">

  <!-- Licence search form -->
  <div class="grid-row">

    {{#if showEmailFilter }}
    <div class="column-two-fifths">
      <div class="form-group form-group--horizontal {{#if error }}form-group-error{{/if}}">
        <label class="form-label form-label--bold" for="emailAddress">Search by licence holder</label>
        <span class="form-hint">Enter their registered email address</span>
        <input maxlength="254" type="email" class="form-control form-control--block {{#if error}}form-control-error{{/if}}" name="emailAddress" id="emailAddress" value="{{ query.emailAddress }}" />
      </div>
    </div>
    {{/if}}

    <div class="column-two-fifths">
      <div class="form-group form-group--horizontal">
        <label class="form-label form-label--bold" for="licenceNumber">{{#if isAdmin }}Search licences{{else}}Search your licences{{/if}}</label>
        <span class="form-hint">Enter a licence number or name</span>
        <input maxlength="32" type="search" class="form-control form-control--block" name="licenceNumber" id="licenceNumber" value="{{ query.licenceNumber }}" />
      </div>
    </div>

    <div class="column-one-fifth">
      <input id="searchButton" class="button button button-license-search" type="submit" value="Search">
    </div>
  </div>
  <!-- End licence search form -->

  </form>
  {{/if}}


  <!-- Results page goes here -->
  {{#if showResults}}
  <div class="license-results" id="results">



    {{#>element-licence-results-header this isAdmin=isAdmin}}{{/element-licence-results-header}}

    {{^licenceData}}
    <!-- No results found -->
    <div class="license-result">
      <h2 class="heading-medium license-result__column">No results found.</h2>
      <p class="license-result__column license-result__column--description"></p>
      <div class="license-result__column license-result__column--view" aria-hidden="true"></div>
    </div>
    {{/licenceData}}

    <!-- Display list of clickable licence rows/tiles -->
    {{#each licenceData}}
      {{#>element-licence-link this  isAdmin=../isAdmin}}{{/element-licence-link}}
    {{/each}}

  </div>


  {{#greaterThan pagination.pageCount 1}}
  <nav role="navigation" aria-label="Pagination navigation">
    <ol class="pagination">
      <li class="pagination__item" {{#equal pagination.page 1}}aria-hidden="true"{{/equal}}>
        {{#greaterThan pagination.page 1}}
          <a class="pagination__link" href="{{#if isAdmin }}/admin{{/if}}/licences?{{{ queryString direction=query.direction sort=query.sort licenceNumber=query.licenceNumber emailAddress=query.emailAddress }}}&amp;page={{subtract pagination.page 1 }}#results" aria-label="Previous page">
        {{/greaterThan}}
        	&larr; Previous page
        {{#greaterThan pagination.page 1}}
          </a>
        {{/greaterThan}}
      </li>
      {{#for 0 pagination.pageCount 1 }}
      <li class="pagination__item"><a class="pagination__link {{#equal (add this 1) ../pagination.page}}pagination__link--active{{/equal}}" href="{{#if ../isAdmin }}/admin{{/if}}/licences?{{{ queryString direction=../query.direction sort=../query.sort licenceNumber=../query.licenceNumber emailAddress=../query.emailAddress }}}&amp;page={{add this 1 }}#results"><span class="sr-only">Page </span>{{add this 1 }}{{#equal (add this 1) ../pagination.page}}<span class="sr-only"> - current page</span>{{/equal}}</a></li>
      {{/for}}
      <li class="pagination__item" {{#equal pagination.page pagination.pageCount}}aria-hidden="true"{{/equal}}>
        {{#lessThan pagination.page pagination.pageCount}}
          <a class="pagination__link" href="{{#if isAdmin }}/admin{{/if}}/licences?{{{ queryString direction=query.direction sort=query.sort licenceNumber=query.licenceNumber emailAddress=query.emailAddress }}}&amp;page={{add pagination.page 1 }}#results" aria-label="Next page">
        {{/lessThan}}
        Next page 	&rarr;
        {{#lessThan pagination.page pagination.pageCount}}
          </a>
        {{/lessThan}}
      </li>
    </ol>
  </nav>
  {{/greaterThan}}

  {{/if}}

  <p></p>

</main>

{{> footerjs}}


{{> debug}}

<script>
  function sendShortcode(){
    console.log($('#shortcode').val)
    document.location='/shortcode/'+$('#shortcode').val()
  }
</script>
