{{> styles}}
<main id="content" tabindex="-1">
  {{>element-phase-tag}}{{>element-main-nav}}

{{#if isAdmin }}
  {{#unless crmData.company_entity_id}}
    {{#if crmData.verifications}}
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="panel panel-border-wide alert-default big-space">
              {{#equal crmData.verifications.length 1}}
              We have sent a security code by post.
              {{#each crmData.verifications }}
                <br>The code is <strong class="bold-small">{{verification_code}}</strong>
              {{/each}}

              {{else}}
              We have sent {{crmData.verifications.length}} security codes by post
              {{#each crmData.verifications }}
                <br>{{entity_nm}} - <strong class="bold-small">{{verification_code}}</strong>
              {{/each}}
              {{/equal}}
        </div>
      </div>
    </div>
    {{/if}}
  {{/unless}}
{{/if}}

  {{#if crmData.document_name }}
  <h1 class="heading-large">
    <span class="heading-secondary">Licence number {{ licenceData.licenceNumber }}</span>
    {{ crmData.document_name }}
  </h1>
  {{else}}
  <h1 class="heading-large">Licence number {{ licenceData.licenceNumber }}</h1>
  {{/if}}

  <p>Current licence version started on {{ formatDate licenceData.currentVersionEffectiveStartDate }}
     {{#if licenceData.expiryDate }}
      and ends on {{ formatToDate licenceData.expiryDate }}
     {{else}}
      and has no end date
     {{/if}}
   </p>

  <!-- User-defined licence name row -->
  <div class="data-row">
    <div class="data-row__param">Licence name</div>
    <div class="data-row__value">


      <!-- Current licence name -->
      {{#if crmData.document_name }}
        {{ crmData.document_name}}
        <br />
        <a id="showForm" href="{{#if isAdmin }}/admin{{/if}}/licences/{{ licence_id }}/rename">Rename this licence</a>
      {{/if}}
      {{^crmData.document_name }}
        No name chosen
        <br />
        <a id="nameLicence" href="{{#if isAdmin }}/admin{{/if}}/licences/{{ licence_id }}/rename">Name this licence</a>
      {{/crmData.document_name}}

    </div>
  </div>


  {{>licence-details }}


</main>
{{> footerjs}}

{{> debug}}
