{{> styles}}
<main id="content" tabindex="-1">
  {{>element-phase-tag}}{{>element-main-nav}}

  <a class="link-back link-back--space-above" href="{{#if isAdmin }}/admin{{/if}}/licences">Licence number {{ licenceData.licenceNumber }}</a>


  <div class="grid-row">
      <div class="column-full">
        {{#if crmData.document_name }}
        <h1 class="heading-large heading-large--tight-above">
          <span class="heading-secondary">Licence number {{ licenceData.licenceNumber }}</span>
          Abstraction points for licence name {{ crmData.document_name }}
        </h1>
        {{else}}
        <h1 class="heading-large heading-large--tight-above">Abstraction points for licence number {{ licenceData.licenceNumber }}</h1>
        {{/if}}
      </div>
  </div>


  {{#each licenceData.points }}
  <div class="grid-row">
    <div class="column-full">
      <h2 class="heading-medium">{{ this.name }}</h2>

      <div class="data-row">
        <div class="data-row__param" id="ngr-{{@index}}">
        Grid reference
        </div>
        <div class="data-row__value" aria-labelledby="ngr-{{@index}}">
        {{ngrPoint this }}
        </div>
      </div>

      <div class="data-row">
        <div class="data-row__param" id="moa-{{@index}}">
        Means of abstraction
        </div>
        <div class="data-row__value" aria-labelledby="moa-{{@index}}">
        {{this.meansOfAbstraction }}
        </div>
      </div>

    </div>
  </div>
  <br />
  {{/each}}



</main>
{{> footerjs}}
{{> debug}}
