{{> styles}}
<main id="content" tabindex="-1">
  {{>element-phase-tag}}{{>element-main-nav }}



  {{#if errors }}
  <script nonce="{{nonces.script}}">
    sendEvent({category:'error', action:'rename_licence_invalid_name'})
  </script>
  <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-2" tabindex="-1">

    <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
      Check your licence name
    </h1>

    <ul class="error-summary-list">
        <li><a href="#name">Choose a name that is 2-32 characters long and does not include symbols</a></li>
    </ul>

  </div>
  {{/if}}


  {{#if crmData.document_name }}
  <h1 class="heading-large">
    <span class="heading-secondary">Licence number {{ licenceData.licenceNumber }}</span>
    {{ crmData.document_name }}
  </h1>
  {{else}}
  <h1 class="heading-large">Licence number {{ licenceData.licenceNumber }}</h1>
  {{/if}}

  <p></p>

  <!-- Set licence name form -->
  <form novalidate class="form--well" name="nameForm" id="nameForm" method="POST" action="{{#if isAdmin }}/admin{{/if}}/licences/{{ licence_id }}">

    <input name="csrf_token" type="hidden" value="{{ csrfToken }}" />

    <div class="form-group {{#if errors }}form-group-error{{/if}}">
      <label for="name" class="{{#if errors }}form-label-error{{/if}}">



        <span class="form-label-bold">Name this licence</span>

        <span class="form-hint">You can give this licence a name to help you search for it more easily.</span>

        <span class="sr-only">(maximum 32 characters)</span>
      {{#if errors }}
        <span class="error-message">
          Choose a name that is 2-32 characters long and does not include symbols
        </span>
      {{/if}}

      </label>

      <input minlength="2" maxlength="32" type="text" class="form-control {{#if error }}form-control-error{{/if}}" id="name" name="name" value="{{#if payload }}{{ payload.name }}{{ else }}{{ name }}{{/if}}" />

    </div>

    <button type="submit" class="button">Save</button>
    <p class="form-cancel"><a href="{{#if isAdmin }}/admin{{/if}}/licences/{{ licence_id }}">Cancel</a></p>

  </form>

  {{>licence-details }}
</main>
{{> footerjs}}


{{> debug}}
