{% extends "./nunjucks/layout.njk" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ title(pageTitle) }}

      <h2 class="govuk-heading-m">Service accessibility statement</h2>
      <p>
        We aim to make the Manage your water abstraction or impoundment licence
        service as accessible and easy to use as possible. All of our web pages
        are designed and tested to meet <a target="_blank" href="https://www.w3.org/WAI/standards-guidelines/wcag/">Web Content Accessibility Guidelines</a>
        to level AA.
      </p>

      <h2 class="govuk-heading-m">How to contact us</h2>
      <p>
        If you want to give feedback about this service or have any questions about
        accessibility, please email us at <a href="mailTo:water_abstractiondigital@environment-agency.gov.uk">water_abstractiondigital@environment-agency.gov.uk</a>.
        We will respond within 5 working days.
      </p>
    </div>
  </div>
{% endblock %}
