{% extends "./nunjucks/layout.njk" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ title(pageTitle) }}

      <p>The manage your water abstraction or impoundment licence service will put small files known as ‘cookies’ on to your computer.</p>
      <p>These cookies are used to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>help us understand how you use the service, so we can make improvements</li>
        <li>remember what notifications you have seen so that you are not shown them more than once</li>
      </ul>

      <p>Find out <a href="https://ico.org.uk/for-the-public/online/cookies/">how to manage cookies on the Information Commissioners' website.</a></p>
    </div>
  </div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Google Analytics cookie</h2>

      <p>We use Google Analytics to collect information about how you use the service. This information helps us to make improvements.</p>

      <p>The Google analytics cookie collects and stores information about:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>the pages you visit - how long you spend on each page</li>
        <li>how you got to the service</li>
        <li>what you click on while you are using the service</li>
      </ul>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <table class="govuk-table">
        <thead>
          <tr>
            <th class="govuk-table__header govuk-!-width-one-third" scope="col">Name</th>
            <th class="govuk-table__header" scope="col">Purpose</th>
            <th class="govuk-table__header" scope="col">Expires</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="govuk-table__header" scope="row">_ga</th>
            <td class="govuk-table__cell">Used to identify unique users and inform referring sites, visitor and session counts.</td>
            <td class="govuk-table__cell">2 years</td>
          </tr>
          <tr>
            <th class="govuk-table__header" scope="row">_gid</th>
            <td class="govuk-table__cell">Used to identify unique users and inform referring sites, visitor and session counts.</td>
            <td class="govuk-table__cell">24 hours</td>
          </tr>
          <tr>
            <th class="govuk-table__header" scope="row">_gat</th>
            <td class="govuk-table__cell">Used to protect the server and ensure accurate statistics are tracked for the service.</td>
            <td class="govuk-table__cell">1 minute</td>
          </tr>
          <tr>
            <th class="govuk-table__header" scope="row">_gat_UA-103551669-1</th>
            <td class="govuk-table__cell">Used to protect the Google Analytics server by limiting the number of requests being made.</td>
            <td class="govuk-table__cell">1 minute</td>
          </tr>
          <tr>
            <th class="govuk-table__header" scope="row">__utma</th>
            <td class="govuk-table__cell">Tracks how often you use the service. The cookie is updated every time data is sent to Google Analytics.</td>
            <td class="govuk-table__cell">2 years after each visit to the service</td>
          </tr>
          <tr>
            <th class="govuk-table__header" scope="row">__utmt</th>
            <td class="govuk-table__cell">Used to protect the Google Analytics server by limiting the number of requests being made.</td>
            <td class="govuk-table__cell">10 minutes</td>
          </tr>
          <tr>
            <th class="govuk-table__header" scope="row">__utmb</th>
            <td class="govuk-table__cell">Tracks when you enter the service so we know how long you use the service for. The cookie is updated every time data is sent to Google Analytics.</td>
            <td class="govuk-table__cell">30 minutes after each visit to the service</td>
          </tr>
          <tr>
            <th class="govuk-table__header" scope="row">__utmc</th>
            <td class="govuk-table__cell">Tracks when you leave the service so we know how long you use the service for.</td>
            <td class="govuk-table__cell">When you close your browser</td>
          </tr>
          <tr>
            <th class="govuk-table__header" scope="row">__utmz</th>
            <td class="govuk-table__cell">Tracks traffic source, which is where you entered the service from.</td>
            <td class="govuk-table__cell">6 months after each visit to the service</td>
          </tr>
          <tr>
            <th class="govuk-table__header" scope="row">__utmv</th>
            <td class="govuk-table__cell">May be used to segment our users (by sector, for example) for reporting purposes.</td>
            <td class="govuk-table__cell">2 years after each visit to the service</td>
          </tr>
        </tbody>
      </table>
    </div>
 </div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p>Google is not allowed to use or share our analytics data with anyone.</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Session cookies</h2>
    <p>
      We store session cookies on your computer to help keep your information
      secure while you use the service.
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <table class="govuk-table">
      <thead>
        <tr>
          <th class="govuk-table__header govuk-!-width-one-third" scope="col">Name</th>
          <th class="govuk-table__header" scope="col">Purpose</th>
          <th class="govuk-table__header" scope="col">Expires</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="govuk-table__header" scope="row">sid</th>
          <td class="govuk-table__cell">Used for session management.</td>
          <td class="govuk-table__cell">24 hours</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Introductory message cookie</h2>
    <p>
      When you first use the service, you may see a cookie message appear
      at the top of the screen. Once you have seen the message, we store a
      cookie on your computer so it knows not to show it again.
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <table class="govuk-table">
      <thead>
        <tr>
          <th class="govuk-table__header govuk-!-width-one-third" scope="col">Name</th>
          <th class="govuk-table__header" scope="col">Purpose</th>
          <th class="govuk-table__header" scope="col">Expires</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="govuk-table__header" scope="row">seen_cookie_message</th>
          <td class="govuk-table__cell">Stores information to let us know that you have seen our cookie message.</td>
          <td class="govuk-table__cell">1 month</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
