{% extends "./nunjucks/layout.njk" %}
{% from "contact-details.njk" import contactDetails %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p>This privacy notice explains why we collect your personal data and what we do with it. It also explains your rights and how to enforce them.
      </p>

      <h2 class= "govuk-heading-l">Who manages this service</h2>

      <p>
        The Environment Agency (EA) manages the water abstraction and impounding licensing service for England. The EA is the controller for the personal data we process under the UK General Data Protection Regulation (UK GDPR) and Data Protection Act 2018 (DPA 2018).
      </p>

      <p class="govuk-body">
        Our <a href="https://www.gov.uk/government/organisations/environment-agency/about/personal-information-charter" rel=noreferrer noopener target="_blank">personal information charter explains</a>:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>how to contact our Data Protection Officer</li>
        <li>what we do with your personal information (personal data) in general</li>
        <li>your rights and how to complain to the Information Commissioner’s Office</li>
      </ul>

      <h2 class= "govuk-heading-l">Why we may process your personal data and what we collect</h2>

      <p>Our purpose for processing your personal data is to manage the water abstraction and impounding licensing service for England.</p>

      <p>The lawful basis we rely on to process your personal data is article 6(1)(e) of the UK General Data Protection Regulation, which allows us to process personal data when this is necessary to perform a task in the public interest or exercise our official authority. This processing has a basis in the Water Resources Act 1991.</p>

      <p>You will need to provide your personal data to access the water abstraction and impounding licensing service.</p>

      <p>If you choose to use our water abstraction and impounding pre-application advice service , the reason we collect your personal data is to give you advice to help you get your application right first time. Article 6(1)(a) of the UK GDPR allows us, with your consent, to process your personal data.</p>

      <p>
        You have the right to withdraw consent at any time and ask us to delete the information you have given to us for the pre-application service. We will delete your information within one month. You can ask for this by contacting the person dealing with your application or the <a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts/">Environment Agency’s general enquiries</a>.
      </p>

      <h2 class= "govuk-heading-l">Your responsibility with other people’s personal data</h2>

      <p>
        If you’ve included personal data about other people on your application or any other correspondence, you must tell them. You must provide them with a copy of this privacy notice so that they know how their personal data will be used.
      </p>

      <h2 class= "govuk-heading-l">What we do with your personal data</h2>

      <p class="govuk body">
        We use your personal data to administer the service, for example by:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>registering you to use our online water resources licensing service</li>
        <li>offering you paperless communication</li>
        <li>processing your abstraction or impounding licence application</li>
        <li>making your application available to the public and organisations that we have to notify, as required by the Water Resources Act 1991</li>
        <li>charging you for your abstraction or impounding licence</li>
        <li>processing your records of abstraction (returns)</li>
        <li>making sure you keep to the conditions of your abstraction or impounding licence</li>
        <li>contacting you about managing your abstraction or impounding licence or applying for other licences you may need</li>
        <li>contacting you to gather feedback to improve the level of service that we provide</li>
      </ul>

      <p>
        We may pass the information on to our agents or representatives to do these things for us, for example using <a href="https://www.notifications.service.gov.uk/" rel="noreferrer noopener" target="_blank">GOV.UK Notify</a> to correspond with you.
      </p>

      <p>
        We put all the information in a duly made application on a public register. The information that you give when you use our pre-application service is not put on the public register.
      </p>

      <p>
        We will not use your email address to contact you for marketing purposes.
      </p>

      <p>
        We do not use your personal information to make an automated decision or for automated profiling.
      </p>

      <p>
        We will not share your personal data with anyone outside of the EA without your consent unless we are allowed to do so by law.
      </p>

      <h2 class="govuk-heading-l">Where your personal information is stored and processed</h2>

      <p>
        We store, transfer and process your data through Microsoft Azure servers in the UK and Republic of Ireland and Amazon Web Service (AWS) servers in the Republic of Ireland. Your data will not be transferred outside the European Economic Area.
      </p>

      <h2 class= govuk-heading-l>How long we keep your personal data</h2>

      <p>
        We will keep your personal data as long as required by law to maintain the Water Abstraction and Impounding Licence public register with details of all applications and our decisions on those applications.
      </p>

      <p>
        We will keep other personal data for 7 years once the abstraction or impoundment licence ceases to have effect. After 7 years, we will review retention in line with our standard information retention policy.
      </p>

      <h2 class= "govuk-heading-l">Changes to this notice</h2>

      <p>
        We may change this privacy notice. In that case, the ‘last updated’ date at the bottom of this page will also change. Any changes to this privacy notice will apply to you and your data immediately.
      </p>

      <p>
        If these changes affect how your personal data is processed, we will take reasonable steps to let you know.</p>

    </div>
  </div>


{% endblock %}
