{{> styles}}
<main id="content">
  {{>element-phase-tag}}
  <nav>
    <div class="breadcrumbs">
      <ol>
        <li><a href="/">Your service</a></li>
      </ol>
    </div>
  </nav>
  {{>element-heading-large content='We can’t find that page'}}
  <div class="article-container">
    <article role="article" class="group">
      <div class="inner text">
        <p>Please check that the web address is correct, or you can:</p>
          <ul class="list list-bullet">
            <li class="">sign in to manage your water abstraction or impoundment licence</li>
            <li class="">manage your water abstraction or impoundment licence</li>
          <ul>
      </div>
    </article>
  </div>
</main>
{{> footerjs}}
{{> debug}}
