{{> styles}}
<main id="content" tabindex="-1">
  {{>element-phase-tag}}{{>element-main-nav}}

  {{>element-heading-large content='We can’t find that page'}}
  <div class="article-container">
    <article role="article" class="group">
      <div class="inner text">
        <p>Please check that the web address is correct, or you can:</p>
          <ul class="list list-bullet">

{{#if user}}
    <li class=""><a href="/licences">view</a> your licences</li>
{{else}}
    <li class=""><a href="/signin">sign in</a> to manage your water abstraction or impoundment licences</li>
{{/if}}


          <ul>
      </div>
    </article>
  </div>
</main>
{{> footerjs}}
{{> debug}}
