{{> styles}}
<main id="content" tabindex="-1">
  {{>element-phase-tag}}

  <a class="link-back" href="/licences">Back</a>

  <h1 class="heading-large">{{ pageTitle }}</h1>

  <div class="grid-row">
    <div class="column-two-thirds">

      <p>The manage your water abstraction or impoundment licence service will put small files known as ‘cookies’ on to your computer.</p>
      <p>These cookies are used to:</p>
      <ul class="list-bullet">
        <li>help us understand how you use the service, so we can make improvements</li>
        <li>remember what notifications you’ve seen so that you’re not shown them more than once</li>
      </ul>

      <p>Find out <a href="https://ico.org.uk/for-the-public/online/cookies/">how to manage cookies on the Information Commissioners' website.</a></p>

    </div>
  </div>


  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-medium">Google Analytics cookie</h2>

      <p>We use Google Analytics to collect information about how you use the service. This information helps us to make improvements.</p>

      <p>The Google analytics cookie collects and stores information about:</p>

      <ul class="list-bullet">
        <li>the pages you visit - how long you spend on each page</li>
        <li>how you got to the service</li>
        <li>what you click on while you’re using the service</li>
      </ul>

    </div>
    <div class="column-full">

      <table class="cookies-table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Purpose</th>
            <th scope="col">Expires</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">_ga</th>
            <td>Used to identify unique users and inform referring sites, visitor and session counts.</td>
            <td>2 years</td>
          </tr>
          <tr>
            <th scope="row">_gid</th>
            <td>Used to identify unique users and inform referring sites, visitor and session counts.</td>
            <td>24 hours</td>
          </tr>
          <tr>
            <th scope="row">_gat</th>
            <td>Used to protect the server and ensure accurate statistics are tracked for the service.</td>
            <td>1 minute</td>
          </tr>
          <tr>
            <th scope="row">_gat_UA-103551669-1</th>
            <td>Used to protect the Google Analytics server by limiting the number of requests being made.</td>
            <td>1 minute</td>
          </tr>
          <tr>
            <th scope="row">__utma</th>
            <td>Tracks how often you use the service. The cookie is updated every time data is sent to Google Analytics.</td>
            <td>2 years after each visit to the service</td>
          </tr>
          <tr>
            <th scope="row">__utmt</th>
            <td>Used to protect the Google Analytics server by limiting the number of requests being made.</td>
            <td>10 minutes</td>
          </tr>
          <tr>
            <th scope="row">__utmb</th>
            <td>Tracks when you enter the service so we know how long you use the service for. The cookie is updated every time data is sent to Google Analytics.</td>
            <td>30 minutes after each visit to the service</td>
          </tr>
          <tr>
            <th scope="row">__utmc</th>
            <td>Tracks when you leave the service so we know how long you use the service for.</td>
            <td>When you close your browser</td>
          </tr>
          <tr>
            <th scope="row">__utmz</th>
            <td>Tracks traffic source, which is where you entered the service from.</td>
            <td>6 months after each visit to the service</td>
          </tr>
          <tr>
            <th scope="row">__utmv</th>
            <td>May be used to segment our users (by sector, for example) for reporting purposes.</td>
            <td>2 years after each visit to the service</td>
          </tr>
        </tbody>
      </table>
    </div>
 </div>

 <br />

 <div class="grid-row">
    <div class="column-two-thirds">
      <p>Google isn't allowed to use or share our analytics data with anyone.</p>
    </div>
  </div>

  <br /><br />

  <div class="grid-row">
    <div class="column-two-thirds">

      <h2 class="heading-medium">Session cookies</h2>

      <p>We store session cookies on your computer to help keep your information secure while you use the service.</p>

    </div>
    <div class="column-full">
      <table class="cookies-table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Purpose</th>
            <th scope="col">Expires</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">sid</th>
            <td>Used for session management.</td>
            <td>24 hours</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

  <br /><br />

  <div class="grid-row">
    <div class="column-two-thirds">

      <h2 class="heading-medium">Introductory message cookie</h2>

      <p>When you first use the service, you may see a cookie message appear at the top of the screen. Once you’ve seen the message, we store a cookie on your computer so it knows not to show it again.</p>

    </div>
    <div class="column-full">

      <table class="cookies-table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Purpose</th>
            <th scope="col">Expires</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">seen_cookie_message</th>
            <td>Stores information to let us know that you have seen our cookie message.</td>
            <td>1 month</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

</main>
{{> footerjs}}
{{> debug}}
