{{> styles}}
<main id="content">
  {{>element-phase-tag}}

  {{>element-heading-large content='Something went wrong'}}
  <div class="article-container">
    <article role="article" class="group">
      <div class="inner text">

        <p>Sorry, there was a technical problem. It’s been reported to our support team.</p>
        <p>Please try again later.</p>
        <p>If the problem continues, you can email us at <a href="mailto:water_abstractiondigital@environment-agency.gov.uk">water_abstractiondigital@environment-agency.gov.uk</a>.</p>
      </div>
    </article>
  </div>
</main>
{{> footerjs}}
{{> debug}}
