{{> styles}}
<main id="content" tabindex="-1">
  {{>element-phase-tag}}

  {{>element-heading-large content='Something went wrong'}}
  <div class="article-container">
    <article role="article" class="group">
      <div class="inner text">

        <p>Sorry, there was a technical problem. It’s been reported to our support team.</p>
        <p>Please try again later.</p>
        <p>If the problem continues, you can <a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">contact us</a> for help.</p>
      </div>
    </article>
  </div>
</main>
{{> footerjs}}
{{> debug}}
