{{> styles}}
<main id="content" tabindex="-1">
  {{>element-phase-tag}}{{>element-main-nav}}

  {{>element-heading-large content='Tell us what you think about this service'}}

  <div class="panel panel-border-wide alert-default">
    <h2 class="heading-medium">Problems viewing this page?</h2>
    <p>
      We are currently working to improve the accessibility standard of this page.
      If you are having problems viewing it, you can email your feedback to us
      instead: <a href="mailTo:water_abstractiondigital.environment-agency.gov.uk">water_abstractiondigital.environment-agency.gov.uk</a>
    </p>
  </div>

  <iframe id="ss-embed-frame" onload="window.parent.parent.scrollTo(0,0)"
    src="https://www.smartsurvey.co.uk/s/FYWJN/"
    style="width:100%;height:800px;border:0px;padding-bottom:4px;"
    frameborder="0">
     <a href="https://www.smartsurvey.co.uk/s/FYWJN/">Please take our survey</a>
  </iframe>
</main>
{{> footerjs}}
{{> debug}}
