{{> styles}}
<main id="content" tabindex="-1">
  {{>element-phase-tag}}

  <h1 class="heading-large">{{ pageTitle }}</h1>

  <div class="article-container">
    <article role="article" class="group">
      <div class="inner text">

        <p>The live version of the manage your water abstraction or impoundment licence service will be available on the Environment Agency's website from 27 March 2018.</p>

        <div class="panel panel-border-wide">
        <p>
          We'll email you a new link to the service as soon as it's live.
        </p>
        </div>

        <p>Thank you for your help in testing our service.</p>

      </div>
    </article>
  </div>
</main>
{{> footerjs}}
{{> debug}}
