
<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]--><!--[if gt IE 8]><!--><html lang="en">
<!--<![endif]-->
  <head>
<meta http-equiv="Content-Type" content="text/html">
    <meta charset="utf-8">
    <title>
      Water management: managing your water abstraction or impoundment licence - GOV.UK
  </title>

    <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-2775f99eaec64ff8121bfbfb3eb67b0c2b4b7c3fc78d25da30e12db2a09d30d6.css" crossorigin="anonymous" integrity="sha256-J3X5nq7GT/gSG/v7PrZ7DCtLfD/HjSXaMOEtsqCdMNY=">
<!--<![endif]-->
    <!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie6-5bb08c355a12ac38b0ac9d2446da122ec0f81c78e02dcd2a98766f53c23793c8.css" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie7-be1ea757827710f20eae59ae3ebfd172b7dbeabb171a79945ba610947eebb3cc.css" /><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie8-5ab4d0c7b42f2bf10f8c7aadf331a11f7399be832b0ee2c68c94071195a1e36e.css" /><![endif]-->
    <link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/govuk-template-print-1076519521c2fffbbf75ab3b0d3b32ee2d96ac7e9778f1cdfac1771eefd1a1c0.css" crossorigin="anonymous" integrity="sha256-EHZRlSHC//u/das7DTsy7i2WrH6XePHN+sF3Hu/RocA=">

    <!--[if IE 8]><link rel="stylesheet" media="all" href="https://assets.publishing.service.gov.uk/static/fonts-ie8-f5e3c18a96ecb0f37246556a27330202d6e18feffa05a3b67825024609629ac8.css" /><![endif]-->
    <!--[if gte IE 9]><!--><link rel="stylesheet" media="all" href="https://assets.publishing.service.gov.uk/static/fonts-5ff8c53913434afd0072a480d7cfca67cace4c8d03f6ef96b78a4455728ce745.css" crossorigin="anonymous" integrity="sha256-X/jFORNDSv0AcqSA18/KZ8rOTI0D9u+Wt4pEVXKM50U=">
<!--<![endif]-->
    <!--[if lt IE 9]><script src="https://assets.publishing.service.gov.uk/static/ie-75db9d4df4993de5335d6e49013362743a78107245bcf6543337a0ecc0a95b41.js" crossorigin="anonymous" integrity="sha256-ddudTfSZPeUzXW5JATNidDp4EHJFvPZUMzeg7MCpW0E="></script><![endif]-->

    <link rel="shortcut icon" href="https://assets.publishing.service.gov.uk/static/favicon-8d811b8c3badbc0b0e2f6e25d3660a96cc0cca7993e6f32e98785f205fc40907.ico" type="image/x-icon">
    <link rel="mask-icon" href="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown-de738c3fcce8ce2a91b67e89787090dc24a5cda0275ab6b75f6226c5b9619d3d.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-180x180-ea1cbb1cbbeddfff275dfa6e8e46b84cd530892df79dc4882a8f99b802b49a90.png">
    <link rel="apple-touch-icon" sizes="167x167" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-167x167-181e404a50c572923285fb83f0fbd78da6b4e38e3ce52f8e6b8e29da8586450a.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-152x152-02457fcdcee8d309276305af2233d41bfb8fd055e855727d355e61bce7ffa9bb.png">
    <link rel="apple-touch-icon" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-a318f305290c523aed80082456175b46c95350c0eeac93f42e78a71c7a55544e.png">

    <meta name="theme-color" content="#0b0c0c">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="https://assets.publishing.service.gov.uk/static/opengraph-image-a1f7d89ffd0782738b1aeb0da37842d8bd0addbd724b8e58c3edbc7287cc11de.png">

      <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-7da20ae18cf7127910ec59331f75ffed6f00cff1969dc9366894e01ffa56a2da.css" crossorigin="anonymous" integrity="sha256-faIK4Yz3EnkQ7FkzH3X/7W8Az/GWnck2aJTgH/pWoto=">
<!--<![endif]-->
<!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie6-91e47d8adde0b3b628a6ed931338a16655c4a79c5bba5cdb7f6389f1f077b63c.css" /><script>var ieVersion = 6;</script><![endif]-->
<!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie7-04243275a77f0c908ff266e33890a959888bad90ec0be5857456866ab86e059b.css" /><script>var ieVersion = 7;</script><![endif]-->
<!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie8-fac25ec78515a5484990fb50fada4cd02304969d4e279ba91562a8ff91d4d8e8.css" /><script>var ieVersion = 8;</script><![endif]-->

<link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/core-layout-print-17ae04fa41ad116c2d3a329800a3160d98adf170d561703b3836dad57f2b994d.css" crossorigin="anonymous" integrity="sha256-F64E+kGtEWwtOjKYAKMWDZit8XDVYXA7ODba1X8rmU0=">


  <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-31b79e5414a169b9a9b974df620af90f4e67e9e99cb7bf18caf4d9ed00f1436a.css" crossorigin="anonymous" integrity="sha256-MbeeVBShabmpuXTfYgr5D05n6emct78YyvTZ7QDxQ2o=">
<!--<![endif]--><link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/government-frontend/print-9e52619a28f6d0ef9fb0a8b9d8fe0c4f2ff35d8dbb2d28db2d600b8bffcc4e9a.css" crossorigin="anonymous" integrity="sha256-nlJhmij20O+fsKi52P4MTy/zXY27LSjbLWALi//MTpo=">
<meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="vFn/DRXAjhvv89LQXVdD0oQ2B38VbN5VSkEfKjKDvdrE2O/+u51CMA+nEd3FgLvhR/7lGnauU3wvaOFp2Xv+qA==">
<meta name="govuk:format" content="detailed_guide">
<meta name="govuk:schema-name" content="detailed_guide">
<meta name="govuk:analytics:organisations" content="&lt;EA199&gt;">
<meta name="govuk:political-status" content="non-political">
<meta name="govuk:publishing-government" content="2010-to-2015-conservative-and-liberal-democrat-coalition-government">
<meta name="govuk:user-journey-stage" content="thing">
<meta name="govuk:navigation-document-type" content="guidance">
<meta name="govuk:content-has-history" content="true">
<meta name="description" content="Maintain, monitor and review your abstraction or impoundment licence. ">
<meta name="govuk:content-id" content="5f4e2db0-7631-11e4-a3cb-005056011aef">
<!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-ie6-24750360395a9900ad4753672b3aa5acaf0c67214ed4074371d4aafa0feffbaa.css" /><script>var ieVersion = 6;</script><![endif]--><!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-ie7-24750360395a9900ad4753672b3aa5acaf0c67214ed4074371d4aafa0feffbaa.css" /><script>var ieVersion = 7;</script><![endif]--><!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-ie8-59d512a52c55764e239c5d870808ddb2ca37295c2f7aeda76b8a276894377485.css" /><script>var ieVersion = 8;</script><![endif]--><meta name="govuk:rendering-application" content="government-frontend">
</head>

  <body>
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>



    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
        <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
    </div>

    <header role="banner" id="global-header" class=" with-proposition">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
              <img src="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown_invert_trans-203e1db49d3eff430d7dc450ce723c1002542fe1d2bce661b6d8571f14c1043c.png" width="36" height="32" alt=""> GOV.UK
            </a>
          </div>
            <a href="#search" class="search-toggle js-header-toggle">Search</a>

  <form id="search" class="site-search" action="/search" method="get" role="search">
    <div class="content">
      <label for="site-search-text">Search</label>
      <input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus">
      <input class="submit" type="submit" value="Search">
    </div>
  </form>

        </div>

      <div class="header-proposition">
  <div class="content">
    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
  <nav id="proposition-menu" class="no-proposition-name">
  <ul id="proposition-links">
    <li>
      <a class="" href="/government/organisations">
        Departments
      </a>
    </li>
    <li>
      <a class="" href="/government/world">
        Worldwide
      </a>
    </li>
    <li>
      <a class="" href="/government/how-government-works">
        How government works
      </a>
    </li>
    <li>
      <a class="" href="/government/get-involved">
        Get involved
      </a>
    </li>
    <li class="clear-child">
      <a class="" href="/government/policies">
        Policies
      </a>
    </li>
    <li>
      <a class="" href="/government/publications">
        Publications
      </a>
    </li>
    <li>
      <a class="" href="/government/publications?publication_filter_option=consultations">
        Consultations
      </a>
    </li>
    <li>
      <a class="" href="/government/statistics">
        Statistics
      </a>
    </li>
    <li>
      <a class="" href="/government/announcements">
        Announcements
      </a>
    </li>
  </ul>
</nav>
</div>
</div>
</div>
    </header>

      <div id="user-satisfaction-survey-container"></div>


    <div id="global-header-bar"></div>

      <div id="wrapper" class="direction-ltr">


<div class="govuk-breadcrumbs " data-module="track-click">
  <ol>

    <li class="">
        <a data-track-category="breadcrumbClicked" data-track-action="1" data-track-label="/" data-track-options='{"dimension28":"3","dimension29":"Home"}' class="" aria-current="false" href="/">Home</a>
    </li>

    <li class="">
        <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/topic/environmental-management" data-track-options='{"dimension28":"3","dimension29":"Environmental management "}' class="" aria-current="false" href="/topic/environmental-management">Environmental management </a>
    </li>

    <li class="">
        <a data-track-category="breadcrumbClicked" data-track-action="3" data-track-label="/topic/environmental-management/water" data-track-options='{"dimension28":"3","dimension29":"Water"}' class="" aria-current="false" href="/topic/environmental-management/water">Water</a>
    </li>
  </ol>
</div>


    <main role="main" id="content" class="detailed-guide" lang="en">
      <div class="grid-row">
  <div class="column-two-thirds">
    <div class="pub-c-title

  pub-c-title--bottom-margin">
    <p class="pub-c-title__context">
      Guidance
    </p>
  <h1 class="pub-c-title__text pub-c-title__text--long">
    Water management: managing your water abstraction or impoundment licence
  </h1>
</div>

  </div>
  <div class="column-third">

  </div>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <div class="govuk-metadata direction-ltr" data-module="toggle">
  <dl data-module="track-click">
      <dt>From:</dt>
      <dd>
          <a href="/government/organisations/environment-agency">Environment Agency</a>

      </dd>
      <dt>Part of:</dt>
      <dd>
          <a href="/topic/environmental-management/water">Water</a>

      </dd>
      <dt>Published:</dt>
      <dd>8 May 2014</dd>
      <dt>Updated:</dt>
      <dd>27 November 2017</dd>
  </dl>
</div>

  </div>
</div>


  <p class="pub-c-lead-paragraph">
    View, maintain or change your abstraction or impoundment licence.
  </p>


<div class="grid-row sidebar-with-body" data-module="sticky-element-container" id="contents">
    <div class="column-third">
        <nav role="navigation" class="app-c-contents-list">
    <h2>
      Contents
    </h2>
    <ol class="app-c-contents-list__list">
      <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
        <a class="app-c-contents-list__link" href="#view-licence">
          View your licence online
      </a>        </li>
      <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
        <a class="app-c-contents-list__link" href="#create-account">
          Create an online account to view your licence(s)
      </a>        </li>
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
          <a class="app-c-contents-list__link" href="#abstraction-charges">
            Abstraction charges
</a>        </li>
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
          <a class="app-c-contents-list__link" href="#measuring-and-recording-your-abstraction">
            Measuring and recording your abstraction
</a>        </li>
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
          <a class="app-c-contents-list__link" href="#reporting-how-much-water-youve-abstracted">
            Reporting how much water you have abstracted
</a>        </li>
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
          <a class="app-c-contents-list__link" href="#submitting-water-abstraction-returns">
            Submitting water abstraction returns
</a>        </li>
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
          <a class="app-c-contents-list__link" href="#if-you-need-to-change-your-licence">
            If you need to change your licence
</a>        </li>
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
          <a class="app-c-contents-list__link" href="#deathbankruptcy">
            Death/bankruptcy
</a>        </li>
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
          <a class="app-c-contents-list__link" href="#enforced-changes-to-your-licence">
            Enforced changes to your licence
</a>        </li>
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
          <a class="app-c-contents-list__link" href="#checking-compliance">
            Checking compliance
</a>        </li>
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
          <a class="app-c-contents-list__link" href="#enforcement">
            Enforcement
</a>        </li>
    </ol>
  </nav>

    </div>
  <div class="column-two-thirds ">

<div class="govuk-govspeak direction-ltr">
  <div class="govspeak">

      <h2 id="view-licence">View your licence online</h2>

      <p>
      You can now view basic information about your water abstraction or impoundment licence(s) online. Use this service to:
    </p>
      <ul>
        <li>view information about each of the water abstraction or impoundment licences you hold</li>
        <li>check your licence start and end dates</li>
        <li>check your points and periods of abstraction</li>
        <li>give other people access to view your licence information</li>
      </ul>
        <p>More of your licence information will be added soon.</p>
      <p>
        <a href="/signin">Sign in to view your licence</a>
      </p>


      <h2 id="create-account">Create an online account to view your licence(s)</h2>
      <p>You need to create an online account and confirm your identity to access your licence information. We will need to send you a security code by post to complete this process. This should take around 5 working days.</p>
      <p>You will be able to view all of your water abstraction or impoundment licences using this account.</p>
      <h3 class="heading-medium">Before you start</h3>
      <p>You will need:</p>

      <ul>
        <li>your licence number(s)</li>
        <li>your postcode (from the address you registered as the licence holder)</li>
        <li>your email address</li>
      </ul>

      <p>
          <a href="/register">Create your account</a>
      </p>



<h2 id="abstraction-charges">Abstraction charges</h2>

<p>The Environment Agency charges abstraction licence holders to fund the costs they incur in ensuring water resources are managed effectively while protecting the environment. This includes ensuring the rights of existing licence holders to abstract water are protected when granting new or varied licences.</p>

<p>An annual subsistence charge, which comprises the Standard Unit Charge (SUC) and the Environmental Improvement Unit Charge (EIUC), is usually payable by everyone who holds a full licence to abstract water.</p>

<p>Annual subsistence charges are not payable for temporary licences, transfer licences or for licences to impound water. Other limited exceptions to the annual subsistence charge can be found in the <a href="https://www.gov.uk/government/publications/abstraction-charges-scheme-april-2014-to-march-2015">abstraction charges scheme April 2015 to March 2016</a>.</p>

<p>To estimate your annual bill, use our <a href="https://www.gov.uk/government/publications/abstraction-charges-scheme-april-2014-to-march-2015">abstraction charge calculator</a>.</p>

<h2 id="measuring-and-recording-your-abstraction">Measuring and recording your abstraction</h2>

<p>Most licences require you to accurately measure and report the quantity of water you abstract. <a href="https://www.gov.uk/government/publications/water-abstraction-metering-good-practice-manual">Metering requirements</a> will form part of your discussions with the Environment Agency during the determination of your application.</p>

<p>Measuring and recording the amount of water you abstract will allow you to take action to keep within the limits allowed in your licence. If you think you need to abstract more than your maximum quantity, you must contact the Environment Agency early. There is no guarantee that the Environment Agency will be able to increase the maximum quantity your licence allows you to abstract.</p>

<p>Most abstractors must provide the Environment Agency with accurate records of how much water is taken in order to enable them to:</p>

<ul>
  <li>ensure society’s need for water is balanced with that needed to maintain a healthy aquatic environment</li>
  <li>allocate spare resources to other abstractors</li>
  <li>charge some abstractors based on how much water they take</li>
  <li>check compliance with licence conditions</li>
  <li>provide information on water usage</li>
</ul>

<h2 id="reporting-how-much-water-youve-abstracted">Reporting how much water you have abstracted</h2>

<p>Your abstraction licence will tell you how often you need to record the amount of water you abstract. Most licences will also ask you to submit a record of your actual abstraction (known as ‘returns’) to the Environment Agency.</p>

<p>Even if you have not taken any water, you must submit a ‘nil’ return if your licence states that you must report your water use.</p>

<p>If you do not submit your record of actual abstraction when required to do so, the Environment Agency may take enforcement action. If you spray irrigate and hold a two part tariff billing agreement your charges are partially calculated on the amount of water abstracted. To gain the full financial benefits of this agreement it is important that you submit your return, even if you have not abstracted any water.</p>

<h2 id="submitting-water-abstraction-returns">Submitting water abstraction returns</h2>

<p>You can submit your water abstraction returns using forms supplied by the Environment Agency or use their online reporting system called Generic Operator Returns (GOR).</p>

<p><a href="https://www.gov.uk/government/collections/water-abstraction-returns">Submit water abstraction returns</a></p>

<h2 id="if-you-need-to-change-your-licence">If you need to change your licence</h2>

<p>If your circumstances or need for water changes, you can apply to vary or revoke your abstraction or impoundment licence.</p>

<p>To vary your abstraction or impoundment licence read the <a href="https://www.gov.uk/government/publications/wr176-applying-for-full-transfer-or-impoundment-licence-form-guidance">application guidance</a> and complete both forms:</p>

<ul>
  <li>
<a href="https://www.gov.uk/government/publications/wr173-application-for-full-transfer-or-impoundment-licence">application for a full or transfer licence</a> – applicant details</li>
  <li>
<a href="https://www.gov.uk/government/publications/wr174-application-for-a-full-or-transfer-water-abstraction-licence">application for a full or transfer licence </a> – technical details</li>
</ul>

<p>There is no charge to:</p>

<ul>
  <li>make a minor change, such as updating your name and address – use <a href="https://www.gov.uk/government/publications/wr2-application-to-make-minor-changes-to-a-water-abstraction-licence">application to make minor changes to a water abstraction licence</a>
</li>
  <li>reduce the quantity of water you abstract – use <a href="https://www.gov.uk/government/publications/water-abstraction-reduce-the-amount-you-can-abstract">application to reduce a licensed water abstraction quantity</a>
</li>
  <li>revoke your abstraction licence – use <a href="https://www.gov.uk/government/publications/wr4-application-to-revoke-cancel-a-water-abstraction-licence">application to revoke a water abstraction licence</a> (ensure you provide the correct licence number when applying for a revocation)</li>
  <li>transfer the whole of an abstraction or impoundment licence from one person to another, read <a href="https://www.gov.uk/government/publications/wr164-apportioning-or-transferring-abstraction-or-impounding-licences-form-guidance">guidance</a> and use – <a href="https://www.gov.uk/government/publications/wr165-notice-to-transfer-a-water-abstraction-or-impoundment-licence">notice to transfer water abstraction or impoundment licence</a>
</li>
  <li>split (apportion) an existing licence between two or more persons, read <a href="https://www.gov.uk/government/publications/wr164-apportioning-or-transferring-abstraction-or-impounding-licences-form-guidance">guidance</a> and use – <a href="https://www.gov.uk/government/publications/wr166-application-and-agreement-to-apportion-a-water-abstraction-licence">application and agreement to share a water abstraction licence</a>
</li>
  <li>revoke your impoundment licence – complete and return the water abstraction or impoundment <a href="https://www.gov.uk/government/publications/wr48-water-abstraction-or-impoundment-preliminary-enquiry-form">preliminary enquiry form</a> (ensure you provide the correct licence number when applying for a revocation)</li>
</ul>

<h2 id="deathbankruptcy">Death/bankruptcy</h2>

<p>If the licence holder dies or is an individual who is declared bankrupt, the licence can become the responsibility of (can be ‘vested’ in) their trustee. The trustee must notify the Environment Agency within 15 months that they are responsible for the licence. If they do not notify the Environment Agency  the licence will cease to have effect after 15 months.  There is no guarantee a new licence could be issued, and if it could, it may be more restrictive.</p>

<h2 id="enforced-changes-to-your-licence">Enforced changes to your licence</h2>

<p>If your licensed abstraction is causing or could cause damage to the environment, the Environment Agency may make a proposal to change or revoke your licence. This will include adding a time limit to the licence if it does not already have one, unless you propose to make the licence change voluntarily.</p>

<p>The licence holder may be entitled to compensation. However, if your licence needs to be changed or revoked because it is causing or could cause serious damage to the environment, you will not be entitled to compensation.</p>

<p>To help you understand whether you are eligible for compensation, read the leaflet <a href="https://www.gov.uk/government/publications/changing-water-abstraction-and-impoundment-licences">Restoring sustainable abstraction: compensation</a>, or email the Environment Agency Restoring Sustainable Abstraction team:</p>

<p>Email: <a href="mailto:rsa@environment-agency.gov.uk">rsa@environment-agency.gov.uk</a></p>

<h2 id="checking-compliance">Checking compliance</h2>

<p>The Environment Agency carries out on-site inspections to check compliance with licence conditions, as well as checking abstraction returns. The main reason for inspections is to check compliance with the conditions in the abstraction or impoundment licence, but they are an opportunity to give advice and guidance on complying with a licence.</p>

<p>They take a risk-based approach to inspections based on the sensitivity of a water source and the potential for damage. In particular, they visit where there is a high potential for damage to the environment or where there is a poor compliance history.</p>

<p>Typically, reasons for inspecting include:</p>

<ul>
  <li>where <a rel="external" href="http://webarchive.nationalarchives.gov.uk/20131108051347/http://publications.environment-agency.gov.uk/pdf/GEHO0812BUSI-E-E.pdf">hands off flow</a> condition limits or <a rel="external" href="http://webarchive.nationalarchives.gov.uk/20131108051347/http://publications.environment-agency.gov.uk/pdf/GEHO0412BUNH-E-E.pdf">section 57</a> irrigation bans have been imposed – their <a href="https://www.gov.uk/government/publications/co-ordination-of-drought-plans-in-the-environment-agency">drought plans</a> contain more information about how they will step-up their compliance checks during a drought</li>
  <li>in response to incidents, such as reports of low flows</li>
  <li>if returns suggest over-abstraction or other non-compliance</li>
</ul>

<h2 id="enforcement">Enforcement</h2>

<p>Enforcement options include criminal sanctions (warnings, formal cautions and prosecution, with fines up to £20,000) and can also include civil sanctions. The options available for a specific offence are set out in our <a href="https://www.gov.uk/government/publications/environment-agency-enforcement-and-sanctions-statement">offence response options</a>.</p>

<p>If you are found to have breached your licence conditions or have committed an offence, the Environment Agency may take enforcement action. Actions will range from giving corrective advice and guidance to prosecution in the most serious cases. Helping you to comply with your licence is the priority. For example, if you get close to your annual authorised volume, they will discuss how you can adjust your usage to save water or apply to increase your licence quantities.</p>

<p>Enforcement options can be used to achieve environmental outcomes, to stop offending, to correct damage, or bring abstraction under regulatory control. Any response is specific to the individual circumstances of each case and is based on the public interest factors set out in our <a href="https://www.gov.uk/government/publications/environment-agency-enforcement-and-sanctions-statement">enforcement and sanctions guidance</a>.</p>

<p>Where it is necessary to take enforcement action, this will usually be against the licence holder, so you must monitor the activity of anyone you allow to use an abstraction in your name.</p>
</div>
</div>

  </div>
  <div data-sticky-element class="govuk-sticky-element">
    <a class="app-c-back-to-top dont-print" href="#contents">
    <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewbox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>
    Contents
</a>

  </div>
</div>

<div class="govuk-document-footer direction-ltr" data-module="track-click">
  <h2 class="visuallyhidden">
    Document information
  </h2>
  <div class="history-information" id="history">
      <p>
        Published:
        <span class="published definition">8 May 2014</span>
      </p>
  </div>
  <div class="related-information">
      <p>From: <span class="from">
          <span class="definition">
            <a href="/government/organisations/environment-agency">Environment Agency</a>
          </span>
      </span></p>
      <p>
        Part of:
        <span class="part-of">
        <span class="definition">
          <a href="/topic/environmental-management/water">Water</a>
        </span>
      </span></p>
          <p>Related guides: <span class="other">
              <span class="definition">
                <a href="/guidance/water-management-abstract-or-impound-water">Water management: abstract or impound water</a>
              </span>
              <span class="definition">
                <a href="/guidance/water-management-apply-for-a-water-abstraction-or-impoundment-licence">Water management: apply for a water abstraction or impoundment licence</a>
              </span>
              <span class="definition">
                <a href="/guidance/water-abstraction-how-to-make-sure-your-meter-is-accurate">Water abstraction: how to make sure your meter is accurate</a>
              </span>
          </span></p>
  </div>
</div>



    </main>
  <div class="report-a-problem-container">
  <div class="report-a-problem-inner">
    <div class="report-a-problem-content">
      <h2>Help us improve GOV.UK</h2>
      <form accept-charset="UTF-8" action="/contact/govuk/problem_reports" method="post">
        <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
        <input id="url" name="url" type="hidden" value="https://www.gov.uk/guidance/water-management-managing-your-water-abstraction-or-impoundment-licence">

          <input id="source" name="source" type="hidden" value="">


          <input id="page_owner" name="page_owner" type="hidden" value="">


        <p>Do not include personal or financial information like your National Insurance number or credit card details.</p>

        <label for="what_doing">What you were doing</label>
        <input id="what_doing" name="what_doing" type="text">

        <label for="what_wrong">What went wrong</label>
        <input id="what_wrong" name="what_wrong" type="text">

        <div class="button-wrapper">
          <button name="commit" type="submit" class="button">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>


    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">
            <div class="footer-categories">
      <div class="footer-explore">
        <h2>Services and information</h2>

        <ul>
          <li><a href="/browse/benefits">Benefits</a></li>
          <li><a href="/browse/births-deaths-marriages">Births, deaths, marriages and care</a></li>
          <li><a href="/browse/business">Business and self-employed</a></li>
          <li><a href="/browse/childcare-parenting">Childcare and parenting</a></li>
          <li><a href="/browse/citizenship">Citizenship and living in the UK</a></li>
          <li><a href="/browse/justice">Crime, justice and the law</a></li>
          <li><a href="/browse/disabilities">Disabled people</a></li>
          <li><a href="/browse/driving">Driving and transport</a></li>
        </ul>
        <ul>
          <li><a href="/browse/education">Education and learning</a></li>
          <li><a href="/browse/employing-people">Employing people</a></li>
          <li><a href="/browse/environment-countryside">Environment and countryside</a></li>
          <li><a href="/browse/housing-local-services">Housing and local services</a></li>
          <li><a href="/browse/tax">Money and tax</a></li>
          <li><a href="/browse/abroad">Passports, travel and living abroad</a></li>
          <li><a href="/browse/visas-immigration">Visas and immigration</a></li>
          <li><a href="/browse/working">Working, jobs and pensions</a></li>
        </ul>
      </div>

      <div class="footer-inside-government">
        <h2>Departments and policy</h2>

        <ul>
          <li><a href="/government/how-government-works">How government works</a></li>
          <li><a href="/government/organisations">Departments</a></li>
          <li><a href="/world">Worldwide</a></li>
          <li><a href="/government/policies">Policies</a></li>
          <li><a href="/government/publications">Publications</a></li>
          <li><a href="/government/announcements">Announcements</a></li>
        </ul>
      </div>
      <hr>
    </div>


        <div class="footer-meta">
          <div class="footer-meta-inner">
              <h2 class="visuallyhidden">Support links</h2>
<ul>
  <li><a href="/help">Help</a></li>
  <li><a href="/help/cookies">Cookies</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/help/terms-conditions">Terms and conditions</a></li>
  <li><a href="/cymraeg" lang="cy" hreflang="cy">Rhestr o Wasanaethau Cymraeg</a></li>
  <li>Built by the <a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a>
</li>
</ul>



            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
                <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
            </div>
          </div>

          <div class="copyright">
            <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">© Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="https://assets.publishing.service.gov.uk/static/govuk-template-c4f303154d2a238bdda4d5cf1ebd8d4487822e4cbc3e4c83e743da869443ce72.js" crossorigin="anonymous" integrity="sha256-xPMDFU0qI4vdpNXPHr2NRIeCLky8PkyD50PahpRDznI="></script>

      <script src="https://assets.publishing.service.gov.uk/static/libs/jquery/jquery-1.12.4-cb0decd18b4b0abbece3cfc180d9adc8e11dfa693cf34c2ff1ffcda86e725301.js" crossorigin="anonymous" integrity="sha256-yw3s0YtLCrvs48/BgNmtyOEd+mk880wv8f/NqG5yUwE="></script>
<script src="https://assets.publishing.service.gov.uk/static/header-footer-only-8ebb2100d4f59fb7e4eedb9c61672156ca92be731dc4a1ea6e9a7a218904e534.js" crossorigin="anonymous" integrity="sha256-jrshANT1n7fk7tucYWchVsqSvnMdxKHqbpp6IYkE5TQ="></script>
<script src="https://assets.publishing.service.gov.uk/static/surveys-8bfddec9d8aa8530dbad519c47440577d01ae78b506a9f2025a01f4f9ee807c4.js" crossorigin="anonymous" integrity="sha256-i/3eydiqhTDbrVGcR0QFd9Aa54tQap8gJaAfT57oB8Q="></script>



    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
  <script src="https://assets.publishing.service.gov.uk/government-frontend/application-b6af057ac563794cd9a306086ff7e990546cebe83309153e4e2bb7763c141cd9.js" crossorigin="anonymous" integrity="sha256-tq8FesVjeUzZowYIb/fpkFRs6+gzCRU+Tiu3djwUHNk="></script>
</body>
</html>
