{{> styles}}
<main id="content">
  {{>element-phase-tag}}
  <nav>
    <div class="breadcrumbs">
      <ol>
        <li><a href="/">Your services</a></li>
      </ol>
    </div>
  </nav>

  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-xlarge">
        View my water resource licence online prototype: Alpha
      </h1>
      <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
        <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
              Prototype Note
        </h2>
        <p>
          This is a server-based prototype of the Version 5 Design Prototype.
        </p>
        <p>
          Please note that authentication is not currently in place, and licence data is for example only.
        </p>
      </div>
      <p>
        <a class="button button-start" href="/signin" role="button">Start now</a>
      </p>
      <p>Alternatively, links are available to specific areas within the application below, but please be aware that these do not follow correct application flow</p>
      <ul class="list list-bullet">
        {{>element-li-link uri='/signin' title='Sign in'}}
        {{>element-li-link uri='/licences' title='Licences'}}
        {{>element-li-link uri='/licences/1' title='Licence'}}
        {{>element-li-link uri='/licences/1/terms' title='Licence terms'}}
        {{>element-li-link uri='/licences/1/map' title='Abstraction point map'}}
        {{>element-li-link uri='/licences/1/contact' title='Contact details'}}
      </ul>
    </div>
  </div>
  {{> debug}}
</main>
{{> footerjs}}
