{{> styles}}
<main id="content" role="main">
  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is an Alpha prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
  </div>
  <nav>
    <div class="breadcrumbs">
      <ol>
        <li><a href="/">Your services</a></li>
      </ol>
    </div>
  </nav>

  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-xlarge">
        View my water resource licence online prototype: Alpha
      </h1>
      <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
        <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
              Prototype Note
        </h2>
        <p>
          This is a server-based prototype of the Version 5 Design Prototype.
        </p>
        <p>
          Please note that authentication is not currently in place, and licence data is for example only.
        </p>
      </div>
      <p>
        <a class="button button-start" href="/signin" role="button">Start now</a>
      </p>
      <p>Alternatively, links are available to specific areas within the application below, but please be aware that these do not follow correct application flow</p>
      <ul class="list list-bullet">
        <li>
          <a href="/signin">
        Sign in
      </a>
        </li>
        <li>
          <a href="/licences">
        Abstraction licences
      </a>
        </li>
        <li>
          <a href="/licences/1">
        Licence
      </a>
        </li>
        <li>
          <a href="/licences/1/terms">
        Licence terms
      </a>
        </li>
        <li>
          <a href="/licences/1/contact">
        Contact details
      </a>
        </li>
        <li>
          <a href="/licences/1/map_of_abstraction_point">
        Map
      </a>
        </li>
      </ul>
    </div>
  </div>
  {{> debug}}
</main>
