{{> styles}}
<main id="content">
  {{>element-phase-tag}}
  <nav>
    <div class="breadcrumbs">
      {{>element-header-links}}
      <ol>
        <li><a href="/licences">{{ labels.licences }}</a></li>
        <li><a href="/licences/{{ licence_id }}">Licence number: {{ licenceData.licenceNumber }}</a></li>
        <li><a href="/licences/{{ licence_id }}/rename">Name this licence</a></li>

      </ol>
    </div>
  </nav>
  <a class="link-back" href="/licences">Back</a>


  {{#if error}}
  <script>
    sendEvent({category:'error', action:'rename_licence_invalid_name'})
  </script>
  <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-2" tabindex="-1">

    <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
      Check your licence name
    </h1>

    <ul class="error-summary-list">
        <li><a href="#name">Choose a name that’s 2-32 characters long and doesn’t include symbols</a></li>
    </ul>

  </div>
  {{/if}}


  <h1 class="heading-large">{{ pageTitle }}</h1>

  <p></p>

  <!-- Set licence name form -->
  <form novalidate class="form--well" name="nameForm" id="nameForm" method="POST" action="/licences/{{ licence_id }}">

    <input name="csrf_token" type="hidden" value="{{ csrfToken }}" />

    <div class="form-group {{#if error }}form-group-error{{/if}}">
      <label for="name" class="{{#if error }}form-label-error{{/if}}">



        <span class="form-label-bold">Name this licence</span>

        <span class="form-hint">You can give this licence a name to help you search for it more easily.</span>

        <span class="sr-only">(maximum 32 characters)</span>
      {{#if error }}
        <span class="error-message">
          Choose a name that’s 2-32 characters long and doesn’t include symbols
        </span>
      {{/if}}

      </label>

      <input minlength="2" maxlength="32" style="background: #fff" type="text" class="form-control {{#if error }}form-control-error{{/if}}" id="name" name="name" value="{{ name }}" />

    </div>

    <button type="submit" class="button">Save</button>
    <p class="form-cancel"><a href="/licences/{{ licence_id }}">Cancel</a></p>

  </form>

  {{>licence-details }}
</main>
{{> footerjs}}


{{> debug}}
