{{> styles}}
<script>
  document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
</script>
<main id="content">
  {{>element-phase-tag}}
  <nav>
    <div class="breadcrumbs">
      <ol >
        <li><a href="/">Your services</a></li>
        <li><a href="/licences">Abstraction licences</a></li>
        <li><a href="/licences/{{licence_id}}">Licence number: {{ licenceData.LicenceSerialNo }}</a></li>
      </ol>
  </div>
</nav>
  <a href="/signin" class="sign-out2">Sign out</a>
  <div id="wrapper" class="direction-ltr">
    <div class="full-page-width-wrapper">
    </div>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="page-header">
        <h1 class="heading-large">
        Your water abstraction licence - full terms
        </h1>
        <h2 class="heading-medium">
        Check your licence details are up to date
      </h2>
        <p>Licence number: {{ licenceData.LicenceSerialNo }}</p>
      </div>
    </div>
  </div>




  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="js-hidden" data-module="accordion-with-descriptions">
        <div class="subsection-wrapper">
          {{>element-accordion-item accordion_title='Source of supply' accordion_content=licenceData.SourceofSupply el_guid=(guid)}}
          {{>element-accordion-item accordion_title='Point of abstraction' accordion_content=(concat '<p>' licenceData.Pointofabstraction '</p><a href="/licences/' licence_id 'map_of_abstraction_point">View map</a>') el_guid=(guid)}}
          {{>element-accordion-item accordion_title='Purpose of abstraction' accordion_content=licenceData.Purposeofabstraction el_guid=(guid)}}
          {{>element-accordion-item accordion_title='Means of abstraction' accordion_content=licenceData.Meansofabstraction el_guid=(guid)}}
          {{>element-accordion-item accordion_title='Means of measurement' accordion_content=licenceData.Meansofmeasurement el_guid=(guid)}}
          {{>element-accordion-item accordion_title='Maximum quantities before conditions' accordion_content=licenceData.MaximumQuantityofwatertobeabstracted el_guid=(guid)}}
          {{>element-accordion-item accordion_title='Flow conditions' accordion_content=licenceData.handsOffFlowDescfull el_guid=(guid)}}
          {{>element-accordion-item accordion_title='Records' accordion_content=licenceData.records el_guid=(guid)}}
        </div>
      </div>
    </div>
  </div>
  <br/>
  <a href="/licences/{{ licence_id }}">
    &lt; Back to previous</a>

      <script src="/public/javascripts/jquery-1.12.4-cb0decd18b4b0abbece3cfc180d9adc8e11dfa693cf34c2ff1ffcda86e725301.js"></script>
      <script src="/public/javascripts/application-fa751ac52dc0f490ce602b0e9be8ef77560ed543cc20c3b5339fc30f560df47b.js"></script>
      {{> debug}}
</main>
{{> footerjs}}
