{{> styles}}
<main id="content">
  {{>element-phase-tag}}
  <nav>
    <div class="breadcrumbs">
      <ol>
        <li><a href="/">Your services</a></li>
        <li><a href="/licences">Abstraction licences</a></li>
        {{>element-signout}}
      </ol>
    </div>
  </nav>

  {{>element-heading-large content='Register a licence'}}
  Enter provided shortcode to register a new licence

  <a tabindex="-1">
    <div class="menubox" tabindex="0">
      <input id='shortcode' type='text'/> &nbsp;
      <button class='button button-start' onclick='sendShortcode()'>
      Register Licence
      </button>
    </div>
  </a>

  {{>element-heading-large content='Your water abstraction licences'}}

  {{#each licenceData}}
    {{#>element-licence-link this}}{{/element-licence-link}}
  {{/each}}
  <div class="greyline" style="border-bottom: 1px solid #bfc1c3;"></div>
  
  <p></p>

</main>

{{> footerjs}}
{{> debug}}

<script>
  function sendShortcode(){
    console.log($('#shortcode').val)
    document.location='/shortcode/'+$('#shortcode').val()
  }
</script>
