{{> styles}}
<main id="content">
  {{>element-phase-tag}}
  <nav>
    <div class="breadcrumbs">
      <ol >
        <li><a href="/?access=PB01">Your service</a></li>
        <li><a href="/licences">Abstraction licences</a></li>
        <li><a href="/licences/{{ licence_id }}">Licence number: {{ licenceData.licenceNumber }}</a></li>
        {{>element-header-links}}
      </ol>
    </div>
  </nav>
  <a class="link-back" href="/licences/{{ licence_id }}" >Back</a>
  {{>element-heading-large content=(concat licenceData.LicenceName 'Your water abstraction licence')}}
  <p>Licence number: {{ licenceData.licenceNumber }}</p>
  <p></p>
  <br/>

  {{#each licenceData.contacts }}
    <h2 class="heading-medium">{{ this.type }}</h2>
    <div class="data-table">
        <div class="sourceofsupplyq">
          Name
        </div>
        <div class="licenceAnswer">
          {{ this.name }}
          <br>
        </div>
    </div>
    <div class="data-table">
        <div class="sourceofsupplyq">
          Address
        </div>
        <div class="licenceAnswer">
          {{#if this.addressLine1 }}{{ this.addressLine1 }}<br />{{/if}}
          {{#if this.addressLine2 }}{{ this.addressLine2 }}<br />{{/if}}
          {{#if this.addressLine3 }}{{ this.addressLine3 }}<br />{{/if}}
          {{#if this.addressLine4 }}{{ this.addressLine4 }}<br />{{/if}}
          {{#if this.town }}{{ this.town }}<br />{{/if}}
          {{#if this.county }}{{ this.county }}<br />{{/if}}
          {{#if this.postcode }}{{ this.postcode }}<br />{{/if}}
          {{ this.country }}
        </div>
    </div>
    <div class="greyline" style="border-bottom: 1px solid #bfc1c3;"></div>
    <br />
  {{/each }}



</main>
{{> footerjs}}
{{> debug}}
