{{> styles}}
<main id="content" tabindex="-1">
  {{>element-phase-tag}}
  <nav>
    <div class="breadcrumbs">
      {{>element-header-links}}
      <ol >
        <li><a href="/licences">{{ labels.licences }}</a></li>
        <li><a href="/licences/{{ licence_id }}">Licence number: {{ licenceData.LicenceSerialNo }}</a></li>
      </ol>
    </div>
  </nav>
  <a class="link-back" href="/licences/{{ licence_id }}" onclick="history.go(-1)">Back</a>
  {{>element-heading-large content=(concat licenceData.LicenceName 'water abstraction licence - abstraction point')}}
  <figure>
    <img src="/public/images/map.png" alt="Map">
  </figure>
  <p></p>
  <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
    <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
      Prototype Note
    </h2>
    <p>
      The exact map functionality is to be confirmed.
    </p>
    <p>
      The above map is static content and unrelated to the sample licence.
    </p>
  </div>
</main>
{{> footerjs}}
{{> debug}}
