{{> styles}}
<main id="content">

  {{>element-phase-tag}}
  <nav>
    <div class="breadcrumbs">
      {{>element-header-links}}
      <ol>
        <li><a href="/licences">{{ labels.licences }}</a></li>
      </ol>

    </div>
  </nav>

  {{#equal error.name "ValidationError" }}
  <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
    <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
      That email address isn't valid
    </h2>
    <ul class="error-summary-list">
      <li><a href="#emailAddress">Re-enter the email address</a></li>
    </ul>
  </div>
  {{/equal}}

  {{#equal error.statusCode 404 }}
  <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
    <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
      That email address isn't registered with us
    </h2>
    <ul class="error-summary-list">
      <li><a href="#emailAddress">Re-enter the email address</a></li>
    </ul>
  </div>
  {{/equal}}


  <h1 class="heading-large">{{ pageTitle }}</h1>

  {{#if showVerificationAlert }}
  <div class="panel panel-border-wide alert-default medium-space">
    Have you received a security code by post? <a href="/security-code">Enter your code here</a>
  </div>
  {{/if}}

  {{#if enableSearch}}
  <form novalidate method="GET" action="/licences" name="licenceSearch">

  <!-- Licence search form -->
  <div class="grid-row">

    {{#if showEmailFilter }}
    <div class="column-two-fifths">
      <div class="form-group form-group--horizontal {{#if error }}form-group-error{{/if}}">
        <label class="form-label form-label--bold" for="emailAddress">Search by licence holder</label>
        <span class="form-hint">Enter their registered email address</span>
        <input maxlength="254" type="email" class="form-control form-control--block {{#if error}}form-control-error{{/if}}" name="emailAddress" id="emailAddress" value="{{ query.emailAddress }}" />
      </div>
    </div>
    {{/if}}

    <div class="column-two-fifths">
      <div class="form-group form-group--horizontal">
        <label class="form-label form-label--bold" for="licenceNumber">Search your licences</label>
        <span class="form-hint">Enter a licence number or name</span>
        <input maxlength="32" type="search" class="form-control form-control--block" name="licenceNumber" id="licenceNumber" value="{{ query.licenceNumber }}" />
      </div>
    </div>

    <div class="column-one-fifth">
      <input id="searchButton" class="button button button-license-search" type="submit" value="Search">
    </div>
  </div>
  <!-- End licence search form -->

  </form>
  {{/if}}


  <!-- Results page goes here -->
  <div class="license-results" id="results">

    <div class="license-results-header">
      <div class="license-results-header__column">
        <a href="/licences?{{{ sortQuery direction=direction sort=sort field="licenceNumber" licenceNumber=query.licenceNumber emailAddress=query.emailAddress  page=pagination.page }}}#results">Licence number
          {{{ sortIcon  direction=direction sort=sort field="licenceNumber" }}}
        </a>
      </div>
      <div class="license-results-header__column">
        <a href="/licences?{{{ sortQuery direction=direction sort=sort field="name" licenceNumber=query.licenceNumber emailAddress=query.emailAddress  page=pagination.page }}}#results">Licence name
          {{{ sortIcon  direction=direction sort=sort field="name" }}}
        </a>
      </div>
      <div class="license-results-header__column"></div>
    </div>

    {{^licenceData}}
    <!-- No results found -->
    <div class="license-result">
      <h2 class="heading-medium license-result__column">No results found.</h2>
      <p class="license-result__column license-result__column--description"></p>
      <div class="license-result__column license-result__column--view" aria-hidden="true"></div>
    </div>
    {{/licenceData}}

    <!-- Display list of clickable licence rows/tiles -->
    {{#each licenceData}}
      {{#>element-licence-link this}}{{/element-licence-link}}
    {{/each}}

  </div>


  {{#greaterThan pagination.pageCount 1}}
  <nav role="navigation" aria-label="Pagination navigation">
    <ol class="pagination">
      <li class="pagination__item" {{#equal pagination.page 1}}aria-hidden="true"{{/equal}}>
        {{#greaterThan pagination.page 1}}
          <a class="pagination__link" href="/licences?{{{ queryString direction=direction sort=sort licenceNumber=query.licenceNumber emailAddress=query.emailAddress }}}&amp;page={{subtract pagination.page 1 }}#results" aria-label="Previous page">
        {{/greaterThan}}
        	&larr; Previous page
        {{#greaterThan pagination.page 1}}
          </a>
        {{/greaterThan}}
      </li>
      {{#for 0 pagination.pageCount 1 }}
      <li class="pagination__item"><a class="pagination__link {{#equal (add this 1) ../pagination.page}}pagination__link--active{{/equal}}" href="/licences?{{{ queryString direction=../direction sort=../sort licenceNumber=../query.licenceNumber emailAddress=../query.emailAddress }}}&amp;page={{add this 1 }}#results"><span class="sr-only">Page </span>{{add this 1 }}{{#equal (add this 1) ../pagination.page}}<span class="sr-only"> - current page</span>{{/equal}}</a></li>
      {{/for}}
      <li class="pagination__item" {{#equal pagination.page pagination.pageCount}}aria-hidden="true"{{/equal}}>
        {{#lessThan pagination.page pagination.pageCount}}
          <a class="pagination__link" href="/licences?{{{ queryString direction=direction sort=sort licenceNumber=query.licenceNumber emailAddress=query.emailAddress }}}&amp;page={{add pagination.page 1 }}#results" aria-label="Next page">
        {{/lessThan}}
        Next page 	&rarr;
        {{#lessThan pagination.page pagination.pageCount}}
          </a>
        {{/lessThan}}
      </li>
    </ol>
  </nav>
  {{/greaterThan}}


  <p></p>

</main>

{{> footerjs}}


{{> debug}}

<script>
  function sendShortcode(){
    console.log($('#shortcode').val)
    document.location='/shortcode/'+$('#shortcode').val()
  }
</script>
