{{> styles}}
<main id="content">
  {{>element-phase-tag}}
  <nav>
    <div class="breadcrumbs">
      <ol >
        <li><a href="/">Your services</a></li>
        <li><a href="/licences">Abstraction licences</a></li>
        <li><a href="/licences/{{ licence_id }}">Licence number: {{ licenceData.LicenceSerialNo }}</a></li>
      </ol>
    </div>
  </nav>
  <a href="/signin" class="sign-out2">Sign out</a>
  <h1 class="heading-large">
    Your water abstraction licence - abstraction point
    </h1>

  <figure>
    <img src="/public/images/map.png" alt="Map">
  </figure>
  <p></p>

  <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

    <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
              Prototype Note
            </h2>
    <p>
      The exact map functionality is to be confirmed.
    </p>
    <p>
      The above map is static content and unrelated to the sample licence.
    </p>
  </div>
  <a href="/licences/{{ licence_id }}" onclick="history.go(-1)">
    &lt; Back to previous</a>.
    {{> debug}}
</main>
{{> footerjs}}
