{{> styles}}
<main id="content">
  {{>element-phase-tag}}
  <nav>
    <div class="breadcrumbs">
      {{>element-header-links}}
      <ol>
        <li><a href="/licences">Your licences</a></li>
        <li><a href="/licences/{{ licence_id }}">Licence number: {{ licenceData.licenceNumber }}</a></li>
      </ol>
    </div>
  </nav>
  <a class="link-back" href="/licences">Back</a>


  {{#if crmData.document_custom_name }}
  <h1 class="heading-large">Licence name: {{ crmData.document_custom_name }}</h1>
  {{else}}
  <h1 class="heading-large">Licence number: {{ licenceData.licenceNumber }}</h1>
  {{/if}}


  <p>Starts {{ formatDate licenceData.effectiveDate }}
     {{#if licenceData.expiryDate }}
      and ends {{ formatToDate licenceData.expiryDate }}
     {{else}}
      and has no end date
     {{/if}}
   </p>

  <!-- User-defined licence name row -->
  <div class="data-row">
    <div class="data-row__param">Licence name</div>
    <div class="data-row__value">


      <!-- Current licence name -->
      {{#if crmData.document_custom_name }}
        {{ crmData.document_custom_name}}
        <br />
        <a id="showForm" href="/licences/{{ licence_id }}/rename">Rename this licence</a>
      {{/if}}
      {{^crmData.document_custom_name }}
        No name chosen
        <br />
        <a id="nameLicence" href="/licences/{{ licence_id }}/rename">Name this licence</a>
      {{/crmData.document_custom_name}}

    </div>
  </div>


  {{>licence-details }}


</main>
{{> footerjs}}

{{> debug}}
