{{> styles}}
<main id="content">
  {{>element-phase-tag}}
  <nav>
    <div class="breadcrumbs">
      {{>element-header-links}}
      <ol>
        <li><a href="/?access=PB01">Your service</a></li>
        <li><a href="/licences">Abstraction licences</a></li>
        <li><a href="/licences/{{ licence_id }}">Licence serial number: {{ licenceData.licenceNumber }}</a></li>
      </ol>
    </div>
  </nav>
  <a class="link-back" href="/licences">Back</a>

  <h1 class="heading-medium">Licence serial number {{ licenceData.licenceNumber }}</h1>

  <p></p>

  <!-- User-defined licence name row -->
  <div class="data-table">
    <div class="sourceofsupplyq">Licence name</div>
    <div class="licenceAnswer">


      <!-- Current licence name -->
      {{#if crmData.document_custom_name }}
        {{ crmData.document_custom_name}}
        <br />
        <a id="showForm" href="/licences/{{ licence_id }}/rename">Change name</a>
      {{/if}}
      {{^crmData.document_custom_name }}
        No licence name
        <br />
        <a id="nameLicence" href="/licences/{{ licence_id }}/rename">Name this licence</a>
      {{/crmData.document_custom_name}}

    </div>
  </div>


  {{>element-licence-row label='Licence holder' answer=(concat licenceData.licenceHolderName '<br/><a href="/licences/' licence_id '/contact">Licence contact details</a>')}}


  {{#each licenceData.points }}
  {{>element-licence-row label='Point of abstraction' answer=(ngrPoint this) }}
  {{/each}}


  {{>element-licence-row label='Licence effective from' answer=(formatDate licenceData.effectiveDate )}}
  {{>element-licence-row label='Licensed until' answer=(formatToDate licenceData.expiryDate 'No expiry' )}}

  {{#each licenceData.points }}
  {{>element-licence-row label='Source of supply' answer=this.name}}
  {{/each}}

  {{#each licenceData.abstractionPeriods }}
  {{>element-licence-row label='Period of abstraction' answer=(formatPeriod this.periodStart this.periodEnd) }}
  {{/each}}


  <div class="data-table">
      <div class="sourceofsupplyq">Abstraction conditions</div>
      <div class="licenceAnswer">
        <a href="/licences/{{ licence_id }}/conditions">Read all abstraction conditions</a>
        <br />
      </div>
  </div>

  {{#each licenceData.quantities }}
  <div class="data-table">
      <div class="sourceofsupplyq">Maximum quantities before conditions</div>
      <div class="licenceAnswer">
        {{ precision this.dailyQty 2 }} cubic metres per day<br />
        {{ precision this.annualQty 2 }} cubic metres per year
      </div>
  </div>
  {{/each}}


  <div class="greyline" style="border-bottom: 1px solid #bfc1c3;"></div>
  <p></p>
  <p><a href="/licences/{{licence_id}}/terms">Read your full licence terms of use</a></p>
  <p></p>
</main>
{{> footerjs}}

{{> debug}}
