{{> styles}}
<main id="content">
  {{>element-phase-tag}}
  <nav>
    <div class="breadcrumbs">
      <ol >
        <li><a href="/?access=PB01">Your service</a></li>
        <li><a href="/licences">Abstraction licences</a></li>
        <li><a href="/licences/{{ licence_id }}">Licence number: {{ licenceData.licence_ref }}</a></li>
        {{>element-header-links}}
      </ol>
    </div>
  </nav>
  <a class="link-back" href="/licences/{{ licence_id }}" >Back</a>


  <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-large">Conditions held for
            {{#if crmData.document_custom_name }}
            {{ crmData.document_custom_name }}
            {{else}}
            {{ licenceData.licence_ref }}
            {{/if}}
        </h1>

        <div class="notice">
          <i class="icon icon-important">
            <span class="visually-hidden">Warning</span>
          </i>
          <strong class="bold-small">
            We may not be able to show a full list of your conditions, because we don’t hold all of your licence information on our system yet. You must refer to the paper copy of your licence to view and comply with all of your conditions.
        </strong>
        <p></p>
        </div>
      </div>
  </div>

  {{#each conditions }}
  <div class="grid-row">
    <div class="column-full">
    <h2 class="heading-medium">{{ this.titles.displayTitle }}</h2>


    {{#if this.condition.parameter1 }}
    <div class="data-row">
      <div class="data-row__param" id="label-{{@index}}-param1">
      {{ this.titles.parameter1Label }}
      </div>
      <div class="data-row__value" aria-labelledby="label-{{@index}}-param1">
      {{ this.condition.parameter1 }}
      </div>
    </div>
    {{/if}}

    {{#if this.condition.parameter2 }}
    <div class="data-row">
      <div class="data-row__param" id="label-{{@index}}-param2">
      {{ this.titles.parameter2Label }}
      </div>
      <div class="data-row__value" aria-labelledby="label-{{@index}}-param2">
      {{ this.condition.parameter2 }}
      </div>
    </div>
    {{/if}}


    {{#each this.points }}
    <div class="data-row">
      <div class="data-row__param" id="label-{{@index}}-points">
      Abstraction point
      </div>
      <div class="data-row__value" aria-labelledby="label-{{@index}}-points">
        {{ this }}
      </div>
    </div>
    {{/each}}

    {{#if this.condition.text }}
    <div class="data-row">
      <div class="data-row__param" id="label-{{@index}}-info">
      Other information
      </div>
      <div class="data-row__value" aria-labelledby="label-{{@index}}-info">
      {{ this.condition.text }}
      </div>
    </div>
    {{/if}}
    </div>


  </div>
  <br />
  {{/each}}


</main>
{{> footerjs}}
{{> debug}}
