{{> styles}}
<main id="content">
  {{>element-phase-tag}}
  <nav>
    <div class="breadcrumbs">
      {{>element-header-links}}
      <ol >
        <li><a href="/licences">Abstraction licences</a></li>
        <li><a href="/licences/{{ licence_id }}">Licence number: {{ licenceData.licenceNumber }}</a></li>
        <li><a href="/licences/{{ licence_id }}/conditions">Abstraction conditions</a></li>

      </ol>
    </div>
  </nav>
  <a class="link-back" href="/licences/{{ licence_id }}" >Back</a>


  <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-large">Conditions held for
            {{#if crmData.document_custom_name }}
            {{ crmData.document_custom_name }}
            {{else}}
            {{ licenceData.licenceNumber }}
            {{/if}}
        </h1>

        <div class="notice" style="border: none; margin: 0; padding: 0;">
          <i class="icon icon-important">
            <span class="visually-hidden">Warning</span>
          </i>
          <strong class="bold-small">
            We may not be able to show a full list of your conditions, because we don’t hold all of your licence information on our system yet. You must refer to the paper copy of your licence to view and comply with all of your conditions.
        </strong>
        </div>

        <br />
      </div>
  </div>

  {{#equal licenceData.conditions.length 0}}
  <p>
  Sorry, we don’t hold any information about your conditions on our system yet.
  </p><p>
  Please check the paper copy of your licence for this information.
  </p>
  {{/equal}}



  {{#each licenceData.conditions }}
    <div class="grid-row">
      <div class="column-full">
        <h2 class="heading-medium">{{ this.displayTitle}}</h2>

        {{#each this.points}}
          <h3 class="data-row data-row--heading">
            <span class="data-row__param">Abstraction point</span>
            <span class="data-row__value">

              {{#greaterThan this.points.length 1 }}
              <details>
               <summary><span class="summary">{{ this.points.length }} points</span></summary>
               <div>
              {{/greaterThan}}

              {{#each this.points }}
              {{ this }}<br />
              {{/each}}

              {{#greaterThan this.points.length 3 }}
              </div>
              </details>
              {{/greaterThan}}

            </span>
          </h3>
          {{#each this.conditions }}
          <div class="data-row-group">
            <h4 class="sr-only">Condition {{add @index 1 }}</h4>

            <div class="data-row data-row--section">
              <div class="data-row__param" id="label-{{@../index}}-{{@index}}-purpose">
             Purpose
              </div>
              <div class="data-row__value" aria-labelledby="label-{{@../index}}-{{@index}}-purpose">
                {{ ../../purpose }}
              </div>
            </div>

            {{#if this.parameter1 }}
            <div class="data-row">
              <div class="data-row__param" id="label-{{@../index}}-{{@index}}-param1">
              {{ ../../parameter1Label }}
              </div>
              <div class="data-row__value" aria-labelledby="label-{{@../index}}-{{@index}}-param1">
              {{ this.parameter1 }}
              </div>
            </div>
            {{/if}}

            {{#if this.parameter2 }}
            <div class="data-row">
              <div class="data-row__param" id="label-{{@../index}}-{{@index}}-param2">
              {{ ../../parameter2Label }}
              </div>
              <div class="data-row__value" aria-labelledby="label-{{@../index}}-{{@index}}-param2">
              {{ this.parameter2 }}
              </div>
            </div>
            {{/if}}

            {{#if this.text }}
            <div class="data-row">
              <div class="data-row__param" id="label-{{@../index}}-{{@index}}-info">
              Other information
              </div>
              <div class="data-row__value" aria-labelledby="label-{{@../index}}-{{@index}}-info">
              {{ this.text }}
              </div>
            </div>
            {{/if}}

          </div>
          {{/each}}
          <br />
        {{/each}}
      </div>
      <br />
    </div>
    <br />
  {{/each}}



</main>
{{> footerjs}}
{{> debug}}
