{{> styles}}
<script>
  document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
</script>
<main id="content">
  {{>element-phase-tag}}
  <nav>
    <div class="breadcrumbs">
      {{>element-header-links}}
      <ol >
        <li><a href="/licences">Abstraction licences</a></li>
        <li><a href="/licences/{{licence_id}}">Licence number: {{ licenceData.licenceNumber }}</a></li>
      </ol>
    </div>
  </nav>
  <a class="link-back" href="/licences/{{ licence_id}}">Back</a>
  <div id="wrapper" class="direction-ltr">
    <div class="full-page-width-wrapper">
    </div>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="page-header">
        {{>element-heading-large content='Your water abstraction licence'}}
        <p>Licence number: {{ licenceData.licenceNumber }}</p>
      </div>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="js-hidden" data-module="accordion-with-descriptions">
        <div class="subsection-wrapper">
          {{>element-accordion-item accordion_title='Source of supply' accordion_content=licenceData.sourceOfSupply el_guid=(guid)}}
          {{>element-accordion-item accordion_title='Point of abstraction' accordion_content=(ngrPoint licenceData.points) el_guid=(guid)}}
          {{>element-accordion-item accordion_title='Purpose of abstraction' accordion_content=licenceData.purposes.0.tertiary.description el_guid=(guid)}}
          {{>element-accordion-item accordion_title='Means of abstraction' accordion_content=licenceData.points.0.abstractionMethods.0.meansOfAbstraction.description el_guid=(guid)}}
          {{>element-accordion-item accordion_title='Means of measurement' accordion_content=licenceData.purposes.0.meansOfMeasurement el_guid=(guid)}}
          {{>element-accordion-item accordion_title='Maximum quantities before conditions' accordion_content=(maxQuantities licenceData) el_guid=(guid)}}
        </div>
      </div>
    </div>
  </div>
  <br/>
  <script src="/public/javascripts/jquery-1.12.4-cb0decd18b4b0abbece3cfc180d9adc8e11dfa693cf34c2ff1ffcda86e725301.js"></script>
  <script src="/public/javascripts/application-fa751ac52dc0f490ce602b0e9be8ef77560ed543cc20c3b5339fc30f560df47b.js"></script>
</main>
{{> footerjs}}
{{> debug}}
