{{> styles}}
<main id="content">
  {{>element-phase-tag}}
  <nav>
    <div class="breadcrumbs">
      <ol>
        <li><a href="/">Your services</a></li>
        <li><a href="/licences">Abstraction licences</a></li>
      </ol>
    </div>
  </nav>
  {{>element-signout}}
  {{>element-heading-large content='Your water abstraction licences'}}
  <div class="greyline" style="border-bottom: 1px solid #bfc1c3;"></div>
  {{#each licenceData.data}}
    {{#>element-licence-link this}}{{/element-licence-link}}
  {{/each}}
</main>
{{> footerjs}}
{{> debug}}
