{{> styles}}
<main id="content">
  {{>element-phase-tag}}
  <nav>
    <div class="breadcrumbs">
      {{>element-header-links}}
      <ol>
        <li><a href="/licences">Your licences</a></li>
        <li><a href="/manage_licences">Manage licences</a></li>

      </ol>
    </div>
  </nav>


  {{>element-heading-large content='Manage your licences'}}

  <div class="grid-row medium-space">
    <div class="column-full">
      <nav class="tabs">
        <ul>
          <li><span class="active">Share licence access</span></li>
          <li><a href="/manage_licences_add" >Access more licences</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="grid-row medium-space">
    <div class="column-full">


        <h2 class="heading-medium">Manage access to your licences</h2>
        <p>You can give other people access to view your licences too. Tell us their email address and we’ll send them a link to create an account.</p>
        <p>You can remove their access at any time.</p>
        <a class="button" href="/manage_licences/add_access" role="button" style="margin-bottom:20px;">Add user</a>

        <!-- Results page goes here -->
        <div class="license-results" id="results">

          <div class="license-results-header">
            <div class="license-results-header__column">
              <a href="/manage_licences?{{{ sortQuery direction=direction sort=sort field="entity_nm"}}}#results">People with access
                {{{ sortIcon  direction=direction sort=sort field="entity_nm" }}}
              </a>
            </div>
            <div class="license-results-header__column">
              <a href="/manage_licences?{{{ sortQuery direction=direction sort=sort field="created_at"}}}#results">Date
                {{{ sortIcon  direction=direction sort=sort field="created_at" }}}
              </a>
            </div>
            <div class="license-results-header__column"></div>
            <div class="license-results-header__column"></div>
          </div>

          {{^licenceAccess}}
          <!-- No results found -->
          <div class="license-result">
            <h2 class="heading-medium license-result__column">No results found.</h2>
            <p class="license-result__column license-result__column--description"></p>
            <div class="license-result__column license-result__column--view" aria-hidden="true" aria-label="Remove Access"></div>
          </div>
          {{/licenceAccess}}

          <!-- Display list of clickable licence rows/tiles -->
          {{#each licenceAccess}}
          <div class="license-result">
            <h2 class="heading-medium license-result__column">{{entity_nm}}</h2>
            <p class="license-result__column license-result__column--description">{{formatTS created_at}}</p>
            <p class="license-result__column license-result__column--description"><a href="/manage_licences/remove_access?entity_role_id={{entity_role_id}}&email={{encode value=entity_nm}}" aria-hidden="true" title="Remove access from {{entity_nm}}">Remove access </a></p>
            </div>
          {{/each}}

        </div>


        <p></p>


    </div>
  </div>




</main>


{{> footerjs}}


{{> debug}}
