{{> styles}}
<main id="content">
  {{>element-phase-tag}}
  <nav>
    <div class="breadcrumbs">
      {{>element-header-links}}
      <ol>
        <li><a href="/licences">{{ labels.licences }}</a></li>
        <li><a href="/manage_licences">Manage licences</a></li>
        <li><a href="/manage_licences_add">Access more licences</a></li>
      </ol>
    </div>
  </nav>

  {{>element-heading-large content='Manage your licences'}}

  <div class="grid-row medium-space">
    <div class="column-full">
      <nav class="tabs">
        <ul>
          <li><a href="/manage_licences">Share licence access</a></li>
          <li><span class="active">Access more licences</span></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="grid-row medium-space">
    <div class="column-two-thirds">

      {{#greaterThan verificationCount 0}}
        <h2 class="heading-medium">Have you received a security code by post?</h2>


        <a class="button medium-space" href="/security-code" role="button">Enter security code</a>
        <p></p>
      {{/greaterThan}}

      <h2 class="heading-medium">Request to view more of your licences online</h2>
      <p>You can view more of your existing water abstraction or impoundment licences by requesting access to them here.</p>
      <p>Before we give you access, we need to do some security checks to confirm you’re the licence holder or their official representative.</p>





      <a {{#equal verificationCount 0}}class="button medium-space"{{/equal}} href="/add-licences" role="button">Request access</a>
    </div>
  </div>

</main>


{{> footerjs}}


{{> debug}}
