{{> styles}}
<main id="content" tabindex="-1">
  {{>element-phase-tag}}{{>element-main-nav}}

  <a class="link-back" href="/licences">Back</a>

  <h1 class="heading-large">{{ pageTitle }}</h1>

  <div class="grid-row">
    <div class="column-two-thirds">

      <p>We, the Environment Agency, run the manage your water abstraction or impoundment licence service.
        Our <a href="https://www.gov.uk/government/organisations/environment-agency/about/personal-information-charter">personal information charter</a> explains how we deal with your information.</p>


      <p>We ask for your email address to create a secure online account for you. You'll need to use it every time you sign in to use the service. We'll send you some emails as part of the account creation process. These emails will include some web links that include tracking codes. We use these to track responses to our emails, but we won't use them to gather or store any information about your identity.</p>


      <p>We may also use it to contact you with important information about the service or your licences. We won't use it to contact you for marketing purposes.</p>

      <p>We'll store your email address in a secure database that's only accessed by our service. Your email address will remain in this database until you ask us to remove it.</p>

      <p>We may also need to release your email address in response to requests for information under the Freedom of Information Act 2000 and the Environmental Information Regulations 2004 (if the Data Protection Act allows).</p>

      <p>To have your email address removed from this database, please <a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">contact the Environment Agency.</a></p>

    </div>
  </div>


</main>
{{> footerjs}}
{{> debug}}
