{{> styles}}
<main id="content" tabindex="-1">
  {{>element-phase-tag}}

  <a class="link-back" href="/">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">
      {{>element-heading-large content=pageTitle}}

      <p>Please check your email for a new message from us. The subject line will read: 'Complete your online account set up using this link'.</p>

      <p>Click on the link in the new email and follow the instructions you'll see on the screen.</p>

      <p><a href="/send-again">Haven't received anything?</a></p>

    </div>
  </div>
</main>

{{> footerjs}}
{{> debug}}
