{{> styles}}
<main id="content">
  {{>element-phase-tag}}
  <nav>
    <div class="breadcrumbs">
      <ol>
        <li><a href="/?access=PB01">Your service</a></li>
      </ol>
    </div>
  </nav>
  <div class="grid-row">
    <div class="column-two-thirds">
      {{>element-heading-large content='Check your email'}}

      <p class="lede">We’ve sent you an email with instructions about what to do next.</p>



      <details class="closeOnOpen">
        <summary><span class="summary">Still haven't received anything?</span></summary>

        <p>
        Please email <a href="mailto://Water_abstractiondigital@environment-agency.gov.uk">Water_abstractiondigital@environment-agency.gov.uk</a>
      </p>
        <p>
        Our team will reply to you within 2 working days.
        </p>

      </details>
    </div>
  </div>
</main>

{{> footerjs}}
{{> debug}}
