{{> styles}}
<main id="content" tabindex="-1">
  {{>element-phase-tag}}

  <div class="grid-row">
    <div class="column-two-thirds">
      {{>element-heading-large content='Check your email'}}

      <p class="lede">We’ve sent you an email with instructions about what to do next.</p>



      <details class="closeOnOpen">
        <summary><span class="summary">Still haven't received anything?</span></summary>
        <div>
          <p>
          Please contact us for help.
          </p>
          {{> contact-details }}
        </div>
      </details>

    </div>
  </div>
</main>

{{> footerjs}}
{{> debug}}
