{{> styles}}
<main id="content">
  {{>element-phase-tag}}

  <a class="link-back" href="/signin">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">{{ pageTitle }}</h1>

      <p>You need to create an online account and confirm your identity to access your licence information.</p>

      <div class="panel panel-border-wide">
        <p>
          We’ll need to send you a security code by post to complete this process. This should take around 5 working days.
        </p>
      </div>

      <p>You’ll be able to view all of your water abstraction or impoundment licences using this account.</p>

      <h2 class="heading-medium">Before you start</h2>

      <p>You'll need:</p>

      <ul class="list list-bullet">
        <li>your licence number(s)</li>
        <li>your email address</li>
      </ul>

            <a class="button button-start" href="/register" role="button">Create account</a>

    </div>
  </div>
</main>

{{> footerjs}}
{{> debug}}
