{{> styles}}
<main id="content" tabindex="-1">
  {{>element-phase-tag}}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">{{ pageTitle }}</h1>

      <p>We've sent you a new link and intructions to reset your password.</p>


      <details>

        <summary><span class="summary">Still haven't received anything?</span></summary>

        <div>
          <p>
            Please email us at <a href="mailto://Water_abstractiondigital@environment-agency.gov.uk">Water_abstractiondigital@environment-agency.gov.uk</a>
          </p>
        </div>

      </details>

  </div>
</div>


</main>

{{> footerjs}}
{{> debug}}
