{{> styles}}
<main id="content">
  {{>element-phase-tag}}
  <nav>
    <div class="breadcrumbs">
      <ol>
        <li><a href="/?access=PB01">Your service</a></li>
      </ol>
    </div>
  </nav>
  <div class="grid-row">
    <div class="column-two-thirds">


      {{#if errors}}
        <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">

          {{#if errors.hasValidationErrors}}
          <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
          Please enter a valid password
          </h2>

          Your password must contain
          <div class="form-hint">
            <ul class="list list-bullet {{#if errors.hasValidationErrors}}list-errors{{/if}}">
              <li class="{{#if errors.hasValidationErrors}}password-validation{{/if}} {{#if errors.passwordTooShort}}password-validation-failure{{/if}}">
                {{#if errors.hasValidationErrors}}
                  {{#if errors.passwordTooShort}}
                  <span aria-hidden="true" class="validation-icon">&#10007;</span>
                  <span class="sr-only">Your password does not contain </span>
                  {{else}}
                  <span aria-hidden="true" class="validation-icon">&#10003;</span>
                  <span class="sr-only">Your password contains </span>
                  {{/if}}
                {{/if}}

                8 characters
              </li>

              <li class="{{#if errors.hasValidationErrors}}password-validation{{/if}} {{#if errors.passwordHasNoSymbol}}password-validation-failure{{/if}}">
                {{#if errors.hasValidationErrors}}
                  {{#if errors.passwordHasNoSymbol}}
                  <span aria-hidden="true" class="validation-icon">&#10007;</span>
                  <span class="sr-only">Your password does not contain </span>
                  {{else}}
                  <span aria-hidden="true" class="validation-icon">&#10003;</span>
                  <span class="sr-only">Your password contains </span>
                  {{/if}}
                {{/if}}

                1 symbol (like ?!£%)
              </li>

              <li class="{{#if errors.hasValidationErrors}}password-validation{{/if}} {{#if errors.passwordHasNoUpperCase}}password-validation-failure{{/if}}">
                {{#if errors.hasValidationErrors}}
                  {{#if errors.passwordHasNoUpperCase}}
                  <span aria-hidden="true" class="validation-icon">&#10007;</span>
                  <span class="sr-only">Your password does not contain </span>
                  {{else}}
                  <span aria-hidden="true" class="validation-icon">&#10003;</span>
                  <span class="sr-only">Your password contains </span>
                  {{/if}}
                {{/if}}

                1 capital letter
              </li>

            </ul>
        </div>
          {{/if}}

          {{#if errors.passwordsDontMatch}}
          <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
          The passwords you entered didn't match
          </h2>
          <ul class="error-summary-list">
            <li><a href="#password">Re-enter your new password</a></li>
            <li><a href="#confirm-password">Confirm your new password</a></li>
          </ul>
          {{/if}}


          {{#if errors.noConfirmPassword}}
          <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
          The passwords you entered didn't match
          </h2>
          <ul class="error-summary-list">
            <li><a href="#password">Re-enter your new password</a></li>
            <li><a href="#confirm-password">Confirm your new password</a></li>
          </ul>
          {{/if}}





        </div>
      {{/if}}


      {{#if query.create }}
      <h1 class="heading-large">Create a password for your online account</h1>
      <p>You'll need to use this password each time you sign in to the service to view your licences.</p>
      {{else}}

      <h1 class="heading-large">Change your password</h1>
      {{/if}}

      {{#if forced}}
      <h2 class="heading-medium" id="error-summary-heading-example-1">
        For security you need to create your own password to use from now on. Once you've reset your password you'll be asked to sign in again.
      </h2>
      {{/if}}


      {{#if query.create }}
      <form novalidate action="/create-password" method="post" class="form">
      {{else}}
      <form novalidate action="/reset_password_change_password" method="post" class="form">
      {{/if}}
        <input name="resetGuid" value="{{resetGuid}}" type="hidden" />

        <!-- Password -->
        <div class="form-group {{#if errors.noPassword}}form-group-error{{/if}} {{#if errors.hasValidationErrors}}form-group-error{{/if}}">
          <label class="form-label-bold" for="password">
            <div class="form-hint">
              Your new password must have at least:

              <ul class="list list-bullet {{#if errors.hasValidationErrors}}list-errors{{/if}}">
                <li class="{{#if errors.hasValidationErrors}}password-validation{{/if}} {{#if errors.passwordTooShort}}password-validation-failure{{/if}}">
                  {{#if errors.hasValidationErrors}}
                    {{#if errors.passwordTooShort}}
                    <span aria-hidden="true" class="validation-icon">&#10007;</span>
                    <span class="sr-only">Your password does not contain </span>
                    {{else}}
                    <span aria-hidden="true" class="validation-icon">&#10003;</span>
                    <span class="sr-only">Your password contains </span>
                    {{/if}}
                  {{/if}}

                  8 characters
                </li>

                <li class="{{#if errors.hasValidationErrors}}password-validation{{/if}} {{#if errors.passwordHasNoSymbol}}password-validation-failure{{/if}}">
                  {{#if errors.hasValidationErrors}}
                    {{#if errors.passwordHasNoSymbol}}
                    <span aria-hidden="true" class="validation-icon">&#10007;</span>
                    <span class="sr-only">Your password does not contain </span>
                    {{else}}
                    <span aria-hidden="true" class="validation-icon">&#10003;</span>
                    <span class="sr-only">Your password contains </span>
                    {{/if}}
                  {{/if}}

                  1 symbol (like ?!£%)
                </li>

                <li class="{{#if errors.hasValidationErrors}}password-validation{{/if}} {{#if errors.passwordHasNoUpperCase}}password-validation-failure{{/if}}">
                  {{#if errors.hasValidationErrors}}
                    {{#if errors.passwordHasNoUpperCase}}
                    <span aria-hidden="true" class="validation-icon">&#10007;</span>
                    <span class="sr-only">Your password does not contain </span>
                    {{else}}
                    <span aria-hidden="true" class="validation-icon">&#10003;</span>
                    <span class="sr-only">Your password contains </span>
                    {{/if}}
                  {{/if}}

                  1 capital letter
                </li>

              </ul>
            </div>
          </label>
          <label class="form-label-bold" for="password">Enter a new password</label>

          {{#if errors.hasValidationErrors}}
            {{#if errors.user-id}}<span class="error-message">Re-enter your new password</span>{{/if}}
          {{/if}}
          <input name="password" autocomplete="off" type="password" class="form-control" id="password">
        </div>
        <p></p>

        <!-- Confirm password -->
        <div class="form-group {{#if errors.noConfirmPassword}}form-group-error{{/if}} {{#if errors.passwordsDontMatch}}form-group-error{{/if}}">
          <label class="form-label-bold" for="confirm-password">
            Confirm your new password
            </span>
          </label>
          {{#if errors.hasValidationErrors}}
            {{#if errors.user-id}}<span class="error-message">Confirm your new password</span>{{/if}}
          {{/if}}
          <input name="confirm-password" autocomplete="off" type="password" class="form-control" id="confirm-password">
        </div>
        <input class="button button-start" type="submit" value="Change password"/>
        <p></p>
      </form>
    </main>
  </div>
</div>

{{> footerjs}}
{{> debug}}
