{{> styles}}
<main id="content">
  {{>element-phase-tag}}


  <div class="grid-row">
    <div class="column-two-thirds">


      {{#if errors}}
        <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
          {{#if errors.invalidEmailAddress}}
            <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
              That email address isn't valid
            </h2>
            <ul class="error-summary-list">
              <li><a href="#email-address">Re-enter your email address</a></li>
            </ul>
          {{/if}}
        </div>
      {{/if}}
      {{>element-heading-large content='Ask for another email'}}

      <p>The email might take a few minutes to reach you. If it didn't arrive in your inbox, please check your spam folder. If it's not there you can ask us to send another email below.</p>

      <form novalidate action="/reset_password_resend_email" method="post" class="form">
        <!-- Email address -->
        <div class="form-group {{#if errors.invalidEmailAddress}}form-group-error{{/if}}">
          <label class="form-label-bold" for="email-address">Email address</label>
          {{#if errors.invalidEmailAddress}}<span class="error-message">Please enter a valid email address</span>{{/if}}

          <input maxlength="254" name="email_address" type="email" class="form-control " id="email-address" {{#if payload.email_address}}value="{{payload.email_address}}"{{/if}}>
        </div>
        <input class="button button-start" type="submit" value="Continue"/>
      </form>
    </main>
  </div>
</div>

{{> footerjs}}
{{> debug}}
