{{> styles}}
<main id="content">
  {{>element-phase-tag}}

  <div class="grid-row">
    <div class="column-two-thirds">
      {{>element-heading-large content='Check your junk mail'}}

      {{#if errors}}
        <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
          {{#if errors.invalidEmailAddress}}
            <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
              Please enter a valid email address
            </h2>
            <ul class="error-summary-list">
              <li><a href="#email-address">The email address you have entered is invalid</a></li>
            </ul>
          {{/if}}
        </div>
      {{/if}}

      <p>If the email is not in your inbox, check your junk mail. If you've not recieved anything after five minutes, then request another email.</p>

      <form action="/reset_password_resend_email" method="post" class="form">
        <!-- Email address -->
        <div class="form-group {{#if errors.invalidEmailAddress}}form-group-error{{/if}}">
          <label class="form-label-bold" for="email-address">Email address</label>
          <span class="form-hint">This is the email address used to create your account.</span>
          <input name="email_address" type="email" class="form-control {{#if errors.invalidEmailAddress}}form-control-error{{/if}}" id="email-address" {{#if payload.email_address}}value="{{payload.email_address}}"{{/if}}>
          {{#if errors.invalidEmailAddress}}<span class="error-message">Please enter a valid email address</span>{{/if}}
        </div>
        <input class="button button-start" type="submit" value="Reset password"/>
      </form>
    </main>
  </div>
</div>

{{> footerjs}}
{{> debug}}
