{{> styles}}
<main id="content">
  {{>element-phase-tag}}

  <div class="grid-row">
    <div class="column-two-thirds">
      {{>element-heading-large content='Check your email'}}

      <p>We have sent another password reset link to your email. Check your inbox to reset your password.</p>

      <details class="closeOnOpen">
        <summary><span class="summary">Still not received anything?</span></summary>
        Please phone the Water abstraction team on 0800 0000 0000.
      </details>
    </main>
  </div>
</div>

{{> footerjs}}
{{> debug}}
