{{> styles}}
<main id="content">
  {{>element-phase-tag}}
  <nav>
    <div class="breadcrumbs">
      <ol >
        <li><a href="/">Your services</a></li>
      </ol>
    </div>
  </nav>
  <div class="grid-row">
    <div class="column-two-thirds">
      <form action="/signin" method="post" class="form">
        <h1 class="form-title heading-large">
          Sign in to view your licence
        </h1>
        {{#if errors}}
        <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
          {{#if errors.authentication}}
            <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
              Login Error
            </h2>
            <ul class="error-summary-list">
              <li>ID or Password was not found</li>
            </ul>
          {{else}}
            <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
              Some required data was not supplied
            </h2>
            <ul class="error-summary-list">
              {{#if errors.user-id}}<li><a href="#user-id">User ID was not entered.</a></li>{{/if}}
              {{#if errors.password}}<li><a href="#password">Password was not entered.</a></li>{{/if}}
            </ul>
          {{/if}}
        </div>
        {{/if}}
        <!-- User id -->
        <div class="form-group {{#if errors.user-id}}form-group-error{{/if}}">
          <label class="form-label-bold" for="user-id">User ID</label>
          <span class="form-hint">This is the 10 digit Customer ID which was sent to you in the post or by e-mail.</span>
          <input name="user_id" type="text" class="form-control   {{#if errors.user-id}}form-control-error{{/if}}" id="user-id" {{#if payload.user_id}}value="{{payload.user_id}}" {{/if}}> {{#if errors.user-id}}<span class="error-message">This field is required</span>{{/if}}
        </div>
        <!-- Password -->
        <div class="form-group {{#if errors.password}}form-group-error{{/if}}">
          <label class="form-label-bold" for="password">
            Password
            <span class="form-hint">
            This is the password which was sent to you in the post or by e-mail.
            <br/>
            You will be asked to change your password on the first sign in.
            </span>
          </label>
          <input name="password" autocomplete="off" type="password" class="form-control  {{#if errors.password}}form-control-error{{/if}}" id="password"> {{#if errors.password}}<span class="error-message">This field is required</span>{{/if}}
        </div>
        <input class="button" type="submit" value="Sign in"/>
        <p></p>
      </form>
      <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
        <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
        Prototype Note
        </h2>
        <p>
          The following temporary credentials should be used for the above example:
        </p>
        <ul class="list list-bullet">
          <li>User ID:demouser</li>
          <li>Password: password</li>
        </ul>
      </div>
    </div>
  </div>
</main>
{{> footerjs}}
{{> debug}}
