{{> styles}}
<main id="content">
  {{>element-phase-tag}}

  <a class="link-back" href="/?access=PB01">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">
      <form novalidate action="/signin" method="post" class="form">

        {{#equal query.flash 'password-reset'}}
        <div style="border-top: none;" class="panel panel-border-wide" role="alert" tabindex="-1">
            <h2 class="heading-medium">
              Your password has been reset
            </h2>
          <p>Sign in to your account using your new password</p>
        </div>
        {{/equal}}

        {{#if errors}}
        <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
          {{#if errors.authentication}}

            <script>
              sendEvent({category:'error', action:'invalid_password'})
            </script>

            <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
              Your email address or password is incorrect
            </h2>
            <ul class="error-summary-list">
              <li><a href="#user-id">Re-enter your email address</a></li>
              <li><a href="#user-id">Re-enter your password</a></li>
            </ul>
          {{else}}
            <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
              Your email address or password is incorrect
            </h2>
            <ul class="error-summary-list">
              <li><a href="#user-id">Re-enter your email address</a></li>
              <li><a href="#user-id">Re-enter your password</a></li>
            </ul>
          {{/if}}
        </div>
        {{/if}}
        <h1 class="form-title heading-large">
          Sign in
        </h1>
        <!-- User id -->
        <div class="form-group {{#if errors.user-id}}form-group-error{{/if}} {{#if errors.authentication }}form-group-error{{/if}}">
          <label class="form-label-bold" for="user-id">Email address</label>
          <span class="form-hint">This is the email address used to create your account.</span>
          {{#if errors}}<span class="error-message">Please enter the email address you registered with us.</span>{{/if}}
          <input maxlength="254" name="user_id" type="email" class="form-control {{#if errors.authentication }}form-control-error{{/if}}" id="user-id" {{#if payload.user_id}}value="{{payload.user_id}}" {{/if}}>

        </div>
        <!-- Password -->
        <div class="form-group {{#if errors.password}}form-group-error{{/if}} {{#if errors.authentication }}form-group-error{{/if}}">
          <label class="form-label-bold" for="password">Password</label>
          <span class="form-hint">Enter the password you created.</span>
          {{#if errors}}<span class="error-message">Please check and enter the password you created.</span>{{/if}}
          <input maxlength="128" name="password" autocomplete="off" type="password" class="form-control {{#if errors.authentication }}form-control-error{{/if}}" id="password">

        </div>
        <input id="signInButton" class="button button-start" type="submit" value="Sign in" />
        <p></p>
      </form>
      <a href="/reset_password">Forgotten password?</a>
      <br />
      <br /><a href="/start">Create an account to use this service</a>

    </div>
  </div>
</main>
{{> footerjs}}
{{> debug}}

{{#if errors}}
<script>
document.getElementById('signInButton').disabled = true;
document.getElementById('signInButton').setAttribute('aria-disabled', 'true');
window.setTimeout(function(){
  console.log('unlock')
  document.getElementById('signInButton').disabled = false;
  document.getElementById('signInButton').setAttribute('aria-disabled', 'false');
},5000)
{{/if}}
</script>
