{{> styles}}
<script>
  document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
</script>
<main id="content" tabindex="-1">
  {{>element-phase-tag}}
  <nav>
    {{> breadcrumbs}}
</nav>
  <a href="/signin" class="sign-out2">Sign out</a>
  <div id="wrapper" class="direction-ltr">
    <div class="full-page-width-wrapper">
    </div>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="page-header">
        <h1 class="heading-large">
        {{title}}
        </h1>
        <h2 class="heading-medium">
        {{subtitle}}
      </h2>
        <p>Licence number: {{ licenceData.LicenceSerialNo }}</p>
      </div>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-full">




{{#each layoutData}}
<!--
"attributeRef":"SourceofSupply",
"attributeSource":"SourceofSupply",
"attributeTitle":"Source of Supply",
"attributeDataType":"text",
"attributeElementType":"text",
"attributeRules":[
]
"attributeChildren":[]
-->

{{#>renderElements data=this root=../this}}{{/renderElements}}




{{/each}}


    </div>
  </div>
  <br/>
  <a href="/licences/{{ licence_id }}">
    &lt; Back to previous</a>

    <script src="/public/javascripts/jquery-1.12.4-cb0decd18b4b0abbece3cfc180d9adc8e11dfa693cf34c2ff1ffcda86e725301.js"></script>
    <script src="/public/javascripts/application-fa751ac52dc0f490ce602b0e9be8ef77560ed543cc20c3b5339fc30f560df47b.js"></script>


      {{> footerjs}}
<!---
      <script src="/public/javascripts/jquery-1.12.4-cb0decd18b4b0abbece3cfc180d9adc8e11dfa693cf34c2ff1ffcda86e725301.js"></script>
      <script src="/public/javascripts/application-fa751ac52dc0f490ce602b0e9be8ef77560ed543cc20c3b5339fc30f560df47b.js"></script>
--->
      {{> debug}}
</main>
