{{> styles}}
<main id="content" tabindex="-1">
  {{>element-phase-tag}}

  {{>element-heading-large content='Service unavailable'}}


    <div class="article-container">
      <article role="article" class="group">
        <div class="inner text">
          <p>There’s a technical problem with the View My Licence service and it’s currently unavailable.</p>

          <p>Sorry about this. We’ll restore the service as quickly as possible.</p>

          <p>If you need assistance, call the XXXXXX helpline NNNNNNN.</p>
        </div>
      </article>
    </div>


</main>
{{> footerjs}}
{{> debug}}
