{{> styles}}
<main id="content">
  {{>element-phase-tag}}
  <nav>
    <div class="breadcrumbs">
      <ol>
        <li><a href="/">Your services</a></li>
        <li><a href="/update_password">Update Password</a></li>
        {{>element-signout}}
      </ol>
    </div>
  </nav>
  {{>element-heading-large content='Change your password'}}

  {{#if errors}}
    <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
      {{#if errors.noPassword}}
        <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
          Please fill in password and confirm password fields
        </h2>
      {{else if errors.passwordInvalid}}
        <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
          Password does not match the required complexity
        </h2>
      {{else if errors.passwordsDontMatch}}
        <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
          Passwords do not match
        </h2>
      {{/if}}
    </div>
  {{/if}}

  <form action="/update_password" method="post" class="form">
    <!-- Password -->
    <div class="form-group">
      <label class="form-label-bold" for="password">
        Create your password
        <div class="form-hint">
          Your password must have:
          <ul class="list list-bullet">
            <li>at least 8 characters</li>
            <li>at least one symbols (eg ?!£%)</li>
            <li>at least one capital letter</li>
          </ul>
        </div>
      </label>
      <input name="password" autocomplete="off" type="password" class="form-control" id="password">
    </div>
    <p></p>

    <!-- Confirm password -->
    <div class="form-group">
      <label class="form-label-bold" for="confirm-password">
        Confirm your password
        </span>
      </label>
      <input name="confirm-password" autocomplete="off" type="password" class="form-control" id="password">
    </div>
    <input class="button button-start" type="submit" value="Change password"/>
    <p></p>
  </form>
</main>
{{> footerjs}}
{{> debug}}
