{{> styles}}
<main id="content">
  {{>element-phase-tag}}

  <nav>
    <div class="breadcrumbs">
      <ol>
        <li><a href="/licences">{{ labels.licences }}</a></li>
        <li><a href="/update_password">Change your password</a></li>
      </ol>
    </div>
  </nav>

  <div class="grid-row">
    <div class="column-two-thirds">
      {{#if errors}}
        <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
          <script>
            sendEvent({category:'error', action:'update_password_invalid_verification_password'})
          </script>


          {{#if errors.incorrectPassword}}
          <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
            Please check your old password and retry

          </h2>
          <ul class="error-summary-list">
            <li><a href="#password">We could not match your old password with our records</a></li>

          </ul>
          {{/if}}
        </div>
      {{/if}}

      <h1 class="heading-large">{{ pageTitle }}</h1>
      We just want to be sure it’s you

      <form novalidate action="/update_password_verify_password" method="post" class="form">
        <!-- Password -->
        <div class="form-group {{#if errors.incorrectPassword}}form-group-error{{/if}} ">

          <label class="form-label-bold {{#if errors.incorrectPassword}}error-message{{/if}}" for="password">Your old password</label>

          <input maxlength="128" name="password" autocomplete="off" type="password" class="form-control" id="password">
        </div>
        <p></p>


        <input class="button button-start" type="submit" value="Continue"/>
        <p></p>
      </form>

  </div>
</div>

</main>

{{> footerjs}}
{{> debug}}
