{{> styles}}
<main id="content">
  {{>element-phase-tag}}
  <nav>
    <div class="breadcrumbs">
      <ol>
        <li><a href="/">Your services</a></li>
        <li><a href="/update_password">Update Password</a></li>
        {{>element-signout}}
      </ol>
    </div>
  </nav>
  <a class="link-back" href="/licences">Back</a>
  {{>element-heading-large content='Update your password'}}


  <form action="/update_password" method="post" class="form">
    <!-- Password -->
    <div class="form-group {{#if errors.password}}form-group-error{{/if}} {{#if errors.authentication }}form-group-error{{/if}}">
      <label class="form-label-bold" for="password">
        Enter a new password
        </span>
      </label>
      <input name="password" autocomplete="off" type="password" class="form-control  {{#if errors.password}}form-control-error{{/if}} {{#if errors.authentication }}form-control-error{{/if}}" id="password"> {{#if errors.password}}<span class="error-message">This field is required</span>{{/if}}
    </div>
    <p></p>

    <!-- Confirm password -->
    <div class="form-group {{#if errors.password}}form-group-error{{/if}} {{#if errors.authentication }}form-group-error{{/if}}">
      <label class="form-label-bold" for="confirm-password">
        Confirm your password
        </span>
      </label>
      <input name="confirm-password" autocomplete="off" type="password" class="form-control  {{#if errors.password}}form-control-error{{/if}} {{#if errors.authentication }}form-control-error{{/if}}" id="password"> {{#if errors.password}}<span class="error-message">This field is required</span>{{/if}}
    </div>
    <input class="button button-start" type="submit" value="Change password"/>
    <p></p>
  </form>
</main>
{{> footerjs}}
{{> debug}}
