{{> styles}}
<main id="content" tabindex="-1">
  {{>element-phase-tag}}{{>element-main-nav}}



  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">{{ pageTitle }}</h1>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-one-half">
      <h2 class="heading-medium">Create an account</h2>
      <p>Choose this option if you have not used this service before.</p>
      <a class="button" href="/start">Create account</a>
      <br />
      <br />
    </div>

    <div class="column-one-half">
      <h2 class="heading-medium">Sign in</h2>
      <p>Choose this option if you have already created an account for this service.</p>
      <a class="button" href="/signin">Sign in</a>
    </div>
  </div>
</main>
{{> footerjs}}
{{> debug}}
