{% extends "./nunjucks/layout.njk" %}
{% from "forms/index.njk" import formRender %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% set html %}
        You tagged <b>{{ licenceRef }}</b> with restriction details for this station
      {% endset %}

      {{ govukPanel({
        titleText: pageTitle,
        html: html
      }) }}

      <p class="govuk-body">
        <a class="govuk-link" href="/monitoring-stations/{{ gaugingStationId }}/">Return to monitoring station</a>
      </p>

      <p class="govuk-body">or</p>

      <p class="govuk-body">
        <a class="govuk-link" href="/monitoring-stations/{{ gaugingStationId }}/tagging-licence">Create another tag</a>
      </p>

    </div>
  </div>

{% endblock %}
