{% extends "./nunjucks/layout.njk" %}
{% from "forms/index.njk" import formRender, formErrorSummary %}
{% from "title.njk" import title %}

{% block content %}
  <div class="govuk-grid-row">

    {{ formErrorSummary(form) }}

    <div class="govuk-grid-column-full">

      <div class="govuk-radios">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            <span class="govuk-caption-l">{{sessionData.station.label}}</span>{{pageTitle}}
          </h1>
      </legend>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          You will not be able to send a water abstraction alert for the licence at this restriction type and threshold.
        </strong>
      </div>

      <dl class="govuk-summary-list">
      {% set tagDisplayDone = false %}
      {% for tagCheckbox in sessionData.selectedConditionWithLinkages %}
         {% set tagDisplayDone = true %}
        <br/>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Licence
              </dt>
              <dd class="govuk-summary-list__value">
                {{tagCheckbox.licenceRef}}
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Tag
              </dt>
              <dd class="govuk-summary-list__value">
              {% for linkage in tagCheckbox.linkages %}
                {{ 'Reduce' if linkage.alertType.includes('reduce') else 'Stop' }}
                {{ linkage.thresholdValue }}
                {{ linkage.thresholdUnit }}
                <br/>
              {% endfor %}
              </dd>
            </div>

      {% endfor %}

      {% if tagDisplayDone == false %}
        {% for tagRadio in sessionData.selectedLicence.options.choices %}
        <br/>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Licence
              </dt>
              <dd class="govuk-summary-list__value">
                 {{tagRadio.hint}}
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Tag
              </dt>
              <dd class="govuk-summary-list__value">
              {{ 'Reduce' if tagRadio.alertType.includes('reduce') else 'Stop' }}
              {{ tagRadio.thresholdValue }}
              {{ tagRadio.thresholdUnit }}
              <br/>
              </dd>
            </div>
        {% endfor %}
      {% endif %}
            
      </dl>
      </div>
    </div>

    <div class="govuk-grid-column-full">
     {{ formRender(form) }}
    </div>

  </div>
{% endblock %}
