{% extends "./nunjucks/layout.njk" %}
{% from "forms/index.njk" import formRender, formErrorSummary %}
{% from "title.njk" import title %}

{% block content %}
  <div class="govuk-grid-row">

    {{ formErrorSummary(form) }}

    <div class="govuk-grid-column-full">

      <div class="govuk-radios">

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            <span class="govuk-caption-l">{{sessionData.station.label}}</span>{{pageTitle}}
          </h1>
      </legend>

      {% set lastLicenceRef = '' %}
      {% for licence in sessionData.licenceGaugingStations %}
        {% if sessionData.selectedLicence.value == licence.licenceId %}

        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="selectedTags" name="selectedTags" type="checkbox" value="{{ licence.licenceRef}}">
            <label class="govuk-label govuk-checkboxes__label" for="selectedTags">
            {{ licence.restrictionType }} at {{licence.thresholdValue}} {{licence.thresholdUnit}}<br>
            </label>
          </div>

        {% endif %}

      {% set lastLicenceRef = licence.licenceRef %}
      {% endfor %}
      </div>
    </div>
   
   <div class="govuk-grid-column-full">
      <br/>
    </div>
   
   <div class="govuk-grid-column-full">
      {{ formRender(form) }}
    </div>

  </div>
{% endblock %}
