{% extends "./nunjucks/layout.njk" %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Download a charging forecast report</h2>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Billed active licences</h2>
    <p class="govuk-body">Active charge information for live licences that have been billed in the current financial year.</p>
    <button onclick='fetchDownloadableReport("billedActiveLicences")' class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Download <span class="govuk-visually-hidden">Active charge information for billed licences</span> report
    </button>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Unbilled active licences</h2>
    <p class="govuk-body">Active charge information for live licences that have not been billed in the current financial year.</p>
    <button onclick='fetchDownloadableReport("unbilledActiveLicences")' class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Download <span class="govuk-visually-hidden">Active charge information for unbilled licences</span> report
    </button>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Inactive licences not yet credited</h2>
    <p class="govuk-body">Charge information for licences revoked, lapsed or expired after annual billing, but not yet credited back in the current financial year.</p>
    <button onclick='fetchDownloadableReport("uncreditedInactiveLicences")' class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Download <span class="govuk-visually-hidden">Charge information for revoked licences not yet credited </span> report
    </button>
  </div>
</div>
{% endblock %}
{% block bodyEnd %}
    <script>
        const fetchDownloadableReport = (report) =>  {
            window.open(`/reporting/download/${report}`);
        }
    </script>
{% endblock %}
