{% extends "./nunjucks/layout.njk" %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Downloading...</h2>
    <p>This page will attempt to close automatically when the download has started.</p>
  </div>
</div>
{% endblock %}
{% block bodyEnd %}
    <script>
        const startDownload = () =>  {
            let url = decodeURIComponent('{{signedUrl}}').replaceAll('&amp;', '&');
            let a = document.createElement('A');
            a.href = url;
            a.download = url.substr(url.lastIndexOf('/') + 1);
            document.body.appendChild(a);
            window.setTimeout(function(){
                a.click();
            }, 500);
            document.body.removeChild(a);
            window.setTimeout(function(){
                window.open(window.location, '_self').close();
            }, 1500);

        }
        startDownload()
    </script>
{% endblock %}
