// flexible tables, present well on mobiles
// also improved accessibly

.table__cell--highlight {
  background-color: govuk-colour("light-pink");
  background-color: $govuk-focus-colour;
  // background-color:  govuk-colour("grey-4");
  // border-bottom: 3px solid govuk-colour("blue");
  border-bottom: 1px solid govuk-colour("white");
}

.table__cell--highlight h3 {
  font-weight: 800;
  // color: govuk-colour("black");
  color:  $govuk-secondary-text-colour;
}

.govuk-radios--inline {
  padding-bottom: 15px;
  @media screen and (min-width: 641px) {
    padding-bottom: 0;
  }
}

.data-row--radio {
  padding-top: 1rem;
}

.data-row__param--narrow {
  // changed to make the proportions more appropriate for abstraction reform conditions label
  // maybe this should be made as an AR specific BEM ting
  flex: 0;
}
