// flexible tables, present well on mobiles
// also improved accessibly

.table {
  // larger screens
  @media (min-width: 768px) {
    display: table;
    width: 100%;
  }
}

.table__row {
  // display: flex;
  // larger screens
  @media (min-width: 768px) {
    display: table-row;
    padding-bottom: 0;
  }
}

.table__row--head {
  display: none;
  // larger screens
  @media (min-width: 768px) {
    font-weight: 800;
    display: table-row;
  }
}

.table__row--last .table__cell {
  border-bottom: none;
}

.table__row--total {
  font-weight: 800;
}

.table__cell {
  padding: 15px;
  padding-left: 0;
  font-size: inherit;
  border-bottom: 1px solid #bfc1c3;
  min-height: 30px;
  vertical-align: middle;
  // larger screens
  @media (min-width: 768px) {
    display: table-cell;
    min-height: auto;
  }
}

.table__cell--no-wrap {
  white-space: nowrap;
}

.table__heading {
  font-size: 19px;
  text-decoration: none;
  padding-left: 15px;
}

.table__heading:first {
  font-size: inherit;
  border-bottom: none;
  padding: 15px;
  padding-left: 0;
  vertical-align: middle;
  white-space: nowrap;
  // larger screens
  @media (min-width: 768px) {
    display: table-cell;
  }
}

// only visible on small screens
.table__context {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: $govuk-secondary-text-colour;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  // larger screens
  @media (min-width: 768px) {
    position: absolute;
    height: 1px;
    width: 1px;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    overflow: hidden !important;
  }
}

// ========== ========== ========== ========== ==========
// table checkbox
// ========== ========== ========== ========== ==========

.table__checkbox-label {
  padding-top: 0;
  @media (min-width: 768px) {
    padding-top: 12px;
  }
  font-size: 19px;
  font-weight: 800;
}

.table__checkbox-label a:link,
.table__checkbox-label a:visited,
.table__checkbox-label a:hover,
.table__checkbox-label a:active {
  font-weight: 800;
  color: $govuk-text-colour;
  text-decoration: none;
}


// ========== ========== ========== ========== ==========
// table statuses
// ========== ========== ========== ========== ==========

.table__status {
  font-size: 16px;
  line-height: 1.25;
  display: inline-block;
  padding: 4px 8px;
  padding-bottom: 1px;
  // outline: 2px solid transparent;
  // outline-offset: -2px;
  color: #ffffff;
  background-color: #005ea5;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.table__status--todo {
  background-color: #f47738;
}

.table__status--open {
  background-color: govuk-colour("turquoise");
}

.text-right {
  text-align: right;
}

.numbers {
  // larger screens
  @media (min-width: 768px) {
    text-align: right;
  }
}


// ========== ========== ========== ========== ==========
// table column widths
// ========== ========== ========== ========== ==========
// applied to the head table row
// control the relative width of table columns
// evenly spaced by default

.column--15 { width: 15% }
.column--20 { width: 20% }
.column--25 { width: 25% }
.column--33 { width: 33% }
.column--40 { width: 40% }
.column--50 { width: 50% }
