<table class="govuk-table">
  <caption class="govuk-table__caption govuk-heading-l">Contacts</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Name</th>
      <th class="govuk-table__header" scope="col">Email address</th>
      <th class="govuk-table__header" scope="col">Action</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for contact in contacts %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" scope="row">
        {% if contact.contact.type == 'department' %}
            {{contact.contact.department}}
        {% else %}
            {{contact.contact.firstName}} {{contact.contact.lastName}}
        {% endif %}
        </td>
        <td class="govuk-table__cell" scope="row">
            {{contact.contact.email}}
        </td>
        <td class="govuk-table__cell" scope="row">
            {% if hasPermissionToManageContacts %}
                <a href='/customer/{{company.id}}/contacts/{{contact.contact.id}}'>Manage</a>
            {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% if hasPermissionToManageContacts %}
    <a href="/customer/{{company.id}}/contacts/new" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      Set up a new contact
    </a>
{% endif %}
