{{> styles}}
<main id="content">
  {{>element-phase-tag}}
  <nav>
    <div class="breadcrumbs">
      <ol>
        <li><a href="/">Your services</a></li>
        <li><a href="/admin">admin</a></li>
      </ol>
    </div>
  </nav>
  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-xlarge">
        Permit Repository System Fields
      </h1>



      <table>
        <tr>
          <th style="vertical-align:top">Name</th>
          <th style="vertical-align:top">Type</th>
          <th style="vertical-align:top">Definition</th>
          <th style="vertical-align:top">Active</th>
          <th style="vertical-align:top">SearchKey</th>
        </tr>
        {{#each data.data}}
        <tr>
          <td style="vertical-align:top">{{field_nm}}</td>
          <td style="vertical-align:top">{{type}}</td>
          <td style="vertical-align:top">{{stringify field_definition}}</td>
          <td style="vertical-align:top">{{field_active}}</td>
          <td style="vertical-align:top">{{field_is_search_key}}</td>
        </tr>
        {{/each}}
      </table>


    </div>
  </div>
</main>
{{> footerjs}}
{{> debug}}
