{{> styles}}
<main id="content">
  {{>element-phase-tag}}
  <nav>
    <div class="breadcrumbs">
      <ol>
        <li><a href="/">Your services</a></li>
        <li><a href="/admin">admin</a></li>
      </ol>
    </div>
  </nav>
  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-xlarge">
        Permit Repository - Organisation {{orgId}} Licence Type {{typeId}}
      </h1>



        <ul class="list list-bullet">

        <table>
          <tr>
            <td>Licence Type ID</td>
            <td>type_fields_id</td>
            <td>sys_field_id</td>
            <td>alias</td>
            <td>field_definition</td>
            <td>is_req'd</td>
            <td>is_pd</td>
            <td>field_nm</td>
          </tr>
        {{#each data}}
        <tr><td>{{type_id}}</td></tr>
        {{#each this.attributedata}}

          <tr>
            <td>&nbsp;</td>
            <td>{{this.data.type_fields_id}}</td>
            <td>{{this.field_id}}</td>
            <td>{{this.type_field_alias}}</td>
            <td>{{stringify this.field_definition}}</td>
            <td>{{this.is_required}}</td>
            <td>{{this.is_public_domain}}</td>
            <td>{{this.field_nm}}</td>
          </tr>
          {{/each}}
          {{/each}}
        </table>
      </ul>



    </div>
  </div>
</main>
{{> footerjs}}
{{> debug}}
