{{> styles}}
{{> debug}}



<main id="content" role="main">



    <div class="phase-banner-alpha">
      <p>
      <strong class="phase-tag">ALPHA</strong>
    <span>This is an Alpha prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
            </div>
    <nav>
    <div class="breadcrumbs">
        <ol role="breadcrumbs">
          <li><a href="#">Your services</a></li>
        </ol>
    </nav>
 </div>

<div class="grid-row">
<div class="column-full">

  <h1 class="heading-xlarge">
    View my water resource licence online prototype: Alpha</h1>
    <h1>

<p>Prototype for Water abstraction licence online. Alpha sprint 5.</p>

</h1>
<h2 class="heading-medium">Prototype version 5</h2></div>

<div class="column-two-thirds">
  <ul class="list list-bullet">
    <li>
      <a href="/signin">
        Sign in
      </a>
    </li>
    <li>
      <a href="/licences">
        Abstraction licences
      </a>
    </li>
    <li>
      <a href="/online_licence?wid=1">
        Licence
      </a>
    </li>
    <li>
      <a href="/online_licence/terms?wid=1">
        Licence terms
      </a>
    </li>
    <li>
      <a href="/online_licence/contact_details?wid=1">
        Contact details
      </a>
    </li>
    <li>
      <a href="/sketch1?wid=4">
        One page licence
      </a>
    </li>

  </ul>
</div>

</div>
</main>
