{{> styles}}


<main id="content" role="main">



    <div class="phase-banner-alpha">
      <p>
      <strong class="phase-tag">ALPHA</strong>
    <span>This is an Alpha prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
            </div>
    <nav>
    <div class="breadcrumbs">
        <ol role="breadcrumbs">
          <li><a href="/">Your services</a></li>
        </ol>
    </nav>
 </div>

<div class="grid-row">
<div class="column-full">

  <h1 class="heading-xlarge">
    View my water resource licence online prototype: Alpha</h1>
    <h1>

<p>Server based prototype for Water abstraction licence online, based on Prototype version 5.</p>
<p>Please note that no authentication is currently in place and licences are served from static files rather than licence repository service.</p>
</h1>
<h2 class="heading-medium">Prototype version 5</h2></div>

<div class="column-two-thirds">
  <ul class="list list-bullet">
    <li>
      <a href="/signin">
        Sign in
      </a>
    </li>
    <li>
      <a href="/licences">
        Abstraction licences
      </a>
    </li>
    <li>
      <a href="/licences/1">
        Licence
      </a>
    </li>
    <li>
      <a href="/licences/1/terms">
        Licence terms
      </a>
    </li>
    <li>
      <a href="/licences/1/contact">
        Contact details
      </a>
    </li>
    <li>
      <a href="/licences/1/map_of_abstraction_point">
        Map
      </a>
    </li>

  </ul>
</div>

</div>
{{> debug}}


</main>
