{{> styles}}


<main id="content" role="main">



    <div class="phase-banner-alpha">
      <p>
      <strong class="phase-tag">ALPHA</strong>
    <span>This is an Alpha prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
            </div>
    <nav>
    <div class="breadcrumbs">
        <ol role="breadcrumbs">
          <li><a href="/">Your services</a></li>
          <li><a href="/licences">Abstraction licences</a></li>
          <li><a href="/licences/{{ licence_id }}">Licence number: {{ licenceData.LicenceSerialNo }}</a></li>
        </ol>
    </nav>
 </div>
 <a href="/v5/signin" class="sign-out2">Sign out</a>

    <h1 class="heading-large">{{ licenceData.LicenceName }} water abstraction licence</h1>
    <p></p>

  <p></p>
							<div class="sourceofsupplyq">Licence holder:</div> <div class="licenceAnswer">{{ licenceData.FirstName }} {{ licenceData.Surname }}</br>
              <a href="/licences/{{ licence_id }}/contact">Licence contact details</a></div>
              <p></p>
              <div class="sourceofsupplyq">Point of abstraction:</div> <div class="licenceAnswer">{{ licenceData.Pointofabstraction}}</br><a href="/licences/{{licence_id}}/map_of_abstraction_point">View map</a></div>
              <p></p>
              <div class="sourceofsupplyq">Licence effective from:</div> <div class="licenceAnswer">{{ licenceData.EffectiveDateStart }}</div>
              <p></p>
              <div class="sourceofsupplyq">Licensed until:</div> <div class="licenceAnswer">{{ licenceData.EffectiveDateend }}</div>
              <p></p>
              <div class="sourceofsupplyq">Source of supply:</div> <div class="licenceAnswer">{{ licenceData.SourceofSupply }}</div>
              <p></p>
              <div class="sourceofsupplyq">Period of abstraction:</div> <div class="licenceAnswer">{{ licenceData.PeriodofAbstraction }}</div>
              <p></p>
              <div class="sourceofsupplyq">Flow condition:</div> <div class="licenceAnswer">This licence has {{ licenceData.handsOffFlow }}<details>



  <summary><span class="summary">{{ licenceData.handsOffFlowHelp }}</span></summary>

  <div class="panel panel-border-narrow">


      <h3 class="heading-small">What is a flow condition?</h3>

      <p>A licence condition which applies to some water abstraction licences, to protect our water levels in times of low surface water supply.</p> <p>A flow condition will affect the licensed maximum amount you can abstract.</p>

  </div></div>

</details>

</br>
  </br>
  <div class="sourceofsupplyq">Maximum quantities before conditions:</div> <div class="licenceAnswer">{{ licenceData.MaximumQuantityofwatertobeabstracted }}</div>


</br>

              <p><a href="/licences/{{licence_id}}/terms">Read your full licence terms of use</a></p>

              <a href="/licences"><p></p>< Back to previous</a>





              {{> debug}}


</main>
