{{> styles}}




<main id="content" role="main">



    <div class="phase-banner-alpha">
      <p>
      <strong class="phase-tag">ALPHA</strong>
    <span>This is an Alpha prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
            </div>
    <nav>
    <div class="breadcrumbs">
        <ol role="breadcrumbs">
          <li><a href="/">Your services</a></li>
        </ol>
    </nav>
 </div>
  <div class="grid-row">
    <div class="column-two-thirds">




      <form action="/signin" method="post" class="form">

        <h1 class="form-title heading-large">
          Sign in to view your licence
        </h1>

        <!-- User id -->
        <div class="form-group">
          <label class="form-label-bold" for="user-id">User ID</label>
          <span class="form-hint">This is the 10 digit Customer ID which was sent to you in the post or by e-mail.</span>
          <input name="user_id" type="text" class="form-control" id="user-id">
        </div>

        <!-- Password -->
        <div class="form-group">
          <label class="form-label-bold" for="password">
            Password
            <span class="form-hint">
              This is the password which was sent to you in the post or by e-mail.
              <br>
              You will be asked to change your password on the first sign in.
            </span>
          </label>
          <input name="password" autocomplete=""type="text" class="form-control" id="password">
        </div>

        <input class="button" type="submit" value="Sign in"><p></p>


      </form>


      <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

            <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
              Prototype Note
            </h2>

            <p>
              The exact authentication mechanism is to be confirmed.
            </p>
            <p>
              The functionality above is for example only.
            </p>

            <ul class="error-summary-list">
              <li><a href="#example-personal-details"></a></li>
            </ul>

          </div>

    </div>
  </div>
{{> debug}}
</main>
