{% macro messageRow(message, isInternal) %}
<tr class="govuk-table__row">
  <td class="govuk-table__cell" scope="row">
    <a href="{{ '/admin' if isInternal }}/licences/{{ documentId }}/communications/{{ message.notificationId }}">
      {{ message.notificationType }}
    </a>
  </td>
  <td class="govuk-table__cell">
    {{ message.sent | date }}
  </td>
  {% if isInternal %}
  <td class="govuk-table__cell">
    {{ message.sender }}
  </td>
  {% endif %}
  <td class="govuk-table__cell">
    {{ message.messageType }}
  </td>
</tr>
{% endmacro %}

<h2 class="govuk-heading-m">Communications</h2>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Type</th>
      <th class="govuk-table__header" scope="col">Sent</th>
      {% if isInternal  %}
      <th class="govuk-table__header" scope="col">Sender</th>
      {% endif %}
      <th class="govuk-table__header" scope="col">Method</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for message in messages %}
      {{ messageRow(message, isInternal) }}
    {% endfor %}
  </tbody>
</table>
