{% extends "./nunjucks/layout.njk" %}
{% from "inset-text/macro.njk" import govukInsetText %}
{% from "forms/header.njk" import formHeader %}
{% from "forms/footer.njk" import formFooter %}
{% from "forms/widget.njk" import formWidget %}




{% block content %}

  {{ formErrorSummary(form) }}

  {{ title(pageTitle) }}

  <!-- Warning for ar_user if no permission to edit this document -->
  {% if flash == 'locked' %}
  {{ govukInsetText({
    text: "You do not have permission to edit this licence."
  }) }}
  {% endif %}

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m">{{ schema.title }} {{ schema.category }}</h2>

        {% set html = schema.description | boldARVariables %}

        {{ govukInsetText({
          html: html
        }) }}

      {{ formRender(form) }}
    </div>
  </div>



{% endblock %}
