{% extends "./nunjucks/layout.njk" %}
{% from "details/macro.njk" import govukDetails %}
{% from "table/macro.njk" import govukTable %}
{% from "inset-text/macro.njk" import govukInsetText %}

{% macro arComparisonTable(data) %}

  {% set options = data | mapARComparisonTable %}

  {{ govukTable(options) }}

{% endmacro %}


{% block content %}

  {{ formErrorSummary(form) }}

  <!-- Warning for ar_user if no permission to edit this document -->
  {% if flash == 'locked' %}
  {{ govukInsetText({
    text: "You do not have permission to edit this licence."
  }) }}
  {% endif %}

  <!-- Main title -->
  {% set subHeading %}Last edited {{ lastEdit.timestamp | date }}{% endset %}
  {{ title(licence.licence_data_value.LIC_NO, pageTitle, subHeading )}}

  <!-- Notes -->
  {% if data.notes.length %}
    {% set notes %}
      {% for note in data.notes %}
      <div>
        <p class="govuk-!-margin-bottom-0">{{ note.notes }}</p>
        <p class="govuk-caption-m">{{ note.user.email }}, {{ note.timestamp | date }}</p>
      </div>
      {% endfor %}
    {% endset %}

    {{ govukDetails({
  summaryText: "Notes about these edits",
  html: notes
    }) }}
  {% endif %}

  <!-- Main licence data  -->
  <h2 class="govuk-heading-m" id="licence">Licence data</h2>
  {% if canEdit %}
  <p>
    <a href="/admin/abstraction-reform/licence/{{ documentId }}/edit/licence/{{ data.licence.base.ID }}">Edit licence data</a>
  </p>
  {% endif %}
  {{ arComparisonTable(data.licence) }}

  <!-- Current licence version -->
  <h2 class="govuk-heading-m" id="version-{{ data.currentVersion.base.ISSUE_NO }}_{{ data.currentVersion.base.INCR_NO }}">Current licence version</h2>
  {% if canEdit %}
  <p>
    <a href="/admin/abstraction-reform/licence/{{ documentId }}/edit/version/{{ data.currentVersion.base.ISSUE_NO }}_{{ data.currentVersion.base.INCR_NO }}">Edit current licence version</a>
  </p>
  {% endif %}
  {{ arComparisonTable(data.currentVersion) }}

  <!-- Licence holder party -->
  <h2 class="govuk-heading-m" id="party-{{ data.party.base.ID }}">Licence holder party</h2>
  {% if canEdit %}
  <p>
    <a href="/admin/abstraction-reform/licence/{{ documentId }}/edit/party/{{ data.party.base.ID }}">Edit licence holder party</a>
  </p>
  {% endif %}
  {{ arComparisonTable(data.party) }}

  <!-- Licence holder address -->
  <h2 class="govuk-heading-m" id="address-{{ data.address.base.ID }}">Licence holder address</h2>
  {% if canEdit %}
  <p>
    <a href="/admin/abstraction-reform/licence/{{ documentId }}/edit/address/{{ data.address.base.ID }}">Edit licence holder address</a>
  </p>
  {% endif %}
  {{ arComparisonTable(data.address) }}

  <!-- Purposes -->
  {% for purpose in data.purposes %}
  <h2 id="purpose-{{ purpose.base.ID }}" class="govuk-heading-m">Purpose {{ purpose.base.ID }}</h2>
  {% if canEdit %}
  <p>
    <a href="/admin/abstraction-reform/licence/{{ documentId }}/edit/purpose/{{ purpose.base.ID }}">Edit this purpose</a>
  </p>
  {% endif %}
  {{ arComparisonTable(purpose) }}
  {% endfor %}


  {% for point in data.points %}
  <h2 id="point-{{ point.base.ID }}" class="govuk-heading-m">Point {{ point.base.ID }}</h2>
  {% if canEdit %}
  <p>
    <a href="/admin/abstraction-reform/licence/{{ documentId }}/edit/point/{{ point.base.ID }}">Edit this point</a>
  </p>
  {% endif %}
  {{ arComparisonTable(point) }}
  {% endfor %}

  {% for condition in data.conditions %}
  <h2 id="condition-{{ condition.base.ID }}" class="govuk-heading-m">Condition {{ condition.base.ID }}</h2>
  {% if canEdit %}
  <p>
    <a href="/admin/abstraction-reform/licence/{{ documentId }}/edit/condition/{{ condition.base.ID }}">Edit this condition</a>
  </p>
  {% endif %}
  {{ arComparisonTable(condition) }}
  {% endfor %}


  <h2 class="govuk-heading-m">Further conditions</h2>


  {% if data.arData %}
    {% for item in data.arData %}
    <div class="govuk-grid-row" id="{{ item.id }}">
      <div class="govuk-grid-column-one-third">
      <p>{{ item.title }}</p>

      <ul class="govuk-list">
        <li><a  class="govuk-link" href="/admin/abstraction-reform/licence/{{ documentId }}/edit-data/{{ item.id }}#">Change this condition</a></li>

        <!--
        <li><a  class="govuk-link" href="/admin/abstraction-reform/licence/{{ documentId }}/delete/{{ item.id }}#">Remove this condition</a></li>
      -->
      </ul>

      </div>
      <div class="govuk-grid-column-two-thirds">
        <p>{{ item.description | ARConditionDescription(item.data) | safe }}</p>
      </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">
    {% endfor %}
  {% else %}
  <p>No further conditions.</p>
  {% endif %}

  <p>
    <a href="/admin/abstraction-reform/licence/{{ documentId }}/select-schema">Add a condition</a>
  </p>

  <div class="govuk-grid-row">
     <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">Workflow</h3>
        {{ formRender(form) }}
      </div>
  </div>

{% endblock %}
