{{> styles}}

<main id="content" tabindex="-1">
  {{>element-phase-tag}}{{>element-main-nav}}

  <h1 class="heading-large">{{ pageTitle }}</h1>


  {{# equal returns.length 0 }}
  <p>No returns found.</p>
  {{/equal}}

  {{# each returns }}
  <div class="grid-row">
    <div class="column-full">
      <h2 class="heading-medium">{{ year }}</h2>


      <div class="table big-space">                                          <!-- a table -->


          <div class="table-row table-head">                                      <!-- the table head -->
            <div class="table-cell bold-small column-33">
              Licence
            </div>
            <div class="table-cell bold-small">
              Purpose
            </div>
            <div class="table-cell bold-small">
              Site description
            </div>
            <div class="table-cell bold-small column-15">
              Status
            </div>
          </div>

          {{#each returns }}
          <div class="table-row medium-space {{# if isClickable }}clickable{{/if }}">                                    <!-- a data row starts -->
            <div class="table-cell">
              <h3 class="context">
                Licence
              </h3>


              {{#if isReceivedOrInternalVoid }}
              <a href="{{#if ../../isAdmin}}/admin{{/if}}/returns/return?id={{ return_id }}">
                <span class="sr-only">View return from </span>
              {{else}}
                {{#if isEditable }}
                <a href="{{#if ../../isAdmin}}/admin/return/internal{{else}}/return{{/if}}?returnId={{ return_id }}">
                  <span class="sr-only">Edit return from </span>
                {{/if}}
              {{/if}}

              {{#if licenceName }}
              {{ licenceName }}
              {{else}}
              {{ licence_ref }}
              {{/if}}


              <span class="sr-only">for
                {{#each metadata.purposes }}
                {{ tertiary.description }}
                {{/each }}

                at {{ titleCase metadata.description }}

                {{# equal received_date null }}
                  - return due
                {{/equal}}
               </span>

               {{#if isClickable }}
              </a>
              {{/if}}

            </div>
            <div class="table-cell">
              <h4 class="context">
                Purpose
              </h4>
              {{#each metadata.purposes }}
              {{titleCase alias}}
              {{#unless alias}}{{titleCase tertiary.description}}{{/unless}}
              {{/each }}
            </div>
            <div class="table-cell">
              <h4 class="context">
                Site description
              </h4>
              <span class="truncate">
              {{{ titleCase metadata.description  }}}
              </span>
            </div>
            <div class="table-cell">
              <h4 class="context">Status</h4>
              {{> return-due-badge}}
            </div>
          </div>
          {{/each}}

        </div>
    </div>
  </div>
  {{/each}}

  {{{ pagination pagination url='/returns' }}}

</main>

{{> footerjs}}
{{> debug}}
