{{> styles}}

<main id="content" tabindex="-1">
  {{>element-phase-tag}}{{>element-main-nav}}

  <a data-no-js class="link-back link-back--space-above" href="{{#if isAdmin }}/admin{{/if}}/licences/{{ document.document_id }}">Licence number {{ document.system_external_id }}</a>

  {{#if document.document_name }}
  <h1 class="heading-large heading-large--tight-above">
    <span class="heading-secondary">Licence number {{ document.system_external_id }}</span>
    Returns for {{ document.document_name }}
  </h1>
  {{else}}
  <h1 class="heading-large heading-large--tight-above">Returns for licence number {{ document.system_external_id }}</h1>
  {{/if}}

  {{# equal returns.length 0 }}
  <p>No returns found.</p>
  {{ else }}

  <div class="grid-row">
    <div class="column-full">
      <div class="table big-space">                                          <!-- a table -->
          <div class="table-row table-head">                                      <!-- the table head -->
            <div class="table-cell bold-small">
              Return period
            </div>
            <div class="table-cell bold-small">
              Purpose
            </div>
            <div class="table-cell bold-small">
              Site description
            </div>
            <div class="table-cell bold-small column-15">
              Status
            </div>
          </div>

        {{# each returns }}
          {{#each returns }}
          <div class="table-row medium-space {{# if isClickable }}clickable{{/if }}">                                    <!-- a data row starts -->

            <div class="table-cell">
              <h4 class="context">
                Return period
              </h4>

              {{#if isReceived }}
              <a href="{{#if ../../isAdmin}}/admin{{/if}}/returns/return?id={{ return_id }}">
                <span class="sr-only">View return from </span>
              {{else}}
                {{#if isEditable }}
                <a href="{{#if ../../isAdmin}}/admin/return/internal{{else}}/return{{/if}}?returnId={{ return_id }}">
                  <span class="sr-only">Edit return from </span>
                {{/if}}
              {{/if}}

              {{# isFirstDayOfMonth start_date }}
                {{ formatISODate start_date format='MMMM YYYY' }}
              {{else}}
                {{ formatISODate start_date }}
              {{/isFirstDayOfMonth }}

              to

              {{# isLastDayOfMonth end_date }}
                {{ formatISODate end_date format='MMMM YYYY' }}
              {{else}}
                {{ formatISODate end_date }}
              {{/isLastDayOfMonth }}


              {{#if isClickable }}
                <span class="sr-only">for
                  {{#each metadata.purposes }}
                  {{titleCase alias}}
                  {{#unless alias}}{{titleCase tertiary.description}}{{/unless}}
                  {{/each }}
                  at {{{ titleCase metadata.description  }}}
                 </span>
              </a>
              {{/if}}

            </div>

            <div class="table-cell">
              <h4 class="context">
                Purpose
              </h4>
              {{#each metadata.purposes }}
              {{titleCase alias}}
              {{#unless alias}}{{titleCase tertiary.description}}{{/unless}}
              {{/each }}
            </div>
            <div class="table-cell">
              <h4 class="context">
                Site description
              </h4>
              <span class="truncate">
              {{{ titleCase metadata.description  }}}
              </span>
            </div>
            <div class="table-cell">
              <h4 class="context">Status</h4>
              {{> return-due-badge }}
            </div>
          </div>
          {{/each}}
        {{/each}}

      </div>
    </div>
  </div>

  {{/equal}}

  {{{ pagination pagination url=paginationUrl }}}

</main>

{{> footerjs}}
{{> debug}}
