{{> styles}}
<main id="content" tabindex="-1">
  {{>element-phase-tag}}
  {{>element-main-nav}}

  <a data-no-js href="{{ back }}" class="link-back link-back--space-above">Back</a>

  {{>form-errors form }}

  {{>return-header }}

  <h2 class="heading-medium">Tell us about your meter</h2>

  {{>form-header form }}

    {{>form-widget form.fields.[0] form=form}}
    {{>form-widget form.fields.[1] form=form}}
    {{>form-widget form.fields.[2] form=form}}

    <p class="text">
      Some meters are marked with ×10. You should enter the actual figure
      that you see on the display. You do not need to multiply the volume by 10.
    </p>

    {{>form-widget form.fields.[3] form=form}}
    {{>form-widget form.fields.[4] form=form}}
    {{>form-widget form.fields.[5] form=form}}

  {{>form-footer }}
</main>

{{> footerjs}}
{{> debug}}
