{{> styles}}
<main id="content" tabindex="-1">
  {{>element-phase-tag}}{{>element-main-nav}}

  {{#ifNot return.isCurrent }}
  <br />
  <br />
  <div class="grid-row">
      <div class="column-two-thirds">

        <div class="banner bold-medium">
          <div class="notice">
            <i class="icon icon-important">
              <span class="visually-hidden">Warning</span>
            </i>
            <strong class="bold-small">
              This return is not the current version<br>
              <a href="/admin/returns/return?id={{ return.returnId }}">View the current return</a>
            </strong>
          </div>
        </div>

      </div>
    </div>
  {{/ifNot }}


  {{>return-header}}


  {{# if return.isNil }}
    <h2 class="heading-large">Nil return</h2>
  {{else}}
    <h2 class="heading-medium">Abstraction volumes</h2>
  {{/if}}

  {{#if canEdit }}
  <a class="button" href="/admin/return?returnId={{ return.returnId }}">Edit return</a>
  <br />
  <br />
  {{/if}}

  {{#ifNot isAdmin }}

  <details role="group">
    <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">Do you need to make a change to a submitted return?</span></summary>
    <div id="details-content-0" aria-hidden="true">
        {{>contact-details}}
    </div>
  </details>

  {{/ifNot}}

  {{#ifNot return.isNil }}
    {{>return-quantities-table }}
  {{/ifNot}}



  {{#if showVersions }}

    <br /><br />
    <h3 class="heading-medium">Submitted by</h3>

    {{#eachReverse return.versions }}

      {{#equal versionNumber ../return.versionNumber }}
          <div class="panel panel-border-wide this-version version clickable">
            <p class="version spaceless selected clickable">
              <span class="sr-only">This version</span>
              {{ email }}<br>
              {{ formatISODate createdAt }}<br>
            </p>
          </div>
      {{else}}
      <div class="version clickable">
              <p class="spaceless">
                {{ email }}<br>
                <a href="{{#if ../isAdmin}}/admin{{/if}}/returns/return?id={{ ../return.returnId }}&amp;version={{ versionNumber }}">{{ formatISODate createdAt }}</a><br>
              </p>
            </div>
      {{/equal}}

    {{/eachReverse}}
  {{/if}}

</main>


{{> footerjs}}


{{> debug}}
