{{> styles}}
<main id="content" tabindex="-1">
  {{>element-phase-tag}}{{>element-main-nav}}

  {{#if documentHeader.document_name }}
  <h1 class="heading-large">
      <span class="heading-secondary">{{ pageTitle }}</span>
      {{ documentHeader.document_name }}
    </h1>
  {{else}}
  <h1 class="heading-large">{{ pageTitle }}</h1>
  {{/if}}



  <dl class="meta">
        <dt class="meta__label">
          Site description
        </dt>
        <dd class="meta__description">
          {{ return.metadata.description }}
        </dd>
        <dt class="meta__label">
          Purpose
        </dt>
        <dd class="meta__description">
          {{#each return.metadata.purposes }}
            {{ tertiary.description }}
          {{/each}}
        </dd>
        <dt class="meta__label">
          Return period
        </dt>
        <dd class="meta__description">
          {{ formatISODate return.start_date }} to {{ formatISODate return.end_date }}
        </dd>
      </dl>

      <br />
  <p>
    <a href="/licences/{{ documentHeader.document_id }}">View this licence</a>
  </p>
  <br />

  <h2 class="heading-medium">Abstraction amounts</h2>


    <details role="group">
          <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">Do you need to make a change to a submitted return?</span></summary>
          <div id="details-content-0" aria-hidden="true">
            {{>contact-details}}
          </div>
        </details>



  {{#equal unit 'm³'}}
  <div class="grid-row">
  <div class="column-two-thirds">
  {{/equal}}

  <table>
    <thead>
      <tr>
        <th>
          {{#equal return.returns_frequency 'daily' }}Day{{/equal}}
          {{#equal return.returns_frequency 'monthly' }}Month{{/equal}}
          {{#equal return.returns_frequency 'annual' }}Week{{/equal}}
        </th>
        <th class="numeric">
          {{#equal unit 'm³' }}
            Cubic metres
          {{/equal}}
          {{#equal unit 'gal' }}
            Gallons
          {{/equal}}
        </th>
        {{#equal unit 'gal'}}
        <th class="numeric">
           Cubic metres
        </th>
        {{/equal}}
      </tr>
    </thead>
    <tbody>
  {{# each lines }}
  <tr>
      <td>
        {{#equal ../return.returns_frequency 'daily' }}
          {{ formatISODate start_date format='D MMMM YYYY' }}
        {{/equal}}
        {{#equal ../return.returns_frequency 'monthly' }}
          {{ formatISODate start_date format='MMMM YYYY' }}
        {{/equal}}
        {{#equal ../return.returns_frequency 'annual' }}
          {{ formatISODate start_date format='YYYY' }}
        {{/equal}}
      </td>
      <td class="numeric">{{{ commaNumber quantity }}}</td>

      {{#equal unit 'gal'}}
      <th class="numeric">
         {{{ commaNumber (precision (gallonsToCubicMetres quantity) 3) }}}
      </th>
      {{/equal}}
  </tr>
  {{/each}}
    </tbody>
  </table>

  {{#equal unit 'm³'}}
  </div>
  </div>
  {{/equal}}

</main>


{{> footerjs}}


{{> debug}}
