.badge {

  font-family: "nta", Arial, sans-serif;
  @include govuk-font($size: 19);

  display: inline-block;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  padding: 3px 7px 1px 7px;
  vertical-align: middle;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: govuk-colour("blue");
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: govuk-colour("blue");

  @include govuk-media-query($until: tablet) {
    padding-bottom:  3px;
  }
}

.badge--error {
  border-color: govuk-colour("red");
  color: govuk-colour("red");
}

.badge--dark {
  border-color: $govuk-text-colour;
  color: $govuk-text-colour;
}

.badge--no-wrap {
  white-space: nowrap;
}

.badge--warning {
  border-color: #b65929;
  color: #b65929;
}

.badge--success {
  border-color: govuk-colour("green");
  color: govuk-colour("green");
}

.badge--large {
  @include govuk-font($size: 27);
  font-weight: bold;
  border-width: 2px;
  border-radius: 4px;
}