.company-switcher {
  // @include govuk-font($size: 16);
  border-bottom: 1px solid #bfc1c3;

  @media (min-width: 768px) {
    font-size: 19px;
  }

  padding: 15px 0;
}

.company-switcher b {
  font-weight: 700;
}


.company-switcher__link {
  margin-left: 1rem;
}
