
.small-space {
  margin-bottom: 15px;
}
.medium-space {
  margin-bottom: 30px;
}
.big-space {
  margin-bottom: 45px;
}

.clustered {
  margin-bottom: 0;
}

.spaceless {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
