// Task list pattern
// Source https://govuk-prototype-kit.herokuapp.com/docs/templates/task-list
.task-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  @include govuk-media-query($from: tablet) {
    min-width: 550px;
  }
}

.task-list__section {
  display: table;
  @include govuk-font($size:24, $weight: bold);
}

.task-list__section-number {
  display: table-cell;

  @include govuk-media-query($from: tablet) {
    min-width: govuk-spacing(6);
    padding-right: 0;
  }
}

.task-list__items {
  @include govuk-font($size: 19);
  @include govuk-responsive-margin(9, "bottom");
  list-style: none;
  padding-left: 0;
  @include govuk-media-query($from: tablet) {
    padding-left: govuk-spacing(6);
  }
}

.task-list__item {
  border-bottom: 1px solid $govuk-border-colour;
  margin-bottom: 0 !important;
  padding-top: govuk-spacing(2);
  padding-bottom: govuk-spacing(2);
  @include govuk-clearfix;
}

.task-list__item:first-child {
  border-top: 1px solid $govuk-border-colour;
}

.task-list__task-name {
  display: block;
  @include govuk-media-query($from: 450px) {
    float: left;
  }
}

.task-list__task-badge {
  margin-top: govuk-spacing(2);
  margin-bottom: govuk-spacing(1);

  @include govuk-media-query($from: 450px) {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
  }
}
