{% extends "./nunjucks/layout.njk" %}
{% from "crm/invoice-address.njk" import invoiceAddress %}
{% from "forms/index.njk" import formRender %}

{% block content %}
 
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
       {{ title(pageTitle, caption) }}

      <section>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Reissue from
            </dt>
            <dd class="govuk-summary-list__value">
              {{ fromDate | date }}
            </dd>
            <dd class="govuk-summary-list__actions ">
              <a class="govuk-link" href="{{ links.changeDate }}">
                Change
                <span class="govuk-visually-hidden">date</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row ">
            <dt class="govuk-summary-list__key">
              Bills
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list">
              {% for bill in bills %}
              <li>{{ bill.invoiceNumber }}</li>
              {% endfor %}
              </ul>
            </dd>
            <dd class="govuk-summary-list__actions ">
              <a class="govuk-link" href="{{ links.selectBills }}">
                Change<span class="govuk-visually-hidden">
                  bills</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row govuk-summary-list__row--last">
            <dt class="govuk-summary-list__key">
              Billing address
            </dt>
            <dd class="govuk-summary-list__value">
              {{ invoiceAddress(currentAddress, billingAccount.company) }}
            </dd>
            <dd class="govuk-summary-list__actions ">
              Last updated:
              <br />{{ currentAddress.dateRange.startDate | date }}
            </dd>
          </div>
        </dl>
      </section>

      {{ formRender(form) }}
    </div>
  </div>

{% endblock %}
