{% extends "./nunjucks/layout.njk" %}
{% from "title.njk" import title %}
{% from "crm/invoice-address.njk" import invoiceAddress %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "./nunjucks/billing-accounts/macros/bills-table.njk" import billsTable %}
{% from "paginate.njk" import paginate %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {{ title(pageTitle, caption) }}

    {{ billsTable(bills, null, useNewBillView) }}

    {{ paginate(pagination, path)}}
  </div>
</div>

{% endblock %}
