{% extends "./nunjucks/layout.njk" %}
{% from "title.njk" import title %}
{% from "crm/invoice-address.njk" import invoiceAddress %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from 'nunjucks/billing/macros/invoices-table.njk' import invoiceLink, dateCreatedCell, batchTypeCell, billRunNumberCell, financialYearFromInvoiceCell, amountCell %}

{% macro tableHeader() %}
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Bill number</th>
      <th class="govuk-table__header" scope="col">Date created</th>
      <th class="govuk-table__header" scope="col">Bill run type</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Bill run number</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Financial year</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Bill total</th>
    </tr>
  </thead>
{% endmacro %}

{% macro tableRow(bill) %}
  {% set row = { invoice : bill, batch: bill.batch } %}

  <tr class="govuk-table__row">
      {{ invoiceLink(row) }}
      {{ dateCreatedCell(row) }}
      {{ batchTypeCell(bill.batch) }}
      {{ billRunNumberCell(bill.batch) }}
      {{ financialYearFromInvoiceCell(bill) }}
      {{ amountCell(bill) }}
  </tr>
{% endmacro %}


{% block content %}
  {{ title(pageTitle, caption) }}

  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m">
        Billing address
      </h2>

      <p class="govuk-body">
        {{ invoiceAddress(currentAddress, billingAccount.company) }}
      </p>

      {{ govukButton({ 
        text : 'Change address', 
        classes: 'govuk-button--secondary', 
        href: changeAddressLink 
      }) }}

    </div>
  </div>



{% if bills.length %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <table class="govuk-table">
    {% if caption %}
      <caption class="govuk-table__caption govuk-heading-l">
        Bills
      </caption>
    {% endif %}
      {{ tableHeader() }}
      <tbody class="govuk-table__body">
        {% for bill in bills %}
          {{ tableRow(bill) }}
        {% endfor %}
      </tbody>
    </table>

    {% if moreBillsLink %}
    <p>
      <a href="{{ moreBillsLink }}">View all bills 
    </p>
    {% endif %}
  </div>
</div>

{% endif %}
  
{% endblock %}
