{% extends "./nunjucks/layout.njk" %}
{% from "title.njk" import title %}
{% from "crm/invoice-address.njk" import invoiceAddress %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "./nunjucks/billing-accounts/macros/bills-table.njk" import billsTable %}

{% block content %}
  {{ title(pageTitle, caption) }}

  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">

      {{ govukDetails({
        summaryText: "Billing account details",
        html: '<dl class="govuk-summary-list govuk-summary-list--no-border">'+metadataHtml+'</dl>'
      }) }}

      <h2 class="govuk-heading-m">
        Billing address
      </h2>

      <p class="govuk-body">
        {{ invoiceAddress(currentAddress, billingAccount.company) }}
      </p>

      {{ govukButton({
        text : 'Change address',
        classes: 'govuk-button--secondary',
        href: changeAddressLink
      }) }}

    </div>
  </div>



{% if bills.length %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {{ billsTable(bills, "Sent bills", useNewBillView) }}

    {% if moreBillsLink %}
    <p>
      <a href="{{ moreBillsLink }}">View all sent bills </a>
    </p>
    {% endif %}


    <p>
    {% if rebillable %}
      {{ govukButton({
        text: "Reissue a bill",
        href: rebillingLink,
        classes: "govuk-button--secondary"
      }) }}
    {% else %}
      The sent bills were created in NALD. You cannot reissue these bills in the service.
    {% endif %}
    </p>


  </div>
</div>

{% endif %}

{% endblock %}
