{{> styles}}
<main id="content" tabindex="-1">
  {{>element-phase-tag}}
  {{>element-main-nav}}

  <a class="link-back" href="/start">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">{{ pageTitle }}</h1>
      <p>This will be visible to your public contacts</p>

      {{#if error }}
        <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
          {{> error-summary-heading description="The email address entered is not valid" id="error-summary-heading" }}
          <ul class="error-summary-list">
            {{>error-summary-link hasError=error.contactEmail
              id="contact-email" message="Enter a valid email"}}
          </ul>
        </div>
      {{/if}}

      <form novalidate action="/contact-information" method="post" class="form">
        <input name="csrf_token" type="hidden" value="{{ csrfToken }}" />
        {{>contact-details-name-and-role}}
{{>contact-details-addresses}}
        <button class="button">Update</button>
      </form>
    </div>
  </div>
</main>
