{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "./nunjucks/layout.njk" %}

{% macro cycleHeader() %}
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Period</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Returns due</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Licences</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Monthly</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Weekly</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Daily</th>
      <th class="govuk-table__header" scope="col">Actions</th>
      <th class="govuk-table__header"></th>
    </tr>
  </thead>
{% endmacro %}

{% macro cycleRow(cycle) %}

  {% set dateRange %}
  {{ cycle.startDate | date }}
  to
  {{ cycle.endDate | date }}
  {% endset %}

  <tr class="govuk-table__row">
    <td class="govuk-table__cell">{{ dateRange }}</td>
    <td class="govuk-table__cell govuk-table__cell--numeric">{{ cycle.dueCount }}</td>
    <td class="govuk-table__cell govuk-table__cell--numeric">{{ cycle.uniqueLicenceCount }}</td>
    <td class="govuk-table__cell govuk-table__cell--numeric">{{ cycle.monthlyCount }}</td>
    <td class="govuk-table__cell govuk-table__cell--numeric">{{ cycle.weeklyCount }}</td>
    <td class="govuk-table__cell govuk-table__cell--numeric">{{ cycle.dailyCount }}</td>
    <td class="govuk-table__cell" scope="col">
      <a href="{{ cycle.link }}">
        Download
        <span class="govuk-visually-hidden">{{ dateRange }}</span>
        report
      </a>
    </td>
  </tr>
{% endmacro %}

{% block content %}
  {{ title(pageTitle) }}

  <h2 class="govuk-heading-m">Current cycle</h2>

  <table class="govuk-table">
    <!-- a table -->
    {{ cycleHeader() }}
    <tbody>
      {{ cycleRow(currentCycle) }}
    </tbody>
  </table>

  {% if cycles.length %}
    <h2 class="govuk-heading-m">Previous cycles</h2>

    <table class="govuk-table">
      {{ cycleHeader() }}
      <tbody>
        {% for cycle in cycles %}
          {{ cycleRow(cycle) }}
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}
