{% extends "./nunjucks/layout.njk" %}
{% from "./tabs/macro.njk" import govukTabs %}
{% from "badge.njk" import badge %}
{% from "nunjucks/view-licences/macros/ended-licence-warning.njk" import endedLicenceWarning %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if not primaryUser %}
        {{ title(licence.licenceNumber, 'Unregistered licence') }}
      {% else %}
        {{ title('Licence number ' + licence.licenceNumber, licence.documentName ) }}
      {% endif %}
    </div>
  </div>

  {{ endedLicenceWarning(licence.expiryReason, licence.expiryDate) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if primaryUser %}
        <p>Registered to <a href="/user/{{primaryUser.userId}}/status">{{primaryUser.userName}}</a></p>
      {% endif %}

      {% if (returns.length > 0 or communications.length > 0 or (showChargeVersions and chargeVersions.length > 0)) %}
        <div class="govuk-tabs" data-module="tabs">
          <h2 class="govuk-tabs__title">Contents</h2>
          <ul class="govuk-tabs__list">
            {% if returns.length > 0 %}
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#returns">Returns</a>
              </li>
            {% endif %}

            {% if communications.length > 0 %}
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#communications">Communications</a>
              </li>
            {% endif %}

            {% if (showChargeVersions and chargeVersions.length > 0) %}
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#charge">Charge</a>
              </li>
            {% endif %}
          </ul>

          {% if returns.length > 0 %}
            <section class="govuk-tabs__panel" id="returns">
              {% include "nunjucks/view-licences/tabs/returns.njk" %}
            </section>
          {% endif %}

          {% if communications.length > 0 %}
            <section class="govuk-tabs__panel" id="communications">
              {% include "nunjucks/view-licences/tabs/communications.njk" %}
            </section>
          {% endif %}

          {% if (showChargeVersions and chargeVersions.length > 0) %}
            <section class="govuk-tabs__panel" id="charge">
              {% include "nunjucks/view-licences/tabs/charge.njk" %}
            </section>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
