{% extends "./nunjucks/layout.njk" %}
{% from "./tabs/macro.njk" import govukTabs %}
{% from "nunjucks/view-licences/macros/verifications-alert.njk" import verificationsAlert %}
{% from "badge.njk" import badge %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {{ verificationsAlert(verifications) }}

      {% if not primaryUser %}
        {{ title(summary.licenceNumber, 'Unregistered licence') }}
      {% else %}
        {{ title('Licence number ' + summary.licenceNumber, summary.documentName ) }}
      {% endif %}

      {% if primaryUser %}
        <p>Registered to <a href="/user/{{primaryUser.userId}}/status">{{primaryUser.userName}}</a></p>
      {% endif %}

      <div class="govuk-tabs" data-module="tabs">
        <h2 class="govuk-tabs__title">Contents</h2>

        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#summary">
              Summary
            </a>
          </li>

          {% if returns.length %}
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#returns">Returns</a>
            </li>
          {% endif %}

          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#communications">Communications</a>
          </li>

          {% if showChargeVersions %}
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#charge">Charge</a>
            </li>
          {% endif %}
        </ul>

        <section class="govuk-tabs__panel" id="summary">
          {% include "nunjucks/view-licences/tabs/summary.njk" %}
        </section>

        {% if returns.length %}
          <section class="govuk-tabs__panel" id="returns">
            {% include "nunjucks/view-licences/tabs/returns.njk" %}
          </section>
        {% endif %}

        <section class="govuk-tabs__panel" id="communications">
          {% include "nunjucks/view-licences/tabs/communications.njk" %}
        </section>

        {% if showChargeVersions %}
          <section class="govuk-tabs__panel" id="charge">
            {% include "nunjucks/view-licences/tabs/charge.njk" %}
          </section>
        {% endif %}

      </div>
    </div>
  </div>
{% endblock %}
