{% extends "./nunjucks/layout.njk" %}
{% from "summary-list/macro.njk" import govukSummaryList %}

{% block content %}

  {% if crmData.document_name%}
    {% set licenceName %} Abstraction points for {{crmData.document_name}}{% endset %}
    {{ title(licenceName, pageTitle) }}
  {% else %}
    {{ title(pageTitle) }}
  {% endif %}

  {% for point in licenceData.points %}

  {% set gridReference %} {{ point | ngrPoints(point) }} {% endset %}

  {% set meansOfAbstraction %} {{ point.meansOfAbstraction }} {% endset %}

    <h3 class="govuk-heading-m">{{ point.name }}</h3>

    <hr class="govuk-section-break govuk-section-break--visible">
    {{ govukSummaryList({
      rows: [{
          key: {
            text: "Grid reference",
            classes:"govuk-!-font-weight-regular"
          },
          value: {
            text: gridReference
          }
        },
        {
          key: {
            text: "Means of abstraction",
            classes:"govuk-!-font-weight-regular"
          },
          value: {
            html: meansOfAbstraction
          }
        }]
    }) }}

  {% endfor %}

{% endblock %}
