.badge {

  font-family: "nta", Arial, sans-serif;
  @include govuk-font($size: 19);

  min-width: 4rem;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  padding: 5px 7px 1px 7px;
  vertical-align: middle;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: govuk-colour("white");
  border-radius: 2px;

  @include govuk-media-query($until: tablet) {
    padding-bottom:  3px;
  }
}

.badge--error {
  border: 1px solid $govuk-error-colour;
  color: $govuk-error-colour;
}

.badge--success {
  border: 1px solid govuk-colour("green");
  color: govuk-colour("green");
}

.badge--completed {
  border: 1px solid $govuk-link-colour;
  color: $govuk-link-colour;
}

.badge--void {
  border: 1px solid #b10e1e;
  color: #b10e1e;
}

.badge--info {
  border: 1px solid #6f777b;
  color: #6f777b;
}

.badge--no-wrap {
  white-space: nowrap;
}
