.badge {

  font-family: "nta", Arial, sans-serif;
  @include govuk-font($size: 16);

  min-width: 4rem;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  padding: 5px 7px 1px 7px;
  vertical-align: middle;
  background: $govuk-link-colour;
  letter-spacing: 1px;
  color: govuk-colour("white");

  @include govuk-media-query($until: tablet) {
    padding-bottom:  3px;
  }
}

.badge--error {
  background: $govuk-error-colour;
}

.badge--success {
  background:  govuk-colour("green");
}

.badge--completed {
  background: $govuk-link-colour;
}

.badge--void {
  background: #b10e1e;
}

.badge--info {
  background: #6f777b;
}

.badge--caps {
  text-transform: uppercase;
}

.badge--no-wrap {
  white-space: nowrap;
}
