{% extends "./nunjucks/layout.njk" %}
{% from "sort-icon.njk" import sortIcon %}
{% from "badge.njk" import badge %}
{% from "paginate.njk" import paginate %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  {{ title(pageTitle) }}

<table class="govuk-table">
<caption class="govuk-table__caption govuk-table__caption--m govuk-!-margin-bottom-0">

  <div class="govuk-!-margin-bottom-3"> View sent notices </div>

  <p class="govuk-body">Select notice type for more details.</p>

</caption>
</table>

{% if not filter %}
  {% set filter = [] %}
{% endif %}

{% set filterHTML %}

  <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Filter By</h2>
  {{ govukCheckboxes({
    idPrefix: "filter",
    name: "filter",
    fieldset: {
      legend: {
        text: "Notification type",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [
      {
        value: "notification_letter",
        text: "Returns: send paper forms",
        checked: filter.includes("notification_letter")
      },
      {
        value: "returns_invitation_letter",
        text: "Returns: invitation",
        checked: filter.includes("returns_invitation_letter")
      },
      {
        value: "returns_final_reminder",
        text: "Returns: reminder",
        checked: filter.includes("returns_final_reminder")
      },
      {
        value: "expiry_notification_email",
        text: "Expiring licence(s): invitation to renew",
        checked: filter.includes("expiry_notification_email")
      },
      {
        value: "water_abstraction_alert_reduce_warning",
        text: "Hands off flow: levels warning",
        checked: filter.includes("water_abstraction_alert_reduce_warning")
      },
      {
        value: "water_abstraction_alert_reduce_or_stop_warning",
        text: "Hands off flow: stop or reduce abstraction",
        checked: filter.includes("water_abstraction_alert_reduce_or_stop_warning")
      },
      {
        value: "water_abstraction_alert_resume",
        text: "Hands off flow: resume abstraction",
        checked: filter.includes("water_abstraction_alert_resume")
      },

      {
        value: "water_abstraction_alert_reduce",
        text: "Hands off flow: reduce abstraction warning",
        checked: filter.includes("water_abstraction_alert_reduce")
      },
      {
        value: "water_abstraction_alert_stop",
        text: "Hands off flow: stop abstraction",
        checked: filter.includes("water_abstraction_alert_stop")
      },
      {
        value: "water_abstraction_alert_stop_warning",
        text: "Hands off flow: stop abstraction warning",
        checked: filter.includes("water_abstraction_alert_stop_warning")
      }
    ]
  }) }}

  {{ govukInput({
    label: {
      html: "<strong>Sent by</strong>"
    },
    classes: "govuk-!-width-one-third",
    id: "sentBy",
    name: "sentBy",
    value: sentBy
  }) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Apply filters"
    }) }}

    {{ govukButton({
      text: "Clear filters",
      classes: "govuk-button--secondary",
      href: '/notifications/report#focus'
    }) }}
  </div>

{% endset %}


<form action novalidate>

{{ govukDetails({
  summaryText: "Filters",
  html: filterHTML,
  open: ((filter.length > 0) or (sentBy.length > 0))
}) }}

</form>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if events.length == 0 %}
      <table class="govuk-table" id="focus>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="col">
            No notifications found
            </td>
          </tr>
        </thead>
      </table>
      {% else %}

      <table class="govuk-table" id="focus>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">
              Date
            </th>
            <th class="govuk-table__header" scope="col">
              Notification
            </th>
            <th class="govuk-table__header" scope="col">
              Sent by
            </th>
            <th class="govuk-table__header" scope="col">
              Recipients
            </th>
            <th class="govuk-table__header" scope="col">
              Problems
            </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for event in events %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">{{ event.created | date}}</td>
              <td class="govuk-table__cell">
                <a href="/notifications/report/{{ event.id }}">
                  {{ event.name }}
                  <span class="govuk-visually-hidden">
                    reference
                    {{ event.referenceCode }}
                  </span>
                </a>
              </td>
              <td class="govuk-table__cell">{{ event.issuer }}</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">{{ event.recipientCount }}</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                {% if event.errorCount %}
                  {{ badge(event.errorCount, 'error') }}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}

      {{ paginate(pagination, '/notifications/report') }}
    </div>
  </div>
{% endblock %}
