{% macro point(point) %}
  {% if point.ngr4 %}
  Within the area formed by the straight lines running between National Grid References
  {{ point.ngr1 }}, {{ point.ngr2 }}, {{ point.ngr3 }} and {{ point.ngr4 }}
  {% elif point.ngr2 %}
  Between National Grid References
  {{ point.ngr1 }} and {{ point.ngr2 }}
  {% elif point.ngr1 %}
  At National Grid Reference {{ point.ngr1 }}
  {% endif %}
  {% if point.name %} ({{ point.name }}){% endif %}
{% endmacro %}
