{% from "panel/macro.njk" import govukPanel %}
{% extends "./nunjucks/layout.njk" %}




{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set html %}Your reference number<br ><strong>{{ event.reference_code }}</strong>{% endset %}

      {{ govukPanel({
        titleText: pageTitle,
        html: html
      }) }}

      <p>
        <a href="/admin/notifications/report/{{ event.event_id }}">View report</a>
      </p>

    </div>
  </div>


  {{ formRender(form) }}

{% endblock %}
