{% from "button/macro.njk" import govukButton %}
{% extends "./nunjucks/layout.njk" %}
{% from "forms/index.njk" import formRender %}



{% block content %}
  {{ title(pageTitle) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>You are about to send final reminder letters to all licence holders in the
        current return cycle with due returns.</p>

      <p>
        <a href="/admin/returns-notifications/final-reminder/csv">Download a list of recipients</a>
      </p>
    </div>
  </div>


  {{ formRender(form) }}

{% endblock %}
